@charset "utf-8";    


@font-face {
    font-family: 'mark_my_words';
    src: url('../fonts/mark_my_words.eot');
    src: url('../fonts/mark_my_words.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/*본문 폰트*/
@font-face {
    font-family: 'GowunDodum-Regular';
    src: url('../fonts/GowunDodum-Regular.eot');
    src: url('../fonts/GowunDodum-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}