<div id="skip">
    <a href="#gnb">메뉴로 건너뛰기</a>
    <a href="#content">콘텐츠로 건너뛰기</a>
</div>

<header id="header">
    <h1 class="logo">
        <a href="../../web/main/index.html"><span class="blind">해양수산부 수산교육포털</span></a>
    </h1>
    <nav id="gnb">
        <ul class="gnb">
            <li class="char01">
                <a href="">수산공익직불제 안내</a>
                <ul>
                    <li><a href="">수산공익직불제</a></li>
                    <li><a href="">조건불리지역 직불제</a></li>
                    <li><a href="">경영이양 직불제</a></li>
                    <li><a href="">수산자원보호 직불제</a></li>
                    <li><a href="">친환경 수산물 생산지원직불제</a></li>
                    <li><a href="">소규모어가 직불제</a></li>
                    <li><a href="">어선원 직불제</a></li>
                </ul>
            </li>
            <li class="char02">
                <a href="">교육과정 안내</a>
                <ul>
                    <li><a href="">수산공익직불제 교육 안내</a></li>
                </ul>
            </li>
            <li class="char03">
                <a href="">교육수강</a>
                <ul>
                    <li><a href="">교육수강일정 (온라인)</a></li>
                    <li><a href="">교육수강일정 (오프라인)</a></li>
                    <li><a href="">나의강의실</a></li>
                    <li><a href="">이수증출력</a></li>
                    <li><a href="">원격지원서비스</a></li>
                </ul>
            </li>
            <li class="char04">
                <a href="">커뮤니티</a>
                <ul>
                    <li><a href="">공지사항</a></li>
                    <li><a href="">FAQ</a></li>
                    <li><a href="">교육 및 홍보자료</a></li>
                    <li><a href="">수산업 교육 정보</a></li>
                    <li><a href="">소식지</a></li>
                    <li><a href="">1:1 QnA</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <div class="link">
        <!-- <button type="button" class="search-btn"><span class="blind">검색</span></button> -->
        <a href="#search-box" class="search-btn"><span class="blind">검색</span></a>
        <a href="../../web/mber/login.html" class="login"><span>로그인</span></a>
        <a href="#menu-all" class="menu-all"><span class="blind">전체메뉴</span></a>
    </div>
    <div id="search-box" class="search-box">
        <div class="wrap">
            <div class="popular-search-word">
                <strong>자주 찾는 검색어</strong>
                <ul>
                    <li><a href=""><span>1.</span>수산공익직불제교육</a></li>
                    <li><a href=""><span>2.</span>회원가입</a></li>
                    <li><a href=""><span>3.</span>수산공익직불제강의</a></li>
                    <li><a href=""><span>4.</span>교육</a></li>
                    <li><a href=""><span>5.</span>2022년 공익직불제</a></li>
                </ul>
            </div>

            <div class="search-area">
                <div class="search-input type1">
                    <input type="text" class="search" placeholder="검색어를 입력하세요" title="검색어를 입력하세요" />
                    <button type="button" class="search-btn">검색</button>
                </div>
                <div class="recent-search-word">
                    <strong>최근 검색어</strong>
                    <ul>
                        <li><a href="">수산공익직불제교육</a></li>
                        <li><a href="">회원가입</a></li>
                        <li><a href="">수산공익직불제강의</a></li>
                        <li><a href="">교육</a></li>
                        <li><a href="">2022년 공익직불제</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="header-bg">
        <div class="title">
            <div class="txt-box"></div>
            <div class="img-box"></div>
        </div>
    </div>

    <!-- 모바일 메뉴 -->
    <nav id="totalMb">
        <ul class="mGnb">
            <li class="">
                <a href="">수산공익직불제</a>
                <ul>
                    <li><a href="">수산공익직불제</a></li>
                    <li><a href="">조건불리지역 직불제</a></li>
                    <li><a href="">경영이양 직불제</a></li>
                    <li><a href="">수산자원보호 직불제</a></li>
                    <li><a href="">친환경 수산물 생산지원직불제</a></li>
                    <li><a href="">소규모어가 직불제</a></li>
                    <li><a href="">어선원 직불제</a></li>
                </ul>
                <div class="img-box char01"></div>
            </li>
            <li>
                <a href="">교육과정</a>
                <ul>
                    <li><a href="">수산공익직불제 교육 안내</a></li>
                </ul>
                <div class="img-box char02"></div>
            </li>
            <li>
                <a href="">교육수강</a>
                <ul>
                    <li><a href="">교육수강일정 (온라인)</a></li>
                    <li><a href="">교육수강일정 (오프라인)</a></li>
                    <li><a href="">나의강의실</a></li>
                    <li><a href="">이수증출력</a></li>
                    <li><a href="">원격지원서비스</a></li>
                </ul>
                <div class="img-box char03"></div>
            </li>
            <li>
                <a href="">커뮤니티</a>
                <ul>
                    <li><a href="">공지사항</a></li>
                    <li><a href="">FAQ</a></li>
                    <li><a href="">교육 및 홍보자료</a></li>
                    <li><a href="">수산업 교육 정보</a></li>
                    <li><a href="">소식지</a></li>
                    <li><a href="">1:1 QnA</a></li>
                </ul>
                <div class="img-box char04"></div>
            </li>
        </ul>
    </nav>
</header>

<div id="menu-all-wrap">
    <div id="menu-all">
        <a href="" class="close-btn"><i class="fas fa-times"></i></a>
        <h2 class="blind">사이트맵</h2>
        <ul>
            <li>
                <a href="">수산공익직불제 안내</a>
                <ul>
                    <li><a href="">수산공익직불제</a></li>
                    <li><a href="">조건불리지역 직불제</a></li>
                    <li><a href="">경영이양 직불제</a></li>
                    <li><a href="">수산자원보호 직불제</a></li>
                    <li><a href="">친환경 수산물 생산지원직불제</a></li>
                    <li><a href="">소규모어가 직불제</a></li>
                    <li><a href="">어선원 직불제</a></li>
                </ul>
            </li>
            <li>
                <a href="">교육과정 안내</a>
                <ul>
                    <li><a href="">수산공익직불제 교육 안내</a></li>
                </ul>
            </li>
            <li>
                <a href="">교육수강</a>
                <ul>
                    <li><a href="">교육수강일정 (온라인)</a></li>
                    <li><a href="">교육수강일정 (오프라인)</a></li>
                    <li><a href="">나의강의실</a></li>
                    <li><a href="">이수증출력</a></li>
                    <li><a href="">원격지원서비스</a></li>
                </ul>
            </li>
            <li>
                <a href="">커뮤니티</a>
                <ul>
                    <li><a href="">공지사항</a></li>
                    <li><a href="">FAQ</a></li>
                    <li><a href="">교육 및 홍보자료</a></li>
                    <li><a href="">수산업 교육 정보</a></li>
                    <li><a href="">소식지</a></li>
                    <li><a href="">1:1 QnA</a></li>
                </ul>
            </li>
        </ul>
        <span class="call">문의안내 1600-3256</span>
    </div>
</div>