@charset "utf-8";

.container {
    clear: both;
    width: 100%;
}

#all_menu {
    position: fixed;
    left: 0;
    top: -100vh;
    width: 100vw;
    height: 100vh;
    z-index: 90;
    background-color: rgba(255, 255, 255, 0.95);
    transition-duration: 0.6s;
    opacity: 0;
    visibility: hidden;
}

#ck1:checked ~ #all_menu {
    top: 0;
    opacity: 1;
    visibility: visible;
}

#all_menu .cate_tit {
    letter-spacing: -1px;
    font-weight: 500;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.menu_fr {
    width: 1440px;
    margin: 0 auto;
    padding-top: 130px;
}

.menu_fr li.cate {
    width: 25%;
    float: left;
}

.menu_fr li.cate .dp2 li {
    line-height: 1.8;
    border-left: 1px solid #999;
    padding-left: 24px;
}

.menu_fr li.cate .dp2 li.dp2_tit {
    border-left: 0;
    padding-left: 0;
    padding-top: 0;
    font-size: 16px;
    font-weight: 600;
}

.menu_fr li.cate .dp2 li a {
    color: #333;
    font-size: 14px;
}

.menu_fr li.cate .dp2 li a:hover {
    color: #333;
    font-weight: 600;
}

#search_form {
    position: fixed;
    left: 0;
    top: 125px;
    width: 100vw;
    height: 0px;
    z-index: 90;
    background-color: rgba(240, 240, 240, 0.95);
    transition-duration: 0.6s;
    overflow: hidden;
}

.search_fr {
    width: 1000px;
    margin: 0 auto;
    position: relative;
    padding-top: 60px;
}

.search_fr fieldset {
    border: 0;
    outline: 0;
}

#keywords {
    display: block;
    width: 1000px;
    height: 60px;
    border: none;
    outline: 0;
    border-bottom: 2px solid #333;
    text-indent: 14px;
    font-size: 20px;
    background-color: transparent;
}

#search_btn {
    display: block;
    background-color: transparent;
    text-indent: -9999px;
    width: 60px;
    height: 60px;
    background-image: url(../images/ico_search.png);
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    top: 60px;
    cursor: pointer;
}

#ck2:checked ~ #search_form {
    height: 40vh;
}

.hash_fr a {
    display: block;
    line-height: 20px;
    padding: 5px 12px;
    color: #333;
    border: 1px solid #ccc;
    background-color: #eee;
    font-size: 16px;
    border-radius: 16px;
    float: left;
    margin-right: 18px;
    margin-bottom: 18px;
}

.hash_fr a:hover {
    color: brown;
    border-color: brown;
}

.hash_tit {
    padding-top: 50px;
    padding-bottom: 20px;
}

.ck {
    display: none;
}

.hd {
    clear: both;
    width: 100%;
    height: 125px;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 91;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    transition: height 0.3s;
}

.hd.shrink {
    height: 100px;
}

.hd_wrap {
    clear: both;
    width: 1440px;
    height: 50px;
    border-bottom: 1px solid #ccc;
    margin: 0 auto;
    position: relative;
}

.top1 {
    float: left;
    margin-top: 5px;
}

.top1 li {
    float: left;
    margin-right: 4px;
}

.top1 li a {
    display: block;
    width: 36px;
    height: 36px;
    text-align: center;
    padding-top: 5px;
}

.menu_call_btn {
    display: block;
    width: 22px;
    height: 22px;
    padding: 7px;
    cursor: pointer;
}

.menu_call_btn span {
    display: block;
    width: 22px;
    height: 2px;
    background-color: #333;
    margin-bottom: 6px;
}

.search_call_btn {
    display: block;
    width: 36px;
    height: 36px;
    background-image: url(../images/icon_search.png);
    background-position: center center;
    background-repeat: no-repeat;
    text-indent: -9999px;
    cursor: pointer;
}

.logo {
    display: block;
    width: 140px;
    height: 26px;
    background-image: url(../images/logo2.png);
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    top: 12px;
    left: 50%;
    margin-left: -70px;
    text-indent: -9999px;
}

.lang {
    float: right;
    margin-top: 5px;
}

.lang a {
    display: block;
    float: left;
    padding: 5px 12px;
    color: #888;
    font-weight: 600;
    bottom: 2px solid transparent;
    border-radius: 20px;
}

.lang a.cur_lang {
    color: #333;
    bottom: 2px solid #ccc;
}

#gnb {
    clear: both;
    width: 1440px;
    margin: 0 auto;
}

#gnb > ul > li {
    float: left;
    width: 25%;
    text-align: center;
    line-height: 84px;
}

#gnb li a.dp1 {
    color: #000;
    display: block;
    line-height: 68px;
    border-bottom: 3px solid transparent;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: -1px;
    height: 70px;
}

#gnb li:hover a.dp1 {
    color: #333;
    font-weight: 600;
    border-bottom: 3px solid #333;
}

.sub {
    opacity: 0;
    visibility: hidden;
    transition: height 0.6s;
    width: 100%;
    position: absolute;
    left: 0;
    top: 125px;
    height: 0;
    overflow: hidden;
    /*background-color: rgba(255, 255, 255, 0.8);*/
    background: #f4f4f7;
}

#gnb li:hover .sub {
    height: 18vw;
    opacity: 1;
    visibility: visible;
}

#gnb li:hover .sub.item1 {
    padding-left: 13vw;
}

#gnb li .sub.item1 ul {
    float: left;
    width: 180px;
    margin-right: 25px;
    text-align: left;
}

#gnb li .sub.item1 ul li {
    line-height: 16px;
    padding-top: 15px;
}

#gnb li .sub.item1 ul li.menu_tit {
    padding-top: 30px;
    line-height: 44px;
    border-bottom: 1px solid #333;
    font-weight: 600;
    font-size: 18px;
}

#gnb li .sub.item1 ul li a {
    color: #333;
}

#gnb li .sub.item1 ul li a:hover {
    color: #000;
    font-weight: 600;
}

#gnb li:hover .sub.item2 {
    padding-left: 25vw;
}

#gnb li .sub.item2 ul {
    float: left;
    width: 180px;
    margin-right: 25px;
    text-align: left;
}

#gnb li .sub.item2 ul li {
    line-height: 16px;
    padding-top: 15px;
}

#gnb li .sub.item2 ul li.menu_tit {
    padding-top: 30px;
    line-height: 44px;
    border-bottom: 1px solid #333;
    font-weight: 600;
    font-size: 18px;
}

#gnb li .sub.item2 ul li a {
    color: #333;
}

#gnb li .sub.item2 ul li a:hover {
    color: #000;
    font-weight: 600;
}

#gnb li:hover .sub.item3 {
    padding-left: 45vw;
}

#gnb li .sub.item3 ul {
    float: left;
    width: 180px;
    margin-right: 25px;
    text-align: left;
}

#gnb li .sub.item3 ul li {
    line-height: 16px;
    padding-top: 15px;
}

#gnb li .sub.item3 ul li.menu_tit {
    padding-top: 30px;
    line-height: 44px;
    border-bottom: 1px solid #333;
    font-weight: 600;
    font-size: 18px;
}

#gnb li .sub.item3 ul li a {
    color: #333;
}

#gnb li .sub.item3 ul li a:hover {
    color: #000;
    font-weight: 600;
}

#gnb li:hover .sub.item4 {
    padding-left: 75vw;
}

#gnb li .sub.item4 ul {
    float: left;
    width: 180px;
    margin-right: 25px;
    text-align: left;
}

#gnb li .sub.item4 ul li {
    line-height: 16px;
    padding-top: 15px;
}

#gnb li .sub.item4 ul li.menu_tit {
    padding-top: 30px;
    line-height: 44px;
    border-bottom: 1px solid #333;
    font-weight: 600;
    font-size: 18px;
}

#gnb li .sub.item4 ul li a {
    color: #333;
}

#gnb li .sub.item4 ul li a:hover {
    color: #000;
    font-weight: 600;
}
/*ν‘Έν„° μ‹μ‘*/
.ft {
    clear: both;
    width: 100%;
    height: 450px;
    background-color: rgb(240,240,240);
    color: #fff;
    padding: 70px 0 73px;
}

.ft_wrap {
    width: 1440px;
    margin: 0 auto;
}

.ft_box .col1 {
    float: left;
    width: 100%;
}
.ft_box .col1 .sitemap {
    float: left;
    width: 25%;
}

.ft_box .col2 {
    clear: both;
    float: left;
}

.ft_box .col3 {
    float: right;
    position: relative;
}

.sitemap {
    padding-bottom: 70px;
}

.sitemap p {
    display: block;
    color: #000;
    margin-bottom: 20px;
    font-size: 14px;
}

.sitemap ul li a {
    display: block;
    color: #333;
    font-family: "NanumBarunGothic";
    font-size: 12px;
    line-height: 28px;
}
/*.sitemap p:after {
    content: "|";
    padding-left: 25px;
    font-weight: normal;
}

.sitemap p:last-child::after {
    content: "";
}*/
.col2 p {
    font-size: 12px;
    font-family: "NanumBarunGothic";
    line-height: 2em;
}
.col2 .addr {
    padding-bottom: 60px;
    color: #000;
}

.col2 .copyright {
    color: #bbb;
}
.col2 .lang {
    position: relative;
    margin-top: -20px;  
    margin-right: 200px;
}
.col2 .lang span {
    display: block;
    float: left;
    margin-right: 10px;    
    color: #333;
    font-size: 12px;
}
.col2 .lang .kor:before {
    content: "";
    background: url(../images/ico_kor.svg) no-repeat center center;
    background-size: 14px 10px; 
    width: 14px;
    height: 10px;
    position: absolute;
    top: 19%;
    left: -20px;
}

.sns_link a {
    display: block;
    float: left;
    width: 17px;
    height: 17px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 17px 17px;
    margin-left: 45px;
}

.sns_link .sns_kakaotalk {
    background-image: url(../images/sns_kakaotalk.png);
}

.sns_link .sns_facebook {
    background-image: url(../images/sns_facebook.png);
    background-size: 9px 17px;
}

.sns_link .sns_youtube {
    background-image: url(../images/sns_youtube.svg);
}

.sns_link .sns_instagram {
    background-image: url(../images/sns_instagram.svg);
}

.sns_link .sns_pinterest {
    background-image: url(../images/sns_pinterest.svg);
}
.inipay img {
    display: block;
    float: right;
    margin-top: 80px;
}
#sel {
    display: block;
    width: 150px;
    line-height: 44px;
    font-size: 16px;
    height: 44px;
    position: absolute;
    bottom: 10px;
    right: 0;
}

.page_tit {
    text-align: center;
    font-size: 42px;
    line-height: 1.6;
    padding-top: 1.8em;
}

.none_tit {
    display: none;
}
