@charset "utf-8";  

@font-face {
    font-family: 'NanumBarunGothic';
    src: url('../fonts/NanumBarunGothic.eot');
    src: url('../fonts/NanumBarunGothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;    
}
@font-face{
    font-family: 'Pretendard-Light';
    src: url('../fonts/Pretendard-Light.eot');
    src: url('../fonts/Pretendard-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;  
}
@font-face{
    font-family: 'Pretendard-Regular';
    src: url('../fonts/Pretendard-Regular.eot');
    src: url('../fonts/Pretendard-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;  
}