@charset "utf-8";

/* Color */
/* .color-blue {color:#1460b6 !important;} */
.color-blue {color:#007bb5 !important;}
.color-red {color:#ff5757 !important;}

#wrap { padding-top:80px; }
/* .content-wrap { width:100%; max-width:1200px; margin:0 auto; } */

/* 접근성 */
.blind { position:absolute; clip:rect(0 0 0 0); width:1px; height:1px; margin:-1px; overflow:hidden; }

/* skip */
/* #skip 
.skip { position:relative;}
.skip a { display:block; height:1px; width:1px; margin-bottom:-1px; overflow:hidden; text-align:center; color:#000; white-space:nowrap;}
.skip a:focus, .skip a:active {position:absolute; top:0; left:0; z-index:999999; height:auto; width:100%; padding:5px; margin-bottom:10px;background:#767575;color:#fff;font-weight:bold}

a.skipNav { display:block; position:absolute; top:-1px; left:0; height:1px; width:1px; overflow:hidden; font-size:0; line-height:0; }
a.skipNav:hover,
a.skipNav:active,
a.skipNav:focus { position:relative; top:0; width:100%; height:auto; margin:0; padding:10px 0; color:#c40; font-weight:bold; font-size:1.5rem; line-height:2.5rem; text-indent:10px; text-decoration:none; background-color:#eee; z-index:9999; } */

/* #skip {width:100%; height:0px; top:0px; left:0px}
#skip a {display:block; position:absolute; top:0px; text-indent:-9999px; overflow:hidden}
#skip a:focus, #skip a:active {display:block; position:absolute; z-index:11; top:0px; left:0; width:100%; height:14px; padding:6px 0px; font-weight:bolder; line-height:14px; text-align:center; color:#F5CF1D; background:#D12727; font-size:13px; text-indent:0px} */

#skip a { display:block; position:absolute; top:-1px; left:0; height:1px; width:1px; overflow:hidden; text-align:center; font-size:0; line-height:0; }
#skip a:hover,
#skip a:active,
#skip a:focus { position:absolute; top:0; width:100%; height:auto; margin:0; padding:5px; color:#fff; font-weight:bold; font-size:1.5rem; line-height:2.5rem; text-indent:10px; text-decoration:none; background-color:#193a70; z-index:9999; }

/* Header */
/* #header { overflow:visible; position:relative; height:80px; border-bottom:1px solid #dbdbdf; }

#header h1 { position:absolute; top:20px; left:50%; width:135px; height:38px; margin-left:-600px; z-index:3; }
#header h1 a { display:block; width:100%; height:100%; }
#header h1 a span { position:relative; z-index:-1; }

#header span.link { position:absolute; top:25px; right:50%; margin-right:-600px; font-size:0; z-index:2; }
#header span.link a { color:#777; font-size:1.5rem; line-height:33px; vertical-align:middle; }
#header span.link a:nth-child(n + 2) { margin-left:20px; }
#header span.link a:last-child { overflow:hidden; display:inline-block; width:23px; height:19px; margin-left:45px; border:7px solid #fff; border-width:7px 5px; font-size:1rem; line-height:1; background-position:0 -116px; }
#header span.link a:last-child span { position:relative; z-index:-1; }

#header span.link a:last-child.on { width:11px; height:11px; border:11px solid #f86550; background-position:-147px -57px; }
#header span.link a:last-child.on span::after { content:'닫기'; display:inline; }

#header > button,
#header div.headSearch { display:none; } */

/* GNB */
/* #gnb { position:relative; padding-top:32px; z-index:2;}
#gnb > ul { display:flex; width:600px; margin:0 auto; }
#gnb > ul > li { flex:auto; position:relative; text-align:center; }
#gnb > ul > li:nth-child(n + 2)::before { content:''; width:1px; height:10px; background-color:#7c7c7c; position:absolute; left:0; top:50%; transform:translateY(-50%) rotate(25deg); }
#gnb > ul > li > a { display:inline-block; padding:0; color:#333; font-family:EsaManru; font-size:1.8rem; font-weight:300; } */

/* #gnb > ul > li > a::after{position:absolute;bottom:-1px;left:0;width:100%;height:0;content:'';background:#26497f;transition:all 0.3s ease;-webkit-transition:all 0.3s ease;}
#gnb > ul > li.hv > a,
#gnb > ul > li.on > a,
#gnb > ul > li > a:hover{color:#06377b}
#gnb > ul.on > li.hv > a::after,
#gnb > ul.on > li.on > a::after,
#gnb > ul.on > li > a:hover::after{height:4px}
#gnb > ul > li.hv > ul{background:#f8f8f8;z-index:1}
#gnb > ul > li > ul{position:absolute;top:100px;left:0;padding-top:20px;width:100%;min-height:400px;border-right:1px solid #e1e1e1}
#gnb > ul > li > ul li{margin-bottom:2px;}
#gnb > ul > li > ul li a{display:inline-block;padding:4px 10px;font-size:15px;color:#636363;font-weight:400;line-height:1.1}
#gnb > ul > li > ul li a:hover,
#gnb > ul > li > ul li.on a{color:#252525;}
#gnb > ul > li:first-child > ul{border-left:1px solid #e1e1e1} */

/* #gnb ul li div { overflow:hidden; display:none; position:absolute; top:69px; left:0; width:800px; z-index:2; } */

/* #gnb ul li > a::after { content:''; position:relative; display:block; margin:26px -5px 0; border-bottom:5px solid transparent; z-index:1; }

#gnb ul li div { overflow:hidden; display:none; position:absolute; top:69px; left:0; width:800px; z-index:2; }
#gnb ul li div a { float:left; margin-left:35px; padding-bottom:2px; border-bottom:1px solid transparent; color:#666; font-size:1.8rem; }
#gnb ul li div a:first-child { margin-left:25px; }
#gnb ul li div a:hover,
#gnb ul li div a:active,
#gnb ul li div a:focus { border-bottom-color:currentColor; color:#000; font-weight:500; }

#gnb.on { height:108px; border-bottom:1px solid #edeeef; box-shadow:0 10px 10px rgba(0, 0, 0, 0.1); }
#gnb.on::before { content:''; display:block; position:absolute; top:80px; width:100%; border-bottom:1px solid #dbdbdf; }
#gnb.on li { height:108px; }
#gnb ul li > a.on { color:#378aff; }
#gnb ul li > a.on::after { border-bottom-color:#378aff; }
#gnb ul li > a.on + div { display:block; } */

/* All Menu */
/* #menuAll { display:none; position:absolute; top:81px; left:0; width:100%; padding:60px 0 80px; border-bottom:1px solid #edeeef; box-shadow:0 10px 10px rgba(0, 0, 0, 0.1); background-color:#fff; z-index:10; }
#menuAll.on { display:block; }
#menuAll ol { display:flex; flex-wrap:wrap; width:990px; margin:0 auto; padding-left:210px; }
#menuAll ol li { width:25%; }
#menuAll ol li:nth-child(n + 5) { margin-top:80px; }
#menuAll ol li strong a { color:#000; font-size:1.8rem; font-weight:500; }
#menuAll ol li div { margin-top:13px; }
#menuAll ol li div a { float:left; clear:left; margin-top:14px; padding-bottom:2px; border-bottom:1px solid transparent; color:#666; font-size:1.8rem; }
#menuAll ol li div a:hover,
#menuAll ol li div a:active,
#menuAll ol li div a:focus { border-bottom-color:currentColor; color:#000; font-weight:500; } */

/* Header */ 
#header { position:fixed; top:0; left:0; width:100%; height:80px; background-color:#fff; box-shadow:6px 0 15px rgba(216, 221, 228, 0.8); z-index:999; }

#header h1 { position:absolute; top:50%; left:50px; transform:translateY(-50%); width:265px; height:31px; z-index:3; }
#header h1 a { display:block; background:url(../images/common/logo.png) no-repeat center; width:100%; height:100%; }

#header .link { position:absolute; top:0; right:0; font-size:0; z-index:2; }
#header .link a { font-size:1.5rem; vertical-align:middle; margin-left:15px; }
#header .link .search-btn { position:relative; display:inline-block; background:url(../images/common/ico-search.png) no-repeat center; width:23px; height:23px; }
#header .link .login { display:inline-block; width:130px; height:40px; line-height:40px; font-family:EsaManru; font-size:1.8rem; font-weight:300; text-align:center; border:1px solid #b4c4da; border-radius:25px; }
#header .link .login span::before { display:inline-block; content: ''; background:url(../images/common/ico-login.png) no-repeat center; width:17px; height:17px; background-size:contain; vertical-align:text-top; margin-right:5px; }
#header .link .menu-all { display:inline-block; background:url(../images/common/ico-menu.png) no-repeat center #007bb5; width:80px; height:80px; }
#header .link .search-btn.on { background:none; }
#header .link .search-btn.on::before {
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    height: 3px;
    content: '';
    transform: rotate(-45deg);
    background: #555;
    border-radius: 10px;
}
#header .link .search-btn.on::after {
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    height: 3px;
    content: '';
    transform: rotate(45deg);
    background: #555;
    border-radius: 10px;
}


#header .search-box { display:none; position:absolute; top:80px; left:0; width:100%; padding:30px 0; border-top:1px solid #e2e2e2; background-color:#fff; box-shadow:0 6px 15px rgba(216, 221, 228, 0.8); z-index:999; }
#header .search-box .wrap { display:flex; align-items:center; width:100%; max-width:1200px; margin:0 auto; }
#header .search-box .wrap .popular-search-word { width:20%; padding:0 20px; border-right:1px solid #e2e2e2; }
#header .search-box .wrap .popular-search-word strong { display:block; font-size:1.8rem; font-weight:600; text-align:center; margin-bottom:20px; }
#header .search-box .wrap .popular-search-word ul li { margin-bottom:10px; }
#header .search-box .wrap .popular-search-word ul li a { color:#707070; }
#header .search-box .wrap .popular-search-word ul li a span { color:#0082c5; margin-right:10px; }
#header .search-box .wrap .search-area { width:80%; padding:0 20px; }
#header .search-box .wrap .search-area .search-input { width:100%; max-width:700px; margin:0 auto 20px; }
#header .search-box .wrap .search-area .recent-search-word { display:flex; width:100%; max-width:700px; margin:0 auto; }
#header .search-box .wrap .search-area .recent-search-word strong { width:70px; color:#0082c5; margin-right:30px; }
#header .search-box .wrap .search-area .recent-search-word ul { display:flex; flex-flow:wrap; width:calc(100% - 100px); }
#header .search-box .wrap .search-area .recent-search-word ul li { margin-right:30px; margin-bottom:10px; }
#header .search-box .wrap .search-area .recent-search-word ul li:last-child { margin-right:0; }
#header .search-box .wrap .search-area .recent-search-word ul li a { color:#707070; }

@media screen and (max-width:1023px) {
    #header .search-box { padding:20px 0; }
    #header .search-box .wrap { flex-flow:column; }
    #header .search-box .wrap .popular-search-word { width:100%; border-right:0; }
    #header .search-box .wrap .popular-search-word strong { font-size:1.6rem; margin-bottom:10px; }
    #header .search-box .wrap .popular-search-word ul { display:flex; flex-flow:wrap; }
    #header .search-box .wrap .popular-search-word ul li { margin-right:10px; }
    #header .search-box .wrap .popular-search-word ul li:last-child { margin-right:0; }
    #header .search-box .wrap .popular-search-word ul li a span { margin-right:5px; }
    #header .search-box .wrap .search-area { width:100%; }
    #header .search-box .wrap .search-area .recent-search-word strong { margin-right:10px; }
    #header .search-box .wrap .search-area .recent-search-word ul { width:calc(100% - 80px); }
    #header .search-box .wrap .search-area .recent-search-word ul li { margin-right:10px; }
}



#header .header-bg { display:none; position:absolute; top:80px; left:0; width:100%; height:300px; border-top:1px solid #e2e2e2; background: linear-gradient(90deg, #f9f9f9 50%, #ffffff 50%); box-shadow:3px 7px 9px rgb(0, 0, 0, 0.1 ); z-index:1000; }
/* #header .header-bg::after { content:''; position:absolute; left:0; right:50%; top:0; bottom:0; margin-right:-367px; background-color:#bbb; z-index:-1; } */
#header .header-bg::after { content:''; position:absolute; left:0; right:50%; top:0; bottom:0; background:url(../images/common/header-bg1.png) no-repeat; }
#header .header-bg .title { display:none; position:absolute; bottom:30px; left:50%; margin-left:-600px; z-index:1; }
#header .header-bg .img-box { background:url(../images/common/char01.png); width:154px; height:154px; }
#header .header-bg .txt-box { text-align:center; margin-bottom:10px; }
#header .header-bg .txt-box p { line-height:1.3; }


/* GNB */
#gnb { position:relative; text-align:center; }
#gnb > ul { position:relative; overflow:hidden; display:inline-block; height:80px; vertical-align:middle; z-index:1001; }
#gnb > ul::after{ display:block; clear:both; content:''; }
#gnb > ul > li { position:relative; float:left; }
#gnb > ul > li:nth-child(n + 2)::before { content:''; width:1px; height:10px; background-color:#7c7c7c; position:absolute; left:0; top:50%; transform:translateY(-50%) rotate(25deg); }
#gnb > ul > li > a { position:relative; display:block; padding:0 45px; line-height:80px; color:#333; font-family:EsaManru; font-size:1.8rem; font-weight:300; }
#gnb > ul > li > ul { position:absolute; top:81px; left:0; width:100%; min-height:300px; padding-top:30px; background-color:#fff; }
#gnb > ul > li > ul > li { line-height:1.3; margin-bottom:15px; }
#gnb > ul > li > ul > li > a { padding:0 5px; transition:all 0.3s; }
#gnb > ul > li > ul > li > a:hover,
#gnb > ul > li > ul > li > a:active,
#gnb > ul > li > ul > li > a:focus { color:#60b1ff; }

#gnb > ul > li > a::after { content:''; width:5px; height:5px; background-color:#60b1ff; border-radius:50%; position:absolute; top:25%; left:50%; opacity:0; visibility:hidden; transition:all 0.3s; }
#gnb > ul > li.on > a::after { top:20%; opacity:1; visibility:visible; }
#gnb > ul > li.on > ul { background-color:#e6f3ff; }

/* All Menu */
#menu-all-wrap { display:none; align-items:center; justify-content:center; position:fixed; top:0; left:0; right:0; bottom:0; background-color:rgba(0,0,0,0.6); padding:0 20px; z-index:1000; }
#menu-all-wrap #menu-all { position:relative; width:100%; max-width:1400px; height:700px; background:url(../images/common/menu-all-bg.png) no-repeat center; padding:30px; }
#menu-all-wrap #menu-all .close-btn { float:right; font-size:2.5rem; }
#menu-all-wrap #menu-all > ul { clear:both; display:flex; justify-content:center; padding-top:100px; }
#menu-all-wrap #menu-all > ul > li { width:20%; }
#menu-all-wrap #menu-all > ul > li:nth-child(n + 2) { margin-left:20px; }
#menu-all-wrap #menu-all > ul > li > a { display:block; width:100%; height:40px; line-height:40px; font-size:1.8rem; text-align:center; color:#fff; background-color:#008dc7; border-radius:23px; }
#menu-all-wrap #menu-all > ul > li > ul { width:90%; margin:0 auto; padding:30px 15px; background-color:#f8f8f8; }
#menu-all-wrap #menu-all > ul > li > ul > li { line-height:1.3; margin-bottom:15px; }
#menu-all-wrap #menu-all .call { width:200px; height:40px; line-height:40px; font-size:1.8rem; text-align:center; background-color:#f8f8f8; border-radius:23px; position:absolute; bottom:30px; left:50%; transform: translateX(-50%); }

#menu-all-wrap.on { display:flex; }

/* 모바일 메뉴 */
#totalMb { display:none; }

/* Footer */
#footer { padding:30px; background-color:#383b4a; word-break:keep-all; }
#footer .ft-wrap { display:flex; flex-flow:wrap-reverse; justify-content:space-between; width:100%; max-width:1400px; margin:0 auto; }
#footer .ft-wrap .txt-area address { color:#fff; line-height:1.3; margin-bottom:10px; }
#footer .ft-wrap .txt-area p { color:#8f9096; }
#footer .ft-wrap .ft-menu li { display:inline-block; }
#footer .ft-wrap .ft-menu li a { color:#fff; }
#footer .ft-wrap .ft-menu li:nth-child(1) a { color: #fcba03; font-weight:600; }
#footer .ft-wrap .ft-menu li:nth-child(n + 2)::before { content:''; display:inline-block; vertical-align:middle; width:1px; height:17px; margin:0 10px; background-color:#828282; }

@media screen and (max-width:1600px) {
    /* Footer */
    #footer .ft-wrap .ft-menu { margin-bottom:15px; }
}

@media screen and (max-width:1400px) {
    /* Header */ 
    #header h1 { left:20px; width:104px; height:38px; }
    #header h1 a { background:url(../images/common/m-logo.png) no-repeat center; }

    #header .link .search-btn { width:18px; height:18px; background-size:contain; }
    #header .link .login { width:90px; height:30px; line-height:30px; font-size:1.4rem; }

    #header .header-bg .title { margin-left:-470px; }

    /* GNB */
    #gnb > ul > li > a { padding:0 25px; font-size:1.6rem; }
    #gnb > ul > li > ul > li { word-break:keep-all; }
    #gnb > ul > li > ul > li > a { font-size:1.4rem; }

    /* Footer */
    #footer { padding:30px 20px; }
}

@media screen and (max-width:1023px) {
    #wrap { padding-top:60px; }

    /* Header */ 
    #header { height:60px; }

    #header h1 { width:80px; }
    #header h1 a { background-size:contain; }

    #header .link a { margin-left:10px; }
    #header .link .menu-all { width:60px; height:60px; }

    #header .search-box { top:60px; }

    /* GNB */
    #gnb { display:none; }

    /* All Menu */
    #menu-all-wrap { display:none !important; }

    /* 모바일 메뉴 */
    #totalMb { display:block; position:fixed; top:60px; right:-400px; width:400px; height:calc(100% - 60px); background-color:#fff; border-top:1px solid #e2e2e2; transition:all 0.2s ease; -webkit-transition:all 0.2s ease; z-index:500; }
    #totalMb .mGnb { position:relative; width:100%; height:100%; background-color:#fff; }
    #totalMb .mGnb::after { position:absolute; content:''; top:0; left:40%; width:0; height:100%; border-left:1px solid #e0e0e0; }
    #totalMb .mGnb::before { position:absolute; content:''; top:0; left:0; width:40%; height:100%; background-color:#f8f8f8; }
    #totalMb .mGnb > li { width:40%; }
    #totalMb .mGnb > li > a { position:relative; display:block; padding:0 10px; font-family:EsaManru; font-size:1.6rem; font-weight:300; color:#313131; line-height:50px; background:#f8f8f8; z-index:2; }
    #totalMb .mGnb > li.open > ul { visibility:visible; opacity:1; }
    #totalMb .mGnb > li.open > a { position:relative; color:#fff; background-color:#406bc7; text-decoration:none; box-shadow:4px 4px 7px rgba(0,0,0,0.1); z-index:3; }
    #totalMb .mGnb > li.open > a::after { position:absolute; top:0; right:-15px; content:''; width:0px; height:0px; border-left:15px solid #406bc7; border-top:25px solid transparent; border-bottom:25px solid transparent; }
    #totalMb .mGnb > li > ul { visibility:hidden; opacity:0; position:absolute; top:0; left:40%; padding:0 20px; width:60%; height:100%; padding-bottom:174px; overflow-x:hidden; overflow-y:auto; }
    #totalMb .mGnb > li > ul > li { opacity:0; position:relative; transform:translateX(50%); transition:all .5s; }
    #totalMb .mGnb > li.open > ul > li { opacity:1; transform:translateX(0); }
    #totalMb .mGnb > li > ul > li:nth-child(n + 2) { border-top:1px solid #e0e0e0; }
    #totalMb .mGnb > li > ul > li > a { position:relative; display:block; padding:15px 5px; font-size:1.4rem; line-height:1.3; color:#636363; word-break:keep-all; }
    #totalMb .mGnb > li > ul > li > a:hover,
    #totalMb .mGnb > li > ul > li.on > a,
    #totalMb .mGnb > li > ul > li.open > a { color:#06377b; }
    #totalMb .mGnb > li > .img-box { display:none; position:absolute; bottom:0; left:40%; width:60%; height:174px; }
    #totalMb .mGnb > li > .char01 { background:url(../images/common/char01.png) no-repeat center #fff; }
    #totalMb .mGnb > li > .char02 { background:url(../images/common/char02.png) no-repeat center #fff; }
    #totalMb .mGnb > li > .char03 { background:url(../images/common/char03.png) no-repeat center #fff; }
    #totalMb .mGnb > li > .char04 { background:url(../images/common/char04.png) no-repeat center #fff; }
    #totalMb .mGnb > li.on > .img-box { display:block; }
    #totalMb.on { right:0; }

    /* Footer */
    #footer { padding:20px; text-align:center; }
    #footer .ft-wrap { flex-flow:column-reverse; }
}

@media screen and (max-width:767px) {
    body { font-size:1.4rem; }

    /* 모바일 메뉴 */
    #totalMb { right:-100%; width:100%; }

    /* Footer */
    #footer .ft-wrap .txt-area address,
    #footer .ft-wrap .txt-area p,
    #footer .ft-wrap .ft-menu { font-size:12px; }
}





/* Radio, Checkbox */
input[type="radio"],
input[type="checkbox"] {position: absolute; overflow: hidden; clip: rect(0 0 0 0); margin: -1px; width: 1px; height: 1px;}
input.checkbox + label {display: inline-block; vertical-align: middle;}
input.checkbox + label span {position: relative; display: inline-block; vertical-align: middle; margin-right: 3px; width: 20px; height: 20px; border-radius: 3px; border: 1px solid #a3b1b7; background-color: #fff;}
input.checkbox + label span::after {content: ""; width: 14px; height: 11px; background: url(/images/hmpg/common/ico-check-w.png) no-repeat center; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}
input.checkbox:checked + label span {background-color: #323a43; border-color: #323a43;}
input.checkbox:focus + label span {border-color: #323a43;}

input.radio {position:absolute; overflow:hidden; clip:rect(0 0 0 0); margin:-1px; width:1px; height:1px;}
input.radio + label {display:inline-block; vertical-align:middle;}
input.radio + label span {display:inline-block; position:relative; width:16px; height:16px; margin-right:5px; border-radius:50%; border:1px solid #a3b1b7; background:#fff !important; vertical-align:middle;}
input.radio:focus-visible + label span {border-color:#323a43;}
input.radio:checked + label span {background:none !important;}
input.radio:checked + label span::after {content:''; position:absolute; top:2px; left:2px; width:10px; height:10px; border-radius:50%; background:#589ccc;}

input.small + label span {width: 12px; height: 12px;}
input.checkbox.small + label span::after {width: 8px; height: 6px; background-size: contain;}
input.radio.small:checked + label span::after {width: 6px; height: 6px; top: 2px; left: 2px;}

/* Text Input */
input[type="text"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="email"],
textarea {-webkit-border-radius:0;-webkit-appearance:none;}
input::-webkit-input-placeholder {color:#999}
input:-moz-placeholder {color:#999}
input::-moz-placeholder {color:#999}
input:-ms-input-placeholder {color:#999}
textarea::-webkit-input-placeholder {color:#999}
textarea:-moz-placeholder {color:#999}
textarea::-moz-placeholder {color:#999}
textarea:-ms-input-placeholder {color:#999}

input[type="text"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="email"] {height:40px;padding:0 10px;border:1px solid #cdcdcd;}
input[type="file"] {display:inline-block;line-height:normal !important}
textarea {width:100%;margin:0;padding:10px;border:1px solid #cdcdcd;resize: none;}

input.type1 {border: 0; border-bottom: 2px solid #323a43;}
input.type2 {border: 0; border-bottom: 1px solid #323a43;}
input.true {padding-right: 32px; background: url(../images/ico-check.png) no-repeat center right 10px;}
input.error {border-color: #ff2c00; padding-right: 32px; background: url(/images/hmpg/common/ico-error.png) no-repeat center right 10px;}
input + span.txt {display: none; margin-top: 5px; color: #ff2c00;}
input.error + span.txt {display: block;}

.search-input {position: relative;}
.search-input input {width: 100%; padding-right: 37px;}
.search-input button {position: absolute; right: 0; top: 0; width: 40px; height: 40px; font-size: 0; background: url(../images/common/ico-search.png) no-repeat center; background-size: 20px;}

.search-input.type1 input {border: 0; border-bottom: 2px solid #323a43;}

/* Selectbox */
select::-ms-expand {display:none;}
select {height:40px;padding:0 33px 0 10px;border:1px solid #cdcdcd;background:#fff url(/images/hmpg/common/ico-select.png) no-repeat center right 10px;-webkit-appearance:none;-moz-appearance:none;}
select.type1 {border: 0; border-bottom: 2px solid #323a43;}

/* Nice Select Custom */
.nice-select {border-radius: 0; border: solid 1px #cdcdcd; font-size: inherit; height: 40px; padding: 0 33px 0 10px;}
/* .nice-select::after {border: 0; background: #fff url(/images/hmpg/common/ico-select.png) no-repeat center; width: 13px; height: 8px; -webkit-transform-origin: center; -ms-transform-origin: center; transform-origin: center; -webkit-transform: rotate(0); -ms-transform: rotate(0); transform: rotate(0);} */
/* .nice-select.open::after {-webkit-transform: rotate(-180deg); -ms-transform: rotate(-180deg); transform: rotate(-180deg);} */
/* .nice-select .list {border: 1px solid #323a43; border-radius: 0; right: 0; margin-top: 2px; padding: 3px;}
.nice-select .option {padding: 0 10px;}
.nice-select .list:hover .option:hover {color: #fff;}
.nice-select .list:hover .option:not(:hover) {background-color: #fff !important; color: #333;}
.nice-select:focus {outline: 2px solid #000; border-radius: 2px;}
.nice-select .option:hover, 
.nice-select .option.focus, 
.nice-select .option.selected.focus {background-color: #323a43 !important; color: #fff;} */

.nice-select.type1 {border: 0; border-bottom: 2px solid #323a43;}

/* Button */  
/* .button-group {font-size: 0;}
.button-group .button:nth-child(n + 2) {margin-left: 10px;}
.button {display:inline-block; height:30px; padding:0 10px; box-sizing:border-box; font-size:16px; line-height:30px; color:#323a43; text-align:center; vertical-align:middle; background:#f7f7f7; transition:all 0.3s;}
.button.basic { background-color:#323a43; color:#fff; }
.button.round { border-radius:15px; }
.button.disabled { pointer-events: none; color: #fff; border: 1px solid #c5c5c5; background-color: #c5c5c5; }
.button.blue { background-attachment:fixed; }
.button.red { color:#ff2c00; border: 1px solid #ff2c00; }
.button.green { color:#319241; border: 1px solid #319241; }
.button.gray { color:#a1a1a1; border: 1px solid #a1a1a1; }

.button:hover,
.button:active,
.button:focus { background-color:#323a43; color:#fff; }
.button.basic:hover,
.button.basic:active,
.button.basic:focus { background-color:#5c6673; border-color:#5c6673; }
.button.blue:hover,
.button.blue:active,
.button.blue:focus { background-color:#1460b6; }
.button.red:hover,
.button.red:active,
.button.red:focus { background-color:#ff2c00; }
.button.green:hover,
.button.green:active,
.button.green:focus { background-color:#319241; }
.button.gray:hover,
.button.gray:active,
.button.gray:focus { background-color:#a1a1a1; }
.button.write:hover::after,
.button.write:active::after,
.button.write:focus::after { background-position:-14px center; }
.button.delete:hover::after,
.button.delete:active::after,
.button.delete:focus::after { background-position:-11px center; } */