@charset "utf-8";

#container .layout { width:100%; max-width:1400px; margin:0 auto; padding:50px 0; }
#container .layout::after { content:''; display:block; clear:both; }

#container #lnb {float:left; width:270px;}
#container #lnb .lnb-menu .tit {margin-bottom:15px; padding:15px; border-radius:30px; background-color:#007bb5; color:#fff; text-align:center;}
#container #lnb .lnb-menu ul li {margin-left:30px; padding:7px 0;}
#container #lnb .lnb-menu ul li a {display:block; position:relative; padding-left:10px; transition:all 0.3s;}
#container #lnb .lnb-menu ul li a::before {content:'·'; position:absolute; top:0; left:0;}
#container #lnb .lnb-menu ul li a:hover,
#container #lnb .lnb-menu ul li.on a {color:#007BB5;}

/* #container .content-wrap { overflow:hidden; padding-left:50px; } */
#container .content-wrap {float:right; width:calc(100% - 320px);}
#container #content {min-height:500px;}

@media screen and (max-width:1400px) {
    #container .layout { padding:50px 20px; }
}

@media screen and (max-width:1200px) {
    #container #lnb { display:none; }

    /* #container .content-wrap { overflow:visible; padding:0; } */
    #container .content-wrap {width:100%;}
}

.mobile-only {display: none !important;}

/* 타이틀 */
h4.tit {font-size: 20px;}
h6.tit {font-size: 18px;}
.tit-area .tit {position: relative; padding-left: 20px;}
.tit-area .tit::before {content: ''; background: url(/naksinuri_original/newImages/dot.png) no-repeat center; width: 12px; height: 12px; position: absolute; left: 0; top: 12px;}

/* 꾸밈 */
.dot-list {position: relative; padding-left: 10px;}
.dot-list::before {content: '·'; position: absolute; left: 0; top: 0;}
.check-list {position: relative; padding-left: 22px;}
.check-list::before {content: ''; background: url(/naksinuri_original/newImages/content/check_ico.png) no-repeat center; width: 17px; height: 13px; position: absolute; left: 0; top: 6px;}

.hl_blue {background: linear-gradient(to top, rgba(0, 123, 181, 0.1) 50%, transparent 50%);}
.round {display: inline-block; line-height: 1.3; padding: 5px 20px; border-radius: 30px; background-color: rgba(0, 144, 255, 0.13);}
.round.gray {background-color: #eee;}
.round h6 {font-size: 18px; font-weight: 500; margin-bottom: 3px;}

/* 테이블 */
.table-box:nth-of-type(n + 2) {margin-top: 30px;}
.table-box > table {margin: 10px 0;}
.table-box > p {text-align: right;}

table.data {border: 1px solid #007bb5;}
table.data tr {text-align: center;}
table.data thead th {padding: 10px 15px; border-right: 1px solid #dbdbdb; background-color: #def1ff; color: #007bb5; box-sizing: border-box;}
table.data thead th:last-child {border-right: 0;}
table.data thead tr:nth-child(n + 2) th {border-top: 1px solid #dbdbdb;}
table.data tbody th,
table.data tbody td {padding: 10px 15px; border-top: 1px solid #dbdbdb; box-sizing: border-box;}
table.data tbody th:nth-child(n + 2),
table.data tbody td:nth-child(n + 2) {border-left: 1px solid #dbdbdb;}
table.data tbody th {background-color: #f9f9f9; font-weight: normal;}
table.data tbody td .txt-box > p {margin-bottom: 10px;}
table.data tbody td .txt-box .dot-list:nth-child(n + 2) {margin-top: 10px;}
table.data.type1 tbody td {text-align: left;}
table.data.type2 tbody tr:nth-child(even) {background-color: #f9f9f9;}
table.data.type2 thead th {font-weight: 500; color: #333;}
table.data.type2 tbody th {background: transparent;}

table.horizontal {border-top: 1px solid #dbdbdb; border-bottom: 1px solid #dbdbdb;}
table.horizontal tr {text-align: center;}
table.horizontal thead th {padding: 10px; font-weight: 500; background-color: #def1ff; box-sizing: border-box;}
table.horizontal thead th:nth-child(n + 2) {border-left: 1px solid #dbdbdb;}
table.horizontal tbody tr:nth-child(even) {background-color: #f9f9f9;}
table.horizontal tbody th,
table.horizontal tbody td {padding: 10px; box-sizing: border-box; border-top: 1px solid #dbdbdb;}
table.horizontal tbody th:nth-child(n + 2),
table.horizontal tbody td:nth-child(n + 2) {border-left: 1px solid #dbdbdb;}
table.horizontal tbody th {font-weight: 500; color: #008dc7;}

/* 절차 */
.process-box > .process {margin: 10px 0;}
.process-box > p {text-align: right;}

.process ol {display: flex; flex-flow: wrap; word-break: normal; word-wrap: normal;}
.process ol:nth-child(n + 2) {margin-top: 20px;}
.process ol:nth-child(even) {flex-flow: row-reverse;}
.process ol li {position: relative; text-align: center; padding: 30px; border: 1px solid #dbdbdb; margin-left: -1px;}
.process ol li:first-child {border-radius: 0 0 0 50px;}
.process ol li:last-child {border-radius: 0 50px 0 0;}
.process ol:nth-child(even) li:first-child {border-radius: 0 0 50px 0;}
.process ol:nth-child(even) li:last-child {border-radius: 50px 0 0 0;}
.process ol li::after {content: ''; background: url(/naksinuri_original/newImages/table_next_ico.png) no-repeat center #fff; width: 50px; height: 50px; border: 1px solid #dbdbdb; border-radius: 50%; position: absolute; left: calc(100% - 25px); top: 50%; transform: translateY(-50%); z-index: 1;}
.process ol:nth-child(even) li::after {left: -25px; transform: translateY(-50%) rotate(180deg);}
.process ol li:last-child::after {left: 50%; top: calc(100% - 15px); transform: translateX(-50%) rotate(90deg);} 
.process ol:nth-child(even) li:last-child::after {display: none;}
.process ol li .m_gray {position: absolute; top: 20px; left: 10px; right: 10px;}
.process ol li .ico {display: block; margin: 20px auto;}
.process ol li .txt-box {line-height: 50px;}

.process.type1 ol li {padding-top: 50px;}
.process ol.col-3 li {width: 33.333%;}
.process ol.col-4 li {width: 25%;}

/* 박스 컨텐츠 */
.basic-box {display: flex; flex-flow: wrap;}
.basic-box .box {position: relative; display: flex; flex-flow: column; align-items: center; justify-content: center; text-align: center; padding: 50px 20px; border: 1px solid #dbdbdb; margin-left: -1px;}
.basic-box .box .ico {margin: 20px auto;}
.basic-box .box .txt-box {margin-bottom: 30px;}
.basic-box .box .box-group .square-box:nth-child(n + 2) {margin-left: 10px;}
.basic-box .box .circle-box {display: inline-block; width: 100px; height: 100px; line-height: 100px; font-size: 20px; border-radius: 50%; background-color: #def1ff;}
.basic-box .box .square-box {display: inline-block; padding: 20px 15px; border-radius: 15px; background-color: #def1ff;}
.basic-box .box .square-box.gray {background-color: #fcfcfc;}
.basic-box .box .square-box .dot-list {text-align: left;}

.basic-box.type1 {padding: 0 90px;}
.basic-box.col-2 .box {width: 50%;}
.basic-box.col-2 .box:nth-child(n + 3) {margin-top: -1px;}
.basic-box.col-2.type1 .box:nth-child(odd) {width: 45%;}
.basic-box.col-2.type1 .box:nth-child(even) {width: 55%;}
.basic-box.col-3 .box {width: 33.333%;}

.basic-box.addition .box::after {content: ''; width: 50px; height: 50px; border: 1px solid #dbdbdb; border-radius: 50%; position: absolute; left: calc(100% - 25px); top: 50%; transform: translateY(-50%); z-index: 1;}
.basic-box.addition .box:nth-child(1)::after {background: url(/naksinuri_original/newImages/cnd_plus_ico.png) no-repeat center #fff; background-size: 30px;}
.basic-box.addition .box:nth-child(2)::after {background: url(/naksinuri_original/newImages/cnd_val_ico.png) no-repeat center #fff; background-size: 30px;}
.basic-box.addition .box:last-child::after {display: none;}
.basic-box.equal .box:nth-child(1)::after {content: ''; background: url(/naksinuri_original/newImages/cnd_val_ico.png) no-repeat center #fff; background-size: 30px; width: 50px; height: 50px; border: 1px solid #dbdbdb; border-radius: 50%; position: absolute; left: calc(100% - 25px); top: 50%; transform: translateY(-50%); z-index: 1;}
.basic-box.process .box:nth-child(1)::after {content: ''; background: url(/naksinuri_original/newImages/table_next_ico.png) no-repeat center #fff; width: 50px; height: 50px; border: 1px solid #dbdbdb; border-radius: 50%; position: absolute; left: calc(100% - 25px); top: 50%; transform: translateY(-50%); z-index: 1;}

/* Contents */
#content .sub-tit {border-bottom: 2px solid #333; padding-bottom: 5px; margin-bottom: 20px;}
#content .sub-tit h2 {font-size: 26px; font-weight: bold;}
#content .con {margin-bottom: 50px;}
#content .con:last-child {margin-bottom: 0;}
#content .con h6.tit {color: #008dc7;}
#content .con .tit-area .tit {margin-bottom: 10px;}
#content .con .txt-area {padding-left: 20px;}
#content .con .txt-area > ul > li:nth-child(n + 2) {margin-top: 20px;}
#content .con .txt-area > ul > li > p {margin-top: 5px;}
#content .con .txt-area > ul > li > p.tit {font-weight: 500;}
#content .con .txt-area > ul > li > ul {margin-top: 10px;}
#content .con .txt-area > ul > li > ul > li > p {margin-top: 5px;} 
#content .con .txt-area > ul > li > ul > li > p.tit {font-weight: 500;}
#content .con .txt-area > ul > li > ul > li:nth-child(n + 2),
#content .con .txt-area > ul > li > ol > li:nth-child(n + 2) {margin-top: 10px;}
#content .con .txt-area > ul > li > ul > li > ol {padding-left: 10px;}
#content .con .txt-area > ul > li > ul > li > ol > li:nth-child(n + 2) {margin-top: 7px;}
#content .con .txt-area .check-list:nth-child(n + 2) {margin-top: 20px;}
#content .con .txt-area .gray-box {padding: 5px 10px; background-color: #fcfcfc; margin-top: 5px;}
#content .con .txt-area .gray-box ul li:nth-child(n + 2) {margin-top: 10px;}
#content .con .txt-area .border-box {padding: 10px; color: #0e98dd; border: 3px solid #0e98dd; background-color: #f6fcff;}
#content .con .txt-area .depth {padding-left: 20px; margin-top: 7px;}
#content .con .txt-area .depth ol {margin-top: 10px;}
#content .con .txt-area .depth ol li:nth-child(n + 2) {margin-top: 10px;}
#content .con .bg-box {position: relative; padding: 30px 50px; background-color: #fcfcfc;}
#content .con .bg-box::after {content: ''; background: url(/naksinuri_original/newImages/subConBox_ico.png) no-repeat center; width: 67px; height: 95px; position: absolute; bottom: 15px; right: -33px;}
#content .con img {max-width: 100%;}
#content .border-con {margin-bottom: 25px; padding-bottom: 25px; border-bottom: 1px solid #dbdbdb;}
#content .border-con:last-child {margin-bottom: 0; padding-bottom: 0; border-bottom: 0;}

/* Define Box */
.define-box {border: 4px solid #e6e6e6; padding: 30px; display: flex; align-items: center; justify-content: center;}
.define-box .img-box {width: 20%; text-align: center; margin-right: 30px;}
.define-box .txt-box {width: 80%;}
.define-box .txt-box dl dt {font-size: 24px; font-weight: bold; margin-bottom: 20px;}
.define-box .txt-box dl dd:nth-child(n + 2) {margin-top: 15px;}
.define-box .txt-box dl dd .tit {font-size: 18px; font-weight: 500;}
.define-box .txt-box dl dd .hl_blue {font-size: 20px; font-weight: 500;}

.define-box.type1 .txt-box {width: 100%;}

/* 탭 */
.tab-area {margin-top: 50px;}
.tab-area .induction {text-align: center; color: #9a9a9a; margin-bottom: 30px;}
.tab-area .induction::before {content: ''; background: url(/naksinuri_original/newImages/subConBox2_ico.png) no-repeat center; display: block; width: 114px; height: 83px; margin: 0 auto 10px;}
.tab-area .induction.ani::before {animation: vibes2 1s ease infinite;}
.tab-btn {margin-bottom: 50px;}
.tab-btn ul {display: flex; flex-flow: wrap; align-items: center; justify-content: center;}
.tab-btn ul li {text-align: center;}
.tab-con .tab-list {display: none;}

#type1 ul li {width: calc(33.333% - 40px); margin: 0 20px;}
#type1 ul li:nth-child(n + 4) {margin-top: 30px;}
#type1 ul li a .img-box {position: relative;}
#type1 ul li a .img-box img {display: block; margin: 0 auto 15px;}
#type1 ul li a span {font-size: 20px; font-weight: 500;}
#type1 ul li.active a .img-box::before {content: ''; position: absolute; top: 5px; left: calc(50% + 5px); transform: translateX(-50%); width: 162px; height: 162px; max-width: 100%; max-height: 100%; background-color: #007bb5; border-radius: 50%; z-index: -1;}
#type1 ul li.active a span {background: linear-gradient(to top, rgba(0, 123, 181, 0.1) 50%, transparent 50%);}
#type2 ul li {width: calc(50% - 50px);}
#type2 ul li:first-child {margin-right: 50px;}
#type2 ul li a {display: block; padding: 20px 10px; font-size: 20px; color: #9a9a9a; border-radius: 40px; border: 1px solid #e6e6e6; background-color: #fff;}
#type2 ul li.active a {color: #fff; border-color: #007bb5; background-color: #007bb5;}

@media screen and (max-width:1023px) {
    /* 테이블 */
    .table-box > p {text-align: left;}

    table.horizontal {display: block; width: 100%; border: 0;}
    table.horizontal thead {display: block; float: left; overflow-x: scroll;}
    table.horizontal thead th {width: 120px; padding: 10px 20px; border-top: 1px solid #dbdbdb; border-right: 1px solid #dbdbdb;}
    table.horizontal thead th:nth-child(n + 2) {border-left: 0;}
    table.horizontal thead th:last-child {border-bottom: 1px solid #dbdbdb;}
    table.horizontal tbody {display: block; width: auto; overflow-x: auto; white-space: nowrap;}
    table.horizontal tbody tr {display: inline-block; margin-left: -3px;}
    table.horizontal tbody tr:nth-child(even) {background-color: #fff;}
    table.horizontal tbody tr:last-child td,
    table.horizontal tbody tr:last-child th {border-right: 0;}
    table.horizontal th {display: block; width: auto;}
    table.horizontal td {display: block;}
    table.horizontal tbody th,
    table.horizontal tbody td {padding: 10px 20px; border-right: 1px solid #dbdbdb;}
    table.horizontal tbody th:nth-child(n + 2),
    table.horizontal tbody td:nth-child(n + 2) {border-left: 0;}
    table.horizontal tbody th:last-child, 
    table.horizontal tbody td:last-child {border-bottom: 1px solid #dbdbdb;}
    table.horizontal tbody td:nth-child(even) {background-color: #f9f9f9;}

    /* 절차 */
    .process ol li {padding: 10px;}
    .process ol li::after {width: 40px; height: 40px; background-size: 13px;}
    .process ol li .ico {margin: 10px auto;}

    /* 박스 컨텐츠 */
    .basic-box.type1 {padding: 0;} 

    .basic-box.addition .box::after {width: 40px; height: 40px;}
    .basic-box.addition .box:nth-child(1)::after,
    .basic-box.addition .box:nth-child(2)::after {left: calc(100% - 20px); background-size: 20px;}
    .basic-box.equal .box:nth-child(1)::after {left: calc(100% - 20px); width: 40px; height: 40px; background-size: 20px;}
    .basic-box.process .box:nth-child(1)::after {left: calc(100% - 20px); width: 40px; height: 40px; background-size: 13px;}

    /* Contents */
    #content .con .bg-box {padding: 15px;}
    #content .con .bg-box::after {display: none;}

    /* Define Box */
    .define-box {padding: 20px; flex-flow: column;}
    .define-box .img-box {width: 100%; margin-right: 0; margin-bottom: 10px;}
    .define-box .txt-box {width: 100%;}
}

@media screen and (max-width:767px) {
    .mobile-only {display: block !important;}

    /* 타이틀 */
    h4.tit {font-size: 18px;}
    h6.tit {font-size: 16px;}
    .tit-area .tit::before {top: 7px;}

    /* 꾸밈 */
    .round h6 {font-size: 16px;}

    /* 테이블 */
    .table-box.w50 {width: 100%;}

    table.data.type1 colgroup {display: none;}
    table.data.type1 thead th,
    table.data.type1 tbody th,
    table.data.type1 tbody td {display: block; width: 100%;}
    table.data.type1 tbody th {display: none;}
    table.data.type1 tbody td:nth-child(n + 2) {border-left: 0; border-top: 1px solid #dbdbdb;}
    table.data.type1 tbody td {padding: 0;}
    table.data.type1 tbody td h6 {padding: 10px; background-color: #f9f9f9; text-align: center;}
    table.data.type1 tbody td .txt-box {padding: 10px;}
    table.data.type1 tbody td br {display: none;}

    /* 절차 */
    .process-box > p {text-align: left;}

    .process ol:nth-child(n + 2) {margin-top: 0;}
    .process ol:nth-child(even) {flex-flow: wrap;} 
    .process ol li {width: 100% !important; border-radius: 0 !important; padding: 30px 10px; margin-bottom: -1px;}
    .process ol li:nth-child(n + 3) {margin-top: 0;}
    .process ol li::after {left: 50% !important; top: calc(100% - 25px) !important; transform: translateX(-50%) rotate(90deg) !important;}
    .process ol li br {display: none;}
    .process ol li .txt-box {line-height: normal;}

    .process.type1 ol li {padding-top: 30px;}
    .process.type1 ol li.default {padding-top: 50px;}

    /* 박스 컨텐츠 */
    .basic-box .box {width: 100% !important; padding: 25px 20px;}
    .basic-box .box:nth-child(n + 2) {margin-top: -1px;}
    .basic-box .box .fs18px {font-size: 16px !important;}
    .basic-box .box .fs20px {font-size: 16px !important;}

    .basic-box.addition .box:nth-child(1)::after {left: 50%; top: calc(100% - 20px); transform: translateX(-50%);}
    .basic-box.addition .box:nth-child(2)::after {left: 50%; top: calc(100% - 20px); transform: translateX(-50%) rotate(90deg);}
    .basic-box.equal .box:nth-child(1)::after {left: 50%; top: calc(100% - 20px); transform: translateX(-50%) rotate(90deg);}
    .basic-box.process .box:nth-child(1)::after {left: 50%; top: calc(100% - 20px); transform: translateX(-50%) rotate(90deg);}

    /* Contents */
    #content .sub-tit h2 {font-size: 20px;}
    #content .con .txt-area {padding-left: 10px;}
    #content .con .txt-area .depth {padding-left: 10px;}

    /* Define Box */
    .define-box .txt-box dl dt {font-size: 18px;}
    .define-box .txt-box dl dd .tit {font-size: 16px;}
    .define-box .txt-box dl dd .hl_blue {font-size: 16px;}

    /* 탭 */
    .tab-area .induction::before {height: 50px; margin: 0 auto 5px; background-size: contain;}
    .tab-btn ul {align-items: baseline;}

    #type1 ul li {width: calc(50% - 40px);}
    #type1 ul li a .img-box img {width: 90%;}
    #type1 ul li a span {font-size: 16px;}
    #type1 ul li.active a .img-box::before {max-width: 90%;}
    #type2 ul li {width: 100%;}
    #type2 ul li:first-child {margin-right: 0; margin-bottom: 10px;}
    #type2 ul li a {padding: 10px; font-size: 16px;}
}




/*-------------------------------------------------------------------
    서브 우측 고정 퀵 메뉴
-------------------------------------------------------------------*/
.quick-menu {position:fixed; top:400px; right:20px;}
.quick-menu a {display:flex; flex-direction:column; align-items:center; justify-content:center; width:65px; height:65px; padding:5px; font-size:1.2rem; color:#fff; text-align:center;}
.quick-menu a:nth-child(1) {background:#C08700;}
.quick-menu a:nth-child(2) {background:#00A32C;}
.quick-menu a:nth-child(3) {background:#4c86c3;}
.quick-menu a:nth-child(4) {background:#ececec; color:#333;}
.quick-menu a::before {content:''; display:block; width:20px; height:20px; margin-bottom:5px;}
.quick-menu a:nth-child(1):before {background:url(/images/content/common/ico_quick01.png) no-repeat center;}
.quick-menu a:nth-child(2):before {background:url(/images/content/common/ico_quick02.png) no-repeat center;}
.quick-menu a:nth-child(3):before {background:url(/images/content/common/ico_quick03.png) no-repeat center;}
.quick-menu a:nth-child(4):before {background:url(/images/content/common/ico_quick04.png) no-repeat center;}

@media screen and (max-width:1400px) {
    .quick-menu {top:330px;}
}

@media screen and (max-width:767px) {
    .quick-menu {display:none;}
}



/*-------------------------------------------------------------------
    서브 상단 고정 페이지 경로
-------------------------------------------------------------------*/
.location { display:flex; align-items:center; position:relative; width:100%; height:270px; background-repeat:no-repeat; background-position:center; background-size:cover; }
.location::before { content:''; position:absolute; bottom:0; left:0; z-index:1; width:100%; height:171px; background:url(/images/content/common/obg_location.png) no-repeat center; }
.location::after { content:''; position:absolute; top:0; left:0; width:100%; height:100%; background-color:rgba(0, 0 ,0 ,0.2); }
.location .loca-wrap { position:relative; z-index:1; width:100%; max-width:1400px; margin:0 auto; color:#fff; text-align:center; }
.location .loca-wrap ol { font-size:0; margin-bottom:10px; }
.location .loca-wrap ol li { display:inline-block; font-size:1.5rem; }
.location .loca-wrap ol li:nth-child(n + 2)::before { content:'>'; display:inline-block; margin:0 5px; }
.location .loca-wrap h2 { font-weight:bold; font-size:3.5rem; }

@media screen and (max-width:1400px) {
    .location { height:200px; }
    .location::before {height:100px; background-size:cover;}
    .location .loca-wrap h2 {font-size:3rem;}
}

@media screen and (max-width:767px) {
    .location { width:auto; height:auto; margin:0 20px; padding:30px 0; border-bottom:1px solid #e0e0e0; background:none !important; }
    .location::before,
    .location::after {display:none;}
    .location .loca-wrap {color:#333;}
    .location .loca-wrap ol {margin-bottom:7px;}
    .location .loca-wrap ol li {font-size:1.2rem;}
    .location .loca-wrap h2 {font-size:2rem;}
}



/*-------------------------------------------------------------------
    로그인
-------------------------------------------------------------------*/
.login-layout {max-width:none !important; background:url(/images/content/login/bg_login.png) no-repeat bottom; background-size:cover;}
#login .login-area {position:relative; width:100%; max-width:900px; margin:0 auto; padding:100px; border-radius:5px; border:2px solid #e6f1ff; background:#fff; box-shadow:0px 2px 5px rgba(0, 0, 0, 0.1);}
#login .login-area::before {content:''; position:absolute; bottom:0; left:-37px; width:103px; height:134px; background:url(/images/content/login/img_fiparang.png) no-repeat center;}
#login .login-area > p {margin-bottom:50px; font-size:2.4rem; text-align:center;}
#login .login-area .form-area .form-group {display:flex; flex-wrap: wrap;}
#login .login-area .form-area .form-group.radio-area {justify-content:center;}
#login .login-area .form-area .form-group:not(:last-child) {margin-bottom:30px;}
#login .login-area .form-area .form-group .th {width:180px; height:65px; margin-right:15px; padding:0 20px; border-radius:40px; background:#e3efff; font-size:2rem; line-height:65px;}
#login .login-area .form-area .form-group .th i {display:inline-block; margin-right:5px; font-size:2.6rem; color:#b2d3ff; vertical-align:middle;}
#login .login-area .form-area .form-group .td {width:calc(100% - 195px); font-size:0;}
#login .login-area .form-area .form-group .td * {font-size:2rem;}
#login .login-area .form-area .form-group .td .select,
#login .login-area .form-area .form-group .td input {width:100%; height:65px; padding:0 20px; border-radius:40px; border:none; background:#f7f7f7; line-height:65px;}
#login .login-area .form-area .form-group .td .select {padding-right:40px;}
#login .login-area .form-area .form-group .td .select::after {right:20px;}
#login .login-area .form-area .form-group .td .tel-input {width:calc((100% - 30px) / 3);}
#login .login-area .form-area .form-group .td .tel-input + em {display:inline-block; width:15px; font-size:1.6rem; text-align:center; vertical-align:middle;}
#login .login-area .form-area .form-group .td p {margin-top:10px; padding-left:20px; font-size:1.6rem;}
#login .login-area .form-area .form-group .input-group:first-child {margin-right:30px;}
#login .login-area .btn-area {margin-top:50px; text-align:center;}
#login .login-area .btn-area button {width:400px; height:80px; border-radius:40px; background:#5090FF; box-shadow:-1px 10px 10px rgba(59, 140, 218, 0.3); font-weight:600; font-size:2.4rem; line-height:80px; color:#fff; transition:all 0.3s;}
#login .login-area .btn-area button:hover,
#login .login-area .btn-area button:active,
#login .login-area .btn-area button:focus {background:#3880fc;}

@media screen and (max-width:1400px) {
    #login .login-area {padding:50px;}
    #login .login-area > p {font-size:2rem;}
}

@media screen and (max-width:767px) {
    #login .login-area {padding:20px;}
    #login .login-area::before {width:70px; height:91px; background-size:contain;}
    #login .login-area > p {margin-bottom:20px; font-size:1.4rem;}
    #login .login-area .form-area .form-group:not(:last-child) {margin-bottom:20px;}
    #login .login-area .form-area .form-group .th {width:100%; height:45px; margin-right:0; margin-bottom:10px; font-size:1.4rem; line-height:45px;}
    #login .login-area .form-area .form-group .th i {font-size:2rem;}
    #login .login-area .form-area .form-group .td {width:100%;}
    #login .login-area .form-area .form-group .td * {font-size:1.4rem;}
    #login .login-area .form-area .form-group .td .select,
    #login .login-area .form-area .form-group .td input {height:45px; line-height:45px;}
    #login .login-area .form-area .form-group .td .tel-input + em {font-size:1.4rem;}
    #login .login-area .form-area .form-group .td p {margin-top:5px; font-size:1.2rem;}
    #login .login-area .btn-area button {width:100%; height:45px; font-size:1.6rem; line-height:45px;}
}


/*-------------------------------------------------------------------
    교육수강 > 교육수강일정
-------------------------------------------------------------------*/



/*-------------------------------------------------------------------
	개인정보처리방침 수정
-------------------------------------------------------------------*/
/* 공통 */
.underBold-blue {text-decoration:underline; font-weight:bold; font-size:17px; color:#007bb5;}

#policy .basic_tbl tr {text-align:center;}
#policy .basic_tbl thead th {font-weight:500;}

@media screen and (max-width:767px) {
    #policy .underBold-blue {font-size:13px;}
}

/* 주요 라벨링 */
#policy .label-con {display:flex; flex-wrap:wrap; justify-content:space-between;}
#policy .label-con .label-item {overflow:hidden; display:flex; flex-direction:column; align-items:center; justify-content:center; position:relative; width:32%; margin-bottom:20px; padding:40px 10px; border-radius:6px; border:1px solid #dbdbdb; background:#fff; box-shadow:0 3px 6px 0 rgba(219, 219, 219, 0.2);}
#policy .label-con .label-item > p {margin-top:10px;} 
#policy .label-con .label-item .hover-con {opacity:0; visibility:hidden; position:absolute; top:100%; left:0; width:100%; height:100%; background:#fff; transition:all 0.3s;}
#policy .label-con .label-item .hover-con .tit {height:40px; background:#def1ff; line-height:40px; text-align:center;}
#policy .label-con .label-item .hover-con .tit strong {font-weight:500;}
#policy .label-con .label-item .hover-con .desc {overflow:auto; height:calc(100% - 50px); padding:10px; font-size:14px; line-height:1.7;}
#policy .label-con .label-item:nth-of-type(3) .hover-con .desc,
#policy .label-con .label-item:nth-of-type(6) .hover-con .desc {display:flex; flex-direction:column; align-items:center; justify-content:center;}

#policy .label-con .label-item:hover .hover-con,
#policy .label-con .label-item:focus .hover-con {opacity:1; visibility:visible; top:0;}

@media screen and (max-width:1023px) {
    #policy .label-section {display:none;}
}

/* 목차 */
#policy .bg-box {position:relative;}
#policy .bg-box::before {content:''; position:absolute; bottom:22px; left:-13px; width:95px; height:137px; background:url(/images/content/policy/img_char01.png) no-repeat center;}
#policy .bg-box::after {display:none;}
#policy .bg-box .index-list {display:flex; flex-wrap:wrap; justify-content:space-between; margin-top:30px; padding:0 100px;}
#policy .bg-box .index-list li {width:45%;}
#policy .bg-box .index-list li:not(:last-child) {margin-bottom:30px;}
#policy .bg-box .index-list li a {display:block; position:relative; height:25px; padding-left:48px;}
#policy .bg-box .index-list li a img {position:absolute; top:-6px; left:0;}

#policy .bg-box .index-list li a:hover {text-decoration:underline;}

@media screen and (max-width:1023px) {
    #policy .bg-box::before {display:none;}
    #policy .bg-box .index-list {padding:0;}
}

@media screen and (max-width:767px) {
    #policy .bg-box .index-list li {width:100%; margin-bottom:20px;}
    #policy .bg-box .index-list li a {height:auto; padding-left:40px;}
    #policy .bg-box .index-list li a img {width:30px; margin-right:10px;}
}

/* 토글 리스트 */
#policy .toggle-con .toggle-list > li {position:relative; margin-bottom:15px;}
#policy .toggle-con .toggle-list > li .toggle-head {border-radius:6px; border:1px solid #333;}
#policy .toggle-con .toggle-list > li .toggle-head a {display:flex; align-items:center; padding:25px 30px;}
#policy .toggle-con .toggle-list > li .toggle-head a h6 {position:relative; width:calc(100% - 35px); padding-left:48px;}
#policy .toggle-con .toggle-list > li .toggle-head a h6 img {position:absolute; top:-6px; left:0; margin-right:15px;}
#policy .toggle-con .toggle-list > li .toggle-head a .ico {width:25px; height:25px; margin-left:auto; background:url(/images/content/policy/ico_toggle.png) no-repeat center; font-size:0;}
#policy .toggle-con .toggle-list > li .toggle-body {display:none; padding:20px 30px; border-radius:0 0 6px 6px; border:1px solid #dadada; border-top-color:transparent; background:#fafafa;}
#policy .toggle-con .toggle-list > li .toggle-body > ol > li:not(:last-child),
#policy .toggle-con .toggle-list > li .toggle-body > ul > li:not(:last-child) {margin-bottom:20px;}
#policy .toggle-con .toggle-list > li .toggle-body > ol > li > ul > li,
#policy .toggle-con .toggle-list > li .toggle-body > ol > li > ol > li {margin-bottom:7px;}
#policy .toggle-con .toggle-list > li .toggle-body .downloadbox {display:flex; margin-top:30px; padding:0 20px;}
#policy .toggle-con .toggle-list > li .toggle-body .downloadbox a {width:50%; padding:10px; background:#0057a0; color:#fff; text-align:center; transition:all 0.3s;}
#policy .toggle-con .toggle-list > li .toggle-body .downloadbox a:first-child {margin-right:10px;}
#policy .toggle-con .toggle-list > li .toggle-body .linkbox a {display:block; width:300px; padding:10px; border-radius:25px; background:#0057a0; color:#fff; text-align:center; transition:all 0.3s;}
#policy .toggle-con .toggle-list > li .toggle-body .linkbox a:not(:last-child) {margin-bottom:10px;}

#policy .toggle-con .toggle-list > li .toggle-body .downloadbox a:hover,
#policy .toggle-con .toggle-list > li .toggle-body .downloadbox a:focus,
#policy .toggle-con .toggle-list > li .toggle-body .downloadbox a:active,
#policy .toggle-con .toggle-list > li .toggle-body .linkbox a:hover,
#policy .toggle-con .toggle-list > li .toggle-body .linkbox a:focus,
#policy .toggle-con .toggle-list > li .toggle-body .linkbox a:active {background:#007bb5;}

#policy .toggle-con .toggle-list > li.active:nth-child(3)::after {content:''; position:absolute; right:-134px; bottom:15px; width:104px; height:130px; background:url(/images/content/policy/img_char02.png) no-repeat center;}
#policy .toggle-con .toggle-list > li.active:nth-child(7)::after {content:''; position:absolute; top:70px; left:-115px; width:85px; height:128px; background:url(/images/content/policy/img_char03.png) no-repeat center;}
#policy .toggle-con .toggle-list > li.active:nth-child(10)::after {content:''; position:absolute; right:-114px; bottom:72px; width:84px; height:104px; background:url(/images/content/policy/img_fiparang01.png) no-repeat center;}
#policy .toggle-con .toggle-list > li.active:nth-child(11)::after {content:''; position:absolute; left:-107px; bottom:120px; width:77px; height:113px; background:url(/images/content/policy/img_fiparang02.png) no-repeat center;}
#policy .toggle-con .toggle-list > li.active:nth-child(12)::after {content:''; position:absolute; right:-111px; bottom:150px; width:91px; height:137px; background:url(/images/content/policy/img_char04.png) no-repeat center;}
#policy .toggle-con .toggle-list > li.active .toggle-head {border-radius:6px 6px 0 0;}
#policy .toggle-con .toggle-list > li.active .toggle-head a .ico {background:url(/images/content/policy/ico_toggle_on.png) no-repeat center;}  

@media screen and (max-width:1600px) {
    #policy .toggle-con .toggle-list > li.active::after {display:none;}
}

@media screen and (max-width:1023px) {
    #policy .toggle-con .toggle-list > li .toggle-body .downloadbox {padding:0;}
    #policy .toggle-con .toggle-list > li .toggle-body .downloadbox a {padding:5px;}
    #policy .toggle-con .toggle-list > li .toggle-body .downloadbox a:first-child {margin-right:5px;}
    #policy .toggle-con .toggle-list > li .toggle-body .linkbox a {padding:5px}
}

@media screen and (max-width:767px) {
    #policy .toggle-con .toggle-list > li .toggle-head a {padding:15px 10px;}
    #policy .toggle-con .toggle-list > li .toggle-head a h6 {width:calc(100% - 25px); padding-left:40px;}
    #policy .toggle-con .toggle-list > li .toggle-head a h6 img {width:30px;}
    #policy .toggle-con .toggle-list > li .toggle-head a .ico {width:15px; height:15px; background-size:contain;}
    #policy .toggle-con .toggle-list > li .toggle-body {padding:10px;}
    #policy .toggle-con .toggle-list > li .toggle-body .downloadbox {flex-wrap:wrap;}
    #policy .toggle-con .toggle-list > li .toggle-body .downloadbox a {width:100%;}
    #policy .toggle-con .toggle-list > li .toggle-body .downloadbox a:first-child {margin-right:0; margin-bottom:5px;}
    #policy .toggle-con .toggle-list > li .toggle-body .linkbox a {width:100%;}
    #policy .toggle-con .toggle-list > li .toggle-body .linkbox a:not(:last-child) {margin-bottom:5px;}

    #policy .toggle-con .toggle-list > li.active .toggle-head a .ico {width:15px; background-size:contain;} 
}