@charset "utf-8";

/* NotoSansKR */
@font-face {
    font-family:'Noto Sans KR';
    font-weight:100;
    font-style:normal;
    src:url('../font/NotoSansKR-Thin.eot');
    src:url('../font/NotoSansKR-Thin.eot?#iefix') format('embedded-opentype'),
        url('../font/NotoSansKR-Thin.woff2') format('font-woff2'),
        url('../font/NotoSansKR-Thin.woff') format('woff'),
        url('../font/NotoSansKR-Thin.ttf') format('truetype');
} 
@font-face {
    font-family:'Noto Sans KR';
    font-weight:300;
    font-style:normal;
    src:url('../font/NotoSansKR-Light.eot');
    src:url('../font/NotoSansKR-Light.eot?#iefix') format('embedded-opentype'),
        url('../font/NotoSansKR-Light.woff2') format('font-woff2'),
        url('../font/NotoSansKR-Light.woff') format('woff'),
        url('../font/NotoSansKR-Light.ttf') format('truetype');
} 
@font-face {
    font-family:'Noto Sans KR';
    font-weight:400;
    font-style:normal;
    src:url('../font/NotoSansKR-Regular.eot');
    src:url('../font/NotoSansKR-Regular.eot?#iefix') format('embedded-opentype'),
        url('../font/NotoSansKR-Regular.woff2') format('font-woff2'),
        url('../font/NotoSansKR-Regular.woff') format('woff'),
        url('../font/NotoSansKR-Regular.ttf') format('truetype');
} 
@font-face {
    font-family:'Noto Sans KR';
    font-weight:500;
    font-style:normal;
    src:url('../font/NotoSansKR-Medium.eot');
    src:url('../font/NotoSansKR-Medium.eot?#iefix') format('embedded-opentype'),
        url('../font/NotoSansKR-Medium.woff2') format('font-woff2'),
        url('../font/NotoSansKR-Medium.woff') format('woff'),
        url('../font/NotoSansKR-Medium.ttf') format('truetype');
} 
@font-face {
    font-family:'Noto Sans KR';
    font-weight:700;
    font-style:normal;
    src:url('../font/NotoSansKR-Bold.eot');
    src:url('../font/NotoSansKR-Bold.eot?#iefix') format('embedded-opentype'),
        url('../font/NotoSansKR-Bold.woff2') format('font-woff2'),
        url('../font/NotoSansKR-Bold.woff') format('woff'),
        url('../font/NotoSansKR-Bold.ttf') format('truetype');
} 
@font-face {
    font-family:'Noto Sans KR';
    font-weight:900;
    font-style:normal;
    src:url('../font/NotoSansKR-Black.eot');
    src:url('../font/NotoSansKR-Black.eot?#iefix') format('embedded-opentype'),
        url('../font/NotoSansKR-Black.woff2') format('font-woff2'),
        url('../font/NotoSansKR-Black.woff') format('woff'),
        url('../font/NotoSansKR-Black.ttf') format('truetype');
} 


/* NanumSquare */
@font-face {
    font-family:'NanumSquare';
    font-weight:300;
    font-style:normal;
    src:url('../font/NanumSquare_acL.eot');
    src:url('../font/NanumSquare_acL.eot?#iefix') format('embedded-opentype'),
        url('../font/NanumSquare_acL.woff2') format('font-woff2'),
        url('../font/NanumSquare_acL.woff') format('woff'),
        url('../font/NanumSquare_acL.ttf') format('truetype');
}
@font-face {
    font-family:'NanumSquare';
    font-weight:400;
    font-style:normal;
    src:url('../font/NanumSquare_acR.eot');
    src:url('../font/NanumSquare_acR.eot?#iefix') format('embedded-opentype'),
        url('../font/NanumSquare_acR.woff2') format('font-woff2'),
        url('../font/NanumSquare_acR.woff') format('woff'),
        url('../font/NanumSquare_acR.ttf') format('truetype');
} 
@font-face {
    font-family:'NanumSquare';
    font-weight:700;
    font-style:normal;
    src:url('../font/NanumSquare_acB.eot');
    src:url('../font/NanumSquare_acB.eot?#iefix') format('embedded-opentype'),
        url('../font/NanumSquare_acB.woff2') format('font-woff2'),
        url('../font/NanumSquare_acB.woff') format('woff'),
        url('../font/NanumSquare_acB.ttf') format('truetype');
} 
@font-face {
    font-family:'NanumSquare';
    font-weight:800;
    font-style:normal;
    src:url('../font/NanumSquare_acEB.eot');
    src:url('../font/NanumSquare_acEB.eot?#iefix') format('embedded-opentype'),
        url('../font/NanumSquare_acEB.woff2') format('font-woff2'),
        url('../font/NanumSquare_acEB.woff') format('woff'),
        url('../font/NanumSquare_acEB.ttf') format('truetype');
} 
/* @font-face {
    font-family:'NanumSquare';
    font-weight:300;
    font-style:normal;
    src:url('../font/NanumSquareL.eot');
    src:url('../font/NanumSquareL.eot?#iefix') format('embedded-opentype'),
        url('../font/NanumSquareL.woff2') format('font-woff2'),
        url('../font/NanumSquareL.woff') format('woff'),
        url('../font/NanumSquareL.ttf') format('truetype');
}
@font-face {
    font-family:'NanumSquare';
    font-weight:400;
    font-style:normal;
    src:url('../font/NanumSquareR.eot');
    src:url('../font/NanumSquareR.eot?#iefix') format('embedded-opentype'),
        url('../font/NanumSquareR.woff2') format('font-woff2'),
        url('../font/NanumSquareR.woff') format('woff'),
        url('../font/NanumSquareR.ttf') format('truetype');
} 
@font-face {
    font-family:'NanumSquare';
    font-weight:700;
    font-style:normal;
    src:url('../font/NanumSquareB.eot');
    src:url('../font/NanumSquareB.eot?#iefix') format('embedded-opentype'),
        url('../font/NanumSquareB.woff2') format('font-woff2'),
        url('../font/NanumSquareB.woff') format('woff'),
        url('../font/NanumSquareB.ttf') format('truetype');
} 
@font-face {
    font-family:'NanumSquare';
    font-weight:800;
    font-style:normal;
    src:url('../font/NanumSquareEB.eot');
    src:url('../font/NanumSquareEB.eot?#iefix') format('embedded-opentype'),
        url('../font/NanumSquareEB.woff2') format('font-woff2'),
        url('../font/NanumSquareEB.woff') format('woff'),
        url('../font/NanumSquareEB.ttf') format('truetype');
}  */
/* @font-face {
    font-family:'NanumSquare';
    font-weight:300;
    font-style:normal;
    src:url('../font/NanumSquareAcL.eot');
    src:url('../font/NanumSquareAcL.eot?#iefix') format('embedded-opentype'),
        url('../font/NanumSquareAcL.woff2') format('font-woff2'),
        url('../font/NanumSquareAcL.woff') format('woff'),
        url('../font/NanumSquareAcL.ttf') format('truetype');
}
@font-face {
    font-family:'NanumSquare';
    font-weight:400;
    font-style:normal;
    src:url('../font/NanumSquareAcR.eot');
    src:url('../font/NanumSquareAcR.eot?#iefix') format('embedded-opentype'),
        url('../font/NanumSquareAcR.woff2') format('font-woff2'),
        url('../font/NanumSquareAcR.woff') format('woff'),
        url('../font/NanumSquareAcR.ttf') format('truetype');
} 
@font-face {
    font-family:'NanumSquare';
    font-weight:700;
    font-style:normal;
    src:url('../font/NanumSquareAcB.eot');
    src:url('../font/NanumSquareAcB.eot?#iefix') format('embedded-opentype'),
        url('../font/NanumSquareAcB.woff2') format('font-woff2'),
        url('../font/NanumSquareAcB.woff') format('woff'),
        url('../font/NanumSquareAcB.ttf') format('truetype');
} 
@font-face {
    font-family:'NanumSquare';
    font-weight:800;
    font-style:normal;
    src:url('../font/NanumSquareAcEB.eot');
    src:url('../font/NanumSquareAcEB.eot?#iefix') format('embedded-opentype'),
        url('../font/NanumSquareAcEB.woff2') format('font-woff2'),
        url('../font/NanumSquareAcEB.woff') format('woff'),
        url('../font/NanumSquareAcEB.ttf') format('truetype');
}  */


/* EsaManru */
@font-face {
    font-family:'EsaManru';
    font-weight:300;
    font-style:normal;
    src:url('../font/EsaManruLight.eot');
    src:url('../font/EsaManruLight.eot?#iefix') format('embedded-opentype'),
        url('../font/EsaManruLight.woff2') format('font-woff2'),
        url('../font/EsaManruLight.woff') format('woff'),
        url('../font/EsaManruLight.ttf') format('truetype');
}
@font-face {
    font-family:'EsaManru';
    font-weight:500;
    font-style:normal;
    src:url('../font/EsaManruMedium.eot');
    src:url('../font/EsaManruMedium.eot?#iefix') format('embedded-opentype'),
        url('../font/EsaManruMedium.woff2') format('font-woff2'),
        url('../font/EsaManruMedium.woff') format('woff'),
        url('../font/EsaManruMedium.ttf') format('truetype');
}
@font-face {
    font-family:'EsaManru';
    font-weight:700;
    font-style:normal;
    src:url('../font/EsaManruBold.eot');
    src:url('../font/EsaManruBold.eot?#iefix') format('embedded-opentype'),
        url('../font/EsaManruBold.woff2') format('font-woff2'),
        url('../font/EsaManruBold.woff') format('woff'),
        url('../font/EsaManruBold.ttf') format('truetype');
}

/* 초기화 */
/* * {box-sizing:border-box;}
body{font-size:16px;font-weight:400;letter-spacing:-0.01rem;line-height: 1.3;font-family:'NanumSquare', 'Malgun Gothic', '맑은 고딕', Dotum, '돋움', sans-serif;color:#333;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,span,form,fieldset,p,button,address,table, tbody, tfoot, thead, th, tr, tdvideo, tt{margin:0;padding:0;word-break:keep-all;}
h1,h2,h3,h4,h5,h6,input,button,textarea,select,table{font-family:'NanumSquare', 'Malgun Gothic', '맑은 고딕', Dotum, '돋움', sans-serif;font-size: 16px;}
dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,tbody,tfoot,thead,th,td,article,figure{margin:0;padding:0;}
input,textarea,select,td,th,button{color:#444;vertical-align:middle;}
h1,h2,h3,h4,h5,h6{font-weight:normal;font-size:100%;}
table{width:100%;border-spacing:0;border-collapse:collapse;table-layout:fixed;}
th{text-align:inherit;}
ol,ul,li,dl{list-style:none;}
dd,dt{line-height:normal;}
dt{font-weight:normal;}
legend, caption, .skip{position:absolute;left:-5000px;top:0;overflow:hidden;line-height:0.1%;font-size:0.1%;width:0.1%;height:0.1%;}
caption{position:relative;padding:0;}
img,fieldset{border:0 none;}
label,button{cursor:pointer;}
em,address{font-style:normal;}
a:link,a:visited{text-decoration:none;color:#333;}
a:hover,a:active,a:focus{text-decoration:none;color:#333;}
br{font-family:Dotum;}
img{max-width:100%}
input {-webkit-border-radius:0;-webkit-appearance:none;}
label {margin:0;font-weight:normal;}
button{background: none; border:none; box-shadow:none; border-radius:0; padding:0; overflow:visible; cursor:pointer} */

/* body { font-size:16px; font-weight:400; line-height:1; font-family:'NotoSansKR', 'Malgun Gothic', '맑은 고딕', Dotum, '돋움', sans-serif; } */

/* Default Style */
/* html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, article, aside, hgroup, header, footer, figure, figcaption, nav, section, menu { margin:0; padding:0; border:0; font-size:100%; font-style:normal; letter-spacing:-.05rem; line-height:1; background-color:transparent; vertical-align:baseline; }
html { font-size:62.5%; }
body { font-size:1.5rem; font-weight:400; line-height:1; font-family:'NanumSquare', 'Malgun Gothic', '맑은 고딕', Dotum, '돋움', sans-serif; }
h1, h2, h3, h4, h5, h6, th, b, strong { font-weight:500; }
ol, ul { list-style:none; }
img { max-width:100%; }
br { font-family:'Dotum'; }
table { border-collapse:collapse; border-spacing:0; table-layout:fixed; }
label,button{cursor:pointer;}
button { margin:0; padding:0; border:0; font:inherit; color:inherit; background:transparent; overflow:visible; cursor:pointer; }
a:link, a:visited, a:hover, a:active, a:focus { text-decoration:none; color:inherit; cursor:pointer; }
legend, caption { width:0; height:0; font-size:0; line-height:0; }
textarea { resize:vertical; font:inherit; overflow-y:auto; }
input, select { color:inherit; font:inherit; vertical-align:middle; }
*::-moz-focus-inner { padding:0; border:0; }
*::-ms-clear { display:none; }
* { box-sizing:border-box; }

.blind { position:absolute; clip:rect(0 0 0 0); width:1px; height:1px; margin:-1px; overflow:hidden; } */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, article, aside, hgroup, header, footer, figure, figcaption, nav, section, menu { margin:0; padding:0; border:0; font-size:100%; font-style:normal; letter-spacing:-.05rem; background-color:transparent; vertical-align:baseline; }
html { font-size:62.5%; }
body { font-size:1.5rem; font-weight:400; font-family:'NanumSquare', 'Malgun Gothic', '맑은 고딕', Dotum, '돋움', sans-serif; }
h1, h2, h3, h4, h5, h6, th, b, strong { font-weight:500; }
ol, ul { list-style:none; }
img { max-width:100%; }
br { font-family:'Dotum'; }
table { border-collapse:collapse; border-spacing:0; table-layout:fixed; }
label,button{cursor:pointer;}
button { margin:0; padding:0; border:0; font:inherit; color:inherit; background:transparent; overflow:visible; cursor:pointer; }
a:link, a:visited, a:hover, a:active, a:focus { text-decoration:none; color:inherit; cursor:pointer; }
legend, caption { width:0; height:0; font-size:0; line-height:0; }
textarea { resize:vertical; font:inherit; overflow-y:auto; }
input, select { color:inherit; font:inherit; vertical-align:middle; }
*::-moz-focus-inner { padding:0; border:0; }
*::-ms-clear { display:none; }
* { box-sizing:border-box; }