@charset "utf-8";

@import url('https://webfontworld.github.io/Montserrat/Montserrat.css');

/*-------------------------------------------------------------------
    공통 레이아웃
-------------------------------------------------------------------*/
.m-cont { display:block; width:100%; max-width:1600px; margin:0 auto; }
.m-cont::after { content:''; display:block; clear:both; }
.sec { float:left; padding:30px; }
.sec .tit-area { display:flex; align-items:flex-end; justify-content:space-between; margin-bottom:10px; }
.sec h2 { font-size:2rem; font-family:EsaManru; }
.sec h4 { font-size:1.8rem; font-family:EsaManru; }
#sec1 { width:600px; }
#sec1 > div:nth-child(n + 2) { margin-top:30px; }
#sec2 { display:flex; flex-flow:wrap; width:calc(100% - 600px); background-color:#ebf2fc; }
#sec2 .left,
#sec2 .right { margin-top:30px; margin-bottom:50px; }
#sec2 .left { width:500px; margin-right:30px; }
#sec2 .left > div:nth-child(n + 2) { margin-top:30px; }
#sec2 .right { width:calc(100% - 530px); }

.m-cont .control-box { display:flex; align-items:center; }
.m-cont .control-box .slick-arrow { width:30px; height:30px; background:url(../images/main/btn_control2.png) no-repeat; font-size:0; }
.m-cont .control-box .prev { background-position:0 0; }
.m-cont .control-box .next { background-position:-30px 0; }
.m-cont .control-box .more { display:inline-block; width:30px; height:30px; background:url(../images/main/ico_plus.png) no-repeat center; transition:all 0.3s; }
.m-cont .control-box .more:hover,
.m-cont .control-box .more:active,
.m-cont .control-box .more:focus { transform: rotate(180deg); }

.m-footer { width:calc(100% + 60px); margin:0 -30px -30px -30px; }
.m-footer .ft-wrap .txt-area { font-size:1.4rem; }

@media screen and (max-width:1600px) {
    .m-cont { max-width:1200px; }
    #sec2 .left { width:100%; margin-right:0; }
    #sec2 .right { display:none; }
}

@media screen and (max-width:1200px) {
    .sec { width:100% !important; }
}

@media screen and (max-width:1023px) {
    .sec { padding:20px; }

    .m-footer { width:calc(100% + 40px); margin:0 -20px -20px -20px; }
}

/*-------------------------------------------------------------------
    교육수강 절차 안내
-------------------------------------------------------------------*/
#sec1 .procedure ol { display:flex; margin:0 -5px; }
#sec1 .procedure ol li { position:relative; width:33.333%; padding:0 5px; }
#sec1 .procedure ol li:nth-child(n + 2)::before { content:''; position:absolute; top:50%; left:-28px; width:45px; height:45px; border-radius:50%; background:#fff url(../images/main/arrow.png) no-repeat center; transform:translateY(-50%); }
#sec1 .procedure ol li a { display:block; padding:15px 10px; border-radius:15px; color:#fff; text-align:center; transition:all 0.3s; }
#sec1 .procedure ol li a::after { content:''; display:inline-block; width:55px; height:55px; background:url(../images/main/ico_step.png) no-repeat; background-size:300% 100%; }
#sec1 .procedure ol li a span { display:inline-block; margin-bottom:15px; padding:0 25px; border-radius:15px; background-color:#fff; font-weight:600; font-size:2.4rem; } 
#sec1 .procedure ol li a p { margin-bottom:10px; font-weight:600; font-size:2rem; }

#sec1 .procedure ol li.step1 a { background-color:#c08700; }
#sec1 .procedure ol li.step1 a span { color:#c08700; }
#sec1 .procedure ol li.step2 a { background-color:#00a32c; }
#sec1 .procedure ol li.step2 a span { color:#00a32c; }
#sec1 .procedure ol li.step3 a { background-color:#477dba; }
#sec1 .procedure ol li.step3 a span { color:#477dba; }
#sec1 .procedure ol li.step1 a::after { background-position:0 0; }
#sec1 .procedure ol li.step2 a::after { background-position:50% 0; }
#sec1 .procedure ol li.step3 a::after { background-position:100% 0; }
#sec1 .procedure ol li.step1 a:hover,
#sec1 .procedure ol li.step1 a:active,
#sec1 .procedure ol li.step1 a:focus { background-color:#eda700; }
#sec1 .procedure ol li.step2 a:hover,
#sec1 .procedure ol li.step2 a:active,
#sec1 .procedure ol li.step2 a:focus { background-color:#7ab32c; }
#sec1 .procedure ol li.step3 a:hover,
#sec1 .procedure ol li.step3 a:active,
#sec1 .procedure ol li.step3 a:focus { background-color:#5997de; }

/*-------------------------------------------------------------------
	@media
-------------------------------------------------------------------*/
@media screen and (max-width:767px) {
    #sec1 .procedure .tit-area { display:none; }
    #sec1 .procedure ol { margin:0 -2px; }
    #sec1 .procedure ol li { padding:0 2px; }
    #sec1 .procedure ol li:nth-child(n + 2)::before { display:none; }
    #sec1 .procedure ol li a span { font-size:1.5rem; line-height:1.3; }
    #sec1 .procedure ol li a p { font-size:1.4rem; }
}


/*-------------------------------------------------------------------
    비주얼 배너
-------------------------------------------------------------------*/
#sec1 .visual .visual-box { position:relative; }
#sec1 .visual .visual-box .txt-area { position:absolute; top:50px; left:30px; right:30px; z-index:1; color:#fff; }
#sec1 .visual .visual-box .txt-area h4 { font-weight:300; }
#sec1 .visual .visual-box .txt-area strong { display:block; margin-top:15px; margin-bottom:30px; font-weight:300; font-size:3.5rem; }
#sec1 .visual .visual-box .txt-area strong span { font-weight:600; }
#sec1 .visual .visual-box .txt-area p { line-height:1.3; }

#sec1 .visual .visual-box .slider { overflow:hidden; border-radius:15px; }
#sec1 .visual .visual-box .slider .slide { display:flex !important; align-items:center; position:relative; height:400px; background-repeat:no-repeat !important; background-position:center !important; background-size:cover !important; vertical-align:top; }
#sec1 .visual .visual-box .control-box { position:absolute; top:15px; right:15px; padding-right:20px; }
#sec1 .visual .visual-box .control-box .slick-dots::after { content:''; display:block; clear:both; }
#sec1 .visual .visual-box .control-box .slick-dots li { float:left; height:20px; padding:0 5px; line-height:20px; }
#sec1 .visual .visual-box .control-box .slick-dots li button { opacity:0.5; width:8px; height:8px; border-radius:50%; background-color:#fff; font-size:0; vertical-align:middle; }
#sec1 .visual .visual-box .control-box .slick-dots li.slick-active button { opacity:1; }
#sec1 .visual .visual-box .control-box .control { position:absolute; top:0; right:0; width:20px; height:20px; background:url(../images/main/btn_control1.png) no-repeat 0 0; font-size:0; }
#sec1 .visual .visual-box .control-box .control.play { display:none; background-position:-20px 0; }

#sec1 .visual .visual-box .shortcut { position:absolute; bottom:15px; right:15px; }
#sec1 .visual .visual-box .shortcut::before { content:''; position:absolute; top:-40px; left:50%; width:80px; height:89px; background:url(../images/main/char.png) no-repeat center; background-size:contain; transform:translateX(-50%); }
#sec1 .visual .visual-box .shortcut { display:flex; flex-flow:column; align-items:center; justify-content:center; width:130px; height:130px; border-radius:50%; background:url(../images/main/bg_shortcut.png) no-repeat center; background-size:contain; box-shadow:0px 10px 20px rgba(0, 0, 0, 0.3); }
#sec1 .visual .visual-box .shortcut strong { display:block; margin-top:10px; line-height:1.5; font-family:EsaManru; color:#26304b; }
#sec1 .visual .visual-box .shortcut span { font-size:1.4rem; }
#sec1 .visual .visual-box .shortcut span::after { content:''; display:inline-block; width:8px; height:10px; margin-left:7px; background:url(../images/main/arrow.png); background-size:contain; }

#sec1 .visual .mb-banner { display:none; }
#sec1 .visual .mb-banner > div { width:50%; }
#sec1 .visual .mb-banner > div a { display:flex; align-items:center; justify-content:center; height:80px; }
#sec1 .visual .mb-banner .coun a { background-color:#1e67de; font-weight:700; font-size:3rem; font-family:'Montserrat'; color:#fff; }
#sec1 .visual .mb-banner .coun a::before { content:''; display:inline-block; width:50px; height:50px; margin-right:10px; background:url(../images/main/coun.png) no-repeat center; background-size:contain; vertical-align:middle; }
#sec1 .visual .mb-banner .kakao { position:relative; }
#sec1 .visual .mb-banner .kakao::before { content:''; position:absolute; top:-107px; right:10px; width:118px; height:113px; background:url(../images/main/main_char.png) no-repeat center; background-size:contain; }
#sec1 .visual .mb-banner .kakao a { background-color:#fed700; }
#sec1 .visual .mb-banner .kakao strong { display:inline-block; position:relative; padding-right:70px; font-size:1.8rem; line-height:1.3; font-family:EsaManru; color:#201816; }
#sec1 .visual .mb-banner .kakao strong span { display:table; padding:5px; background-color:#201816; color:#fed700; }
#sec1 .visual .mb-banner .kakao strong::after { content:''; position:absolute; top:0; right:0; width:50px; height:50px; background:url(../images/main/kakao.png) no-repeat center; background-size:contain; }
#sec1 .visual .mb-banner .kakao p { line-height:1.5; color:#242424; }

/*-------------------------------------------------------------------
	@media
-------------------------------------------------------------------*/
@media screen and (max-width:1600px) {
    #sec1 .visual .visual-box .slider { border-radius:0; } 

    #sec1 .visual .visual-box .shortcut { left:15px; right:auto; }

    #sec1 .visual .mb-banner { display:flex; }
}

@media screen and (max-width:1200px) {
    #sec1 .visual { margin: 0 -30px; }
}

@media screen and (max-width:1023px) {
    #sec1 .visual { margin:0 -20px; }
}

@media screen and (max-width:767px) {
    #sec1 .visual .visual-box .txt-area { top:100px; }
    #sec1 .visual .visual-box .txt-area h4 { font-size:1.6rem; }
    #sec1 .visual .visual-box .txt-area strong { font-size:3rem; line-height:1.3; }
    #sec1 .visual .visual-box .txt-area strong span { display:block; }
    #sec1 .visual .visual-box .txt-area p { display:none; }

    #sec1 .visual .visual-box .shortcut { width:100px; height:100px; }
    #sec1 .visual .visual-box .shortcut::before { top:-30px; width:60px; height:67px; }
    #sec1 .visual .visual-box .shortcut strong { font-size:1.3rem; }
    #sec1 .visual .visual-box .shortcut span { font-size:1.2rem; }

    #sec1 .visual .mb-banner .coun a { font-size:2.2rem; }
    #sec1 .visual .mb-banner .coun a::before { width:40px; height:40px; }
    #sec1 .visual .mb-banner .kakao::before { top:-63px; width:72px; height:69px; }
    #sec1 .visual .mb-banner .kakao strong { padding-right:0; }
    #sec1 .visual .mb-banner .kakao strong::after { display:none; }
}

@media screen and (max-width:360px) {
    #sec1 .visual .mb-banner > div a { height:70px; }
    #sec1 .visual .mb-banner .coun a { font-size:1.8rem; }
    #sec1 .visual .mb-banner .kakao strong { font-size: 1.6rem; }
}


/*-------------------------------------------------------------------
	공지사항 & 교육 및 홍보사항
-------------------------------------------------------------------*/
#sec1 .news .tab-list { height:257px; }
#sec1 .news .tab-list ul { position:relative; padding:0 30px; }
#sec1 .news .tab-list > ul { border-bottom:2px solid #bbb; }
#sec1 .news .tab-list > ul::after { content:''; display:block; clear:both; }
#sec1 .news .tab-list > ul > li { float:left; }
#sec1 .news .tab-list > ul > li > a { display:inline-block; position:relative; padding:7px 10px; font-size:2rem; line-height:1.3; }
#sec1 .news .tab-list > ul > li > a::before { content:''; opacity:0; position:absolute; left:0; bottom:0; width:0; height:6px; background-color:#003d8e; transition:all 0.3s; }
#sec1 .news .tab-list > ul > li .item { position:absolute; top:40px; left:0; width:100%; padding:20px 0; }
#sec1 .news .tab-list > ul > li .item ul li { position:relative; padding:10px 0 10px 10px; color:#505050; }
#sec1 .news .tab-list > ul > li .item ul li::before { content:'·'; position:absolute; top:50%; left:0; transform:translateY(-50%); }
#sec1 .news .tab-list > ul > li .item ul li a.tit { display:block; overflow: hidden; width:calc(100% - 90px); text-overflow: ellipsis; white-space: nowrap; }
#sec1 .news .tab-list > ul > li .item ul li span.date { position:absolute; top:50%; right:0; transform:translateY(-50%); }
#sec1 .news .tab-list > ul > li .item .more { position:absolute; top:-27px; right:30px; }
#sec1 .news .tab-list > ul > li .item .more::after { content:''; display:inline-block; width:14px; height:14px; margin-left:5px; background:url(../images/main/ico_plus.png) no-repeat center; vertical-align:text-top; transition:all .3s; }

#sec1 .news .tab-list > ul > li .item ul li a.tit:hover,
#sec1 .news .tab-list > ul > li .item ul li a.tit:active,
#sec1 .news .tab-list > ul > li .item ul li a.tit:focus { text-decoration:underline; }
#sec1 .news .tab-list > ul > li .item .more:hover::after,
#sec1 .news .tab-list > ul > li .item .more:active::after,
#sec1 .news .tab-list > ul > li .item .more:focus::after { transform:rotate(180deg); }

#sec1 .news .tab-list > ul > li.active > a::before { opacity:1; width:100%; }

/*-------------------------------------------------------------------
	@media
-------------------------------------------------------------------*/
@media screen and (max-width:767px) {
    #sec1 .news .tab-list { height:198px; }
    #sec1 .news .tab-list ul { padding:0; }
    #sec1 .news .tab-list > ul > li > a { font-size:1.6rem; }
    #sec1 .news .tab-list > ul > li > a::before { height:3px; }
    #sec1 .news .tab-list > ul > li .item { top:38px; padding:10px 0; }
    #sec1 .news .tab-list > ul > li .item ul li { padding:7px 0 7px 10px; }
    #sec1 .news .tab-list > ul > li .item .more { right:0; }
}


/*-------------------------------------------------------------------
	자세히보기 배너
-------------------------------------------------------------------*/
#sec2 .guide { display:flex; }
#sec2 .guide .box { position:relative; padding:25px; border-radius:15px; color:#fff; }
#sec2 .guide .box:nth-child(1) { width:60%; margin-right:10px; padding-left:100px; background:url(../images/main/box_ico.png) no-repeat 25px center #063883; }
#sec2 .guide .box:nth-child(2) { width:40%; background-color:#1992ff; }
#sec2 .guide .box strong { display:block; margin-bottom:10px; font-weight:300; font-family:EsaManru; }
#sec2 .guide .box strong span { font-weight:600; }
#sec2 .guide .box p { margin-bottom:45px; font-size:1.4rem; line-height:1.3; }
#sec2 .guide .box .more { display:inline-block; position:absolute; bottom:25px; right:25px; padding:5px 15px; border:1px solid #d3d8de; border-radius:20px; background-color:#fff; font-size:1.4rem; color:#333; }
#sec2 .guide .box .more::after { content:''; display:inline-block; width:8px; height:10px; margin-left:7px; background:url(../images/main/arrow.png); background-size:contain; vertical-align:middle; }

/*-------------------------------------------------------------------
	@media
-------------------------------------------------------------------*/
@media screen and (max-width:1200px) {
    #sec2 .guide { flex-flow:column; }
    #sec2 .guide .box { padding:35px; }
    #sec2 .guide .box:nth-child(1) { width:100%; margin-right:0; margin-bottom:10px; }
    #sec2 .guide .box:nth-child(2) { width:100%; }
    #sec2 .guide .box p { margin-bottom:0; }
    #sec2 .guide .box p br { display:none; }
}

@media screen and (max-width:767px) {
    #sec2 .guide .box { padding:20px; text-align:center; }
    #sec2 .guide .box:nth-child(1) { padding-left:20px; background:#063883; }
    #sec2 .guide .box p { display:none; }
    #sec2 .guide .box .more { position:static; }
}


/*-------------------------------------------------------------------
	소식지
-------------------------------------------------------------------*/
#sec2 .newsletter .slider .slick-list { margin:0 -5px; }
#sec2 .newsletter .slider .slick-slide { padding:0 5px; }
#sec2 .newsletter .slider .item { margin-bottom:10px; }
#sec2 .newsletter .slider .item a { display:block; padding:20px; background-color:#fff; box-shadow:2px 2px 4px 0px rgba(170, 170, 170, 0.3); transition:all .3s; }
#sec2 .newsletter .slider .item a strong { display:block; overflow:hidden; margin-bottom:10px; font-weight:600; font-size:1.6rem; text-overflow:ellipsis; white-space:nowrap; }
#sec2 .newsletter .slider .item a p { overflow:hidden; height:2.6em; margin-bottom:10px; font-size:1.4rem; line-height:1.3; color:#848485; white-space:normal; }
#sec2 .newsletter .slider .item a .date { font-size:1.2rem; color:#848485; }
#sec2 .newsletter .slider .item a:hover,
#sec2 .newsletter .slider .item a:active,
#sec2 .newsletter .slider .item a:focus { background-color:#f6f6f6; }

/*-------------------------------------------------------------------
	홍보영상
-------------------------------------------------------------------*/
#sec2 .video .slider .slick-list { margin:0 -5px; }
#sec2 .video .slider .slick-slide { padding:0 5px; }
#sec2 .video .slider .slide a { display:block; }
#sec2 .video .slider .slide a .img-box .cover { overflow:hidden; position:absolute; top:100%; left:0; right:0; bottom:0; z-index:1; background:rgba(0, 0, 0, 0.3); transition:all 0.3s; }
#sec2 .video .slider .slide a .img-box .cover::after { content:''; position:absolute; top:50%; left:50%; width:55px; height:55px; border-radius:50%; background:url(../images/main/ico_magn.png) no-repeat center #fff; transform:translate(-50%, -50%); }
#sec2 .video .slider .slide a:hover .img-box .cover,
#sec2 .video .slider .slide a:active .img-box .cover,
#sec2 .video .slider .slide a:focus .img-box .cover { top:0; }
#sec2 .video .slider .slide p { overflow:hidden; text-overflow:ellipsis; white-space:nowrap; }

#sec2 .video .slider .slide a .img-box { overflow:hidden; position:relative; width:100%; height:0; margin-bottom:15px; padding-bottom:56.25%; }
#sec2 .video .slider .slide a .img-box img { position:absolute; top:0; left:0; width:100%; height:100%; }


/*-------------------------------------------------------------------
	교육 문의 배너
-------------------------------------------------------------------*/
#sec2 .inquiry { display:flex; flex-flow:column; justify-content:center; height:100%; padding:30px; border-radius:15px; background-color:#1e67de; color:#fff; }
#sec2 .inquiry .info:nth-child(1) { margin-bottom:50px; } 
#sec2 .inquiry .info:nth-child(2) { margin-bottom:70px; }
#sec2 .inquiry .info h2 { margin-bottom:15px; }
#sec2 .inquiry .info .tel { font-weight:700; font-size:6rem; font-family:'Montserrat'; }
#sec2 .inquiry .info h4 { width:50%; margin-bottom:10px; border-bottom:1px solid rgba(255, 255, 255, 0.3); line-height:1.7; }
#sec2 .inquiry .info h4::before { content:''; display:inline-block; width:18px; height:18px; margin-right:5px; background:url(../images/main/clock.png); vertical-align:middle; }
#sec2 .inquiry .info dl { display:flex; }
#sec2 .inquiry .info dl:nth-child(n + 2) { margin-top:10px; }
#sec2 .inquiry .info dl dt::after { content:''; display:inline-block; width:1px; height:10px; margin:0 15px; background-color:rgba(255, 255, 255, 0.5); vertical-align:middle; }
#sec2 .inquiry .kakao { position:relative; }
#sec2 .inquiry .kakao::before { content:''; position:absolute; top:-130px; right:0; width:141px; height:136px; background:url(../images/main/main_char.png); }
#sec2 .inquiry .kakao a { display:block; padding:25px; border-radius:10px; background-color:#fed700; }
#sec2 .inquiry .kakao strong { display:block; position:relative; margin-bottom:20px; font-size:2.3rem; line-height:1.3; font-family:EsaManru; color:#201816; }
#sec2 .inquiry .kakao strong span { display:table; padding:5px; background-color:#201816; color:#fed700; }
#sec2 .inquiry .kakao strong::after { content:''; position:absolute; top:0; right:0; width:65px; height:68px; background:url(../images/main/kakao.png); }
#sec2 .inquiry .kakao p { line-height:1.5; color:#242424; }


/*-------------------------------------------------------------------
	관련 사이트 모음
-------------------------------------------------------------------*/
#sec2 .f-banner { display:flex; align-items:center; justify-content:space-between; width:calc(100% + 60px); margin:0 -30px; padding:15px 30px; background-color:#fff; }
#sec2 .f-banner .slider { width:calc(100% - 100px); }
#sec2 .f-banner .slider li a img { margin:0 auto; }
#sec2 .f-banner .control-box button { border:1px solid #d8d8d8; transition:all .3s; }
#sec2 .f-banner .control-box .prev { margin-right:-1px; }
#sec2 .f-banner .control-box button:hover,
#sec2 .f-banner .control-box button:active,
#sec2 .f-banner .control-box button:focus { background-color:#f6f6f6; }

/*-------------------------------------------------------------------
	@media
-------------------------------------------------------------------*/
@media screen and (max-width:1023px) {
    #sec2 .f-banner { width:calc(100% + 40px); margin:0 -20px; padding:15px 20px; }
}

@media screen and (max-width:767px) {
    #sec2 .f-banner { padding:10px 20px; }
    #sec2 .f-banner .slider { margin:0 auto; }
}