@charset "utf-8";  

@font-face{
    font-family: 'NotoSans-Light';
    src: url('../fonts/NotoSans-Light.eot');
    src: url('../fonts/NotoSans-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;  
}
@font-face{
    font-family: 'NotoSans-Regular';
    src: url('../fonts/NotoSans-Regular.eot');
    src: url('../fonts/NotoSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;  
}
@font-face{
    font-family: 'ModernSans-Light';
    src: url('../fonts/ModernSans-Light.eot');
    src: url('../fonts/ModernSans-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;  
}
@font-face{
    font-family: 'couture-bld';
    src: url('../fonts/couture-bld.eot');
    src: url('../fonts/couture-bld.woff') format('woff');
    font-weight: normal;
    font-style: normal;  
}
@font-face{
    font-family: 'Gravity-Regular';
    src: url('../fonts/Gravity-Regular.eot');
    src: url('../fonts/Gravity-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;  
}