@charset "utf-8";    

/*뉴굴림*/
@font-face{
    font-family: 'KoreanNGL2-R';
    src: url('../fonts/KoreanNGL2-R.eot');
    src: url('../fonts/KoreanNGL2-R.woff') format('woff');
    font-weight: normal;
    font-style: normal;  
}

/*본고딕*/
@font-face{
    font-family: 'NotoSansKR-Regular';
    src: url('../fonts/NotoSansKR-Regular.eot');
    src: url('../fonts/NotoSansKR-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;  
}