@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

body, html {
    width: 100%;
    font-family: 'NotoSansKR-Regular';
    overflow-x: hidden;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}
table {
    border-collapse: collapse;
}
.wrapper {
    width: 100%;
}
.header {
    width: 100%;
    height: 136px;
}
.header_wrap {
    /*width: 1200px;
    margin: 0 auto;*/
    border-bottom: 1px solid #707070;
}

.header_top {
    width: 1200px;
    margin: 0 auto;
    height: 68px;
}

.logo {
    float: left;
    margin-top: 25px;
    background:  url(../images/logo.png) no-repeat;
    width: 231px;
    height: 24px;
}
.tnb {
    float: right;
}

.tnb > ul > li {
    float: left;
}

.tnb > ul > li a {
    display: block;
    text-align: center;
    font-size: 16px;
    line-height: 68px;
    color: #505050;
}
.tnb > ul > li a:after {
    content: "|";
    margin: 0 5px;
}
.tnb > ul > li:last-child a:after {
    content: "";
    margin: 0;
}
.menu_ico {
    background: url(../images/menu.png) no-repeat;
    background-size: contain;
    width: 45px;
    height: 33px;
    margin: 18px 0px;
    text-indent: -9999px;
    float: right;
    display: none;
}
.header_bottom {
    width: 1200px;
    margin: 0 auto;
}
.gnb {
    float: right;
}

.gnb > ul > li {
    float: left;
}
.gnb > ul > li > a {
    display: block;
    font-family: 'KoreanNGL2-R';
    font-size: 24px;
    line-height: 68px;
    text-align: left;
    color: #505050;
    margin-left: 40px;
}
.container {
    clear: both;
}
.visual {
    background: url(../images/bg1.png) no-repeat center center;
    background-size: cover;
    height: 1080px;
}
.visual_wrap {
    width: 1200px;
    margin: 0 auto;
    position: relative;
}
.main_text {
    padding-top: 150px;
}
.main_text .text_top h4 {
    font-size: 24px;
    line-height: 1.5;
    text-align: left;
    color: #004db1;
}
.main_text .text_top h2 {
    font-family: KoreanNGL2-R;
    font-size: 48px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    text-align: left;
    color: #000;
    text-shadow: 4px 3px 0px #fff;
}
.main_text .text_top h2 span {
    color: #004db1;
}
.main_text .text_top .com {
    font-size: 24px;
    line-height: 1.5;
    color: #000;
    margin-top: 32px;
}
.main_text .text_top .more {
    display: block;
    width: 193px;
    height: 50px;
    line-height: 50px;
    margin-top: 40px;
    /*padding: 10px 30px 11px;*/
    border-radius: 25px;
    box-shadow: 3px 5px 6px 0 rgba(0, 0, 0, 0.43);
    background-color: #004db1;
    font-size: 20px;
    color: #fff;
    text-align: center;
}
.text_bottom {
    margin-top: 52px;
    text-align: center;
}
.main_text .text_bottom .date {
    font-size: 24px;
    line-height: 1.5;
    color: #a17a46;
}
.main_text .text_bottom h4 {
    width: 560px;
    height: 50px;
    margin: 0 auto;
    border-radius: 30px;
    background-color: #fff;
    font-family: KoreanNGL2-R;
    font-size: 32px;
    line-height: 50px;
    color: #502d00;
}
.ment {
    display: none;
    background: url(../images/ment.png) no-repeat;
    background-size: contain;
    width: 463px;
    height: 103px;
    margin: 0px 32px auto;
}
.w_bg {
    width: 100%;
    height: 500px;
}

.procedure {
    width: 1000px;
    margin: 0 auto;
    height: 100%;
}

.procedure > ul > li {
    float: left;
    width: 33.3333%;
    margin-top: 52px;
    /* margin-bottom: 258px; */
}
.procedure > ul > li img {
    display: block;
    margin: 0 auto;
}
.procedure > ul > li span {
    display: block;
    text-align: center;
    font-family: 'KoreanNGL2-R';
    font-size: 26px;
    line-height: 1.35;
    color: #505050;
}
.page {
    background: url(../images/bg2.png) no-repeat center center;
    background-size: cover;
}

.page_wrap {
    width: 1200px;
    margin: 0 auto;
}
.col1 {
    padding-top: 100px;
    clear: both;
}
.tabtitle {
    width: 100%;
    height: 105px;
}
.tabtitle ul li {
    float: left;
    display: block;
    font-family: 'KoreanNGL2-R';
    font-size: 40px;
    line-height: 105px;
    margin-right: 40px;   
    color: #fff;
    text-align: center;
    position: relative;
    cursor: pointer;
}
.tabtitle ul li.on:after {
    content: "";
    width: 100%;
    height: 10px;
    margin: 7.5px 34.8px 45.7px 211px;
    border-radius: 10px;
    border: solid 1px #707070;
    background-color: #005ead;
    position: absolute;
    left: -212px;
    bottom: -31px;
}
.tabcon {
    clear: both;
    width: 100%;
}
.notice {
    width: 100%;
    height: 406px;
    border-radius: 10px;
    border: solid 1px #707070;
    background-color: #fff;
}
.notice table {
    width: 84%;
    margin: 54px 96px;
    font-family: 'KoreanNGL2-R';
}
.notice table tr {
    border-bottom: 1px solid #707070;
}
.notice table tr td:first-child {
    width: 70%;
    font-size: 32px;
    line-height: 1.8;
    text-align: left;
    color: #505050;
}
.notice table tr td:last-child {
    width: 30%;
    font-size: 32px;
    line-height: 1.8;
    text-align: right;
    color: #c1c1c1;
}
.edu, .promotion {
    display: none;
} 
.banner > li {
    float: left;
}
.banner > li:first-child {
    margin-right: 48px;
}
.banner > li h2 {
    font-family: 'KoreanNGL2-R';
    font-size: 40px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.35;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
    margin: 45.5px 0 13px 4.4px;
}
.banner > li img {
/*    margin: 0 42px 0 0;*/
    padding-bottom: 67.6px;
}
.footer {
    clear: both;
}
.footer_wrap {
    width: 1200px;
    margin: 0 auto;
}

.footer_top {
    width: 100%;
    height: 68px;
    border-bottom: 1px solid #ececec;
}
.link_bar {
    float: left;
}
.link_bar ul li {
    float: left;
}

.link_bar ul li a {
    display: block;
    font-size: 20px;
    line-height: 68px;
    color: #fff;
} 
.link_bar ul li a:hover {
    color: #70aeff;
} 
.link_bar ul li a:after {
    content: "|";
    margin: 0 5px;
} 
.link_bar ul li:last-child a:after {
    content: "";
    margin: 0;
} 
.footer_bottom {
    width: 100%;
    height: 196px;
}
.copyright {
    float: left;
    display: block;
    color: #fff;
    font-size: 20px;
    margin: 19.5px 129px 0 0.8px;    
}
.ft_logo {
    float: right;
    margin: 50px 0;
    background: url(../images/ft_logo.png) no-repeat;
    width: 299px;
    height: 27px;
}

/*  아이패드*/ 
@media all and (min-width:1024px) and (max-width:1366px){
    .header_top {
        width: 95%;
    }
    .header_bottom {
        width: 95%;
    }
    .visual_wrap {
        width: 95%;
    }
    .page_wrap {
        width: 95%;
    }
    .banner > li {
        float: left;
        width: 48%;
    }
    .banner > li:first-child {
        margin-right: 4%;
    }
    .banner > li img {
        width: 100%;
    }
    .footer_wrap {
        width: 95%;
    }
    .footer_bottom {
        width: 95%;
    }
 }
 /* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px) 아이패드프로*/ 
 @media all and (min-width:768px) and (max-width:1023px) { 
    .w_bg {
        height: 40vh;
    }
    .procedure {
        width: 100%;
    }
    .procedure > ul > li {
        margin-top: 60px;
        margin-bottom: 0;
    }
    .procedure > ul > li img {
        width: 78%;
    }
    .header_top {
        width: 95%;
    }
    .header_bottom {
        width: 95%;
    }
    .gnb > ul > li > a {
        font-size: 16px;
    }
    .visual_wrap {
        width: 95%;
    }
    .procedure > ul > li {
        margin-top: 100px;
        margin-bottom: 0;
    }
    .page_wrap {
        width: 95%;
    }
    .notice table {
        margin: 54px 59px;
    }
    .notice table tr td:first-child {
        font-size: 28px;
        line-height: 2.0;
    }
    .notice table tr td:last-child {
        font-size: 28px;
        line-height: 2.0;
    }
    .banner > li {
        float: left;
        width: 48%;
    }
    .banner > li:first-child {
        margin-right: 4%;
    }
    .banner > li img {
        width: 100%;
    }
    .footer_wrap {
        width: 95%;
    }
    .footer_bottom {
        width: 95%;
    }
  }
/*** Mobile ***/
@media all and (max-width:767px) {
    .header {
        height: 68px; 
        background: navy;
    }
    .header_top {
        width: 90%;
    }

    .logo {
        float: left;
        margin-top: 25px;
        background:  url(../images/ft_logo.png) no-repeat;
        background-size: contain;
        width: 50%;
    }
    .tnb {
        display: none;
    }
    .menu_ico {
        display: block;
        width: 10%;
    }
    .header_bottom {
        display: none;
    }
    .visual {
        width: 100%;
        height: 80vh;
        background: url(../images/bg1_1.png) no-repeat center center;
        background-size: cover;
    }
    .visual_wrap {
        width: 90%;
    }
    .main_text {
        padding-top: 20px;
    }
    .main_text .text_top h4 {
        font-size: 14px;
    }
    .main_text .text_top h2 {
        font-size: 28px;
        line-height: 1.2;
    }
    .main_text .text_top h2 span {
        display: block;
    }
    .main_text .text_top .com {
        font-size: 12px;
        margin-top: 11px;
        width: 237px;
    }
    .main_text .text_top .more {
        width: 100px;
        height: 30px;
        line-height: 30px;
        margin-top: 15px;
        font-size: 11px;
    }
    .text_bottom {
        margin-top: 47px;
        position: relative;
    }
    .main_text .text_bottom .date {
        font-size: 12px;
        position: absolute;
        right: 7%;
        bottom: -200px;

    }
    .main_text .text_bottom h4 {
        display: none;
    }
    .ment {
        display: block;
        width: 70%;
        position: absolute;
        top: 50px;
    }
    .w_bg {
        height: 40vh;
    }
    .procedure {
        width: 100%;
    }
    .procedure > ul > li {
        margin-top: 60px;
        margin-bottom: 0;
    }
    .procedure > ul > li img {
        width: 78%;
    }
    .procedure > ul > li span {
        font-size: 11px;
    }
    .page {
        width: 100%;
    }
    .page_wrap {
        width: 90%;
    }
    .col1 {
        padding-top: 80px;
    }
    .tabcon {
        width: 100%;
    }
    .tabtitle ul li {
        font-size: 25px;
        margin-right: 0;   
        width: 33.3333%;
    }
    .notice {
        width: 100%;
        height: 200px;
    }
    .notice table {
        width: 84%;
        margin: 26px 28px;
        font-family: 'KoreanNGL2-R';
    }
    .notice table tr {
        border-bottom: 1px solid #707070;
    }
    .notice table tr td:first-child {
        font-size: 12px;
        line-height: 2.2;
    }
    .notice table tr td:last-child {
        font-size: 12px;
        line-height: 2.2;
    }
    .banner > li {
        float: left;
        width: 48%;
    }
    .banner > li:first-child {
        margin-right: 4%;
    }
    .banner > li h2 {
        font-size: 20px;
    }
    .banner > li img {
        width: 100%;
        padding-bottom: 20px;
    }
    .footer_wrap {
        width: 100%;
    }
    .footer_top {
        height: 58px;
    }
    .link_bar ul li a {
        font-size: 11px;
        line-height: 58px;
    } 
    .footer_bottom {
        width: 100%;
    }
    .copyright {
        float: left;
        font-size: 11px;
        margin: 0;
        padding-top: 73px;
    }
    .ft_logo {
        float: left;
        background-size: contain;
        margin: 30px 0;;
        width: 40%;
        position: absolute;
        left: 7%;
    }
}

/* 갤럭시 */
@media all and (min-width:360px) and (max-width:640px) {
    .main_text .text_bottom .date {
        bottom: -235px;
    }
    .ment {
        top: 40px;
    }
    .procedure > ul > li {
        margin-top: 100px;
        margin-bottom: 0;
    }
}

/* 아이폰6,7,8 */
@media all and (min-width:375px) and (max-width:667px) {
    .main_text .text_bottom .date {
        bottom: -260px;
    }
    .ment {
        top: 60px;
    }
    .procedure > ul > li {
        margin-top: 120px;
        margin-bottom: 0;
    }
}

/* 아이폰x */
/* @media all and (min-width:375px) and (max-width:812px) {
    .main_text .text_bottom .date {
        bottom: -360px;
    }
    .ment {
        top: 132px;
    }
    .procedure > ul > li {
        margin-top: 210px;
        margin-bottom: 0;
    }
} */

/* 아이폰6,7,8+ */
@media all and (min-width:414px) and (max-width:736px) {
    .main_text .text_bottom .date {
        bottom: -310px;
    }
    .ment {
        top: 90px;
    }
    .procedure > ul > li {
        margin-top: 160px;
        margin-bottom: 0;
    }
    .procedure > ul > li img {
        width: 78%;
    }
    .procedure > ul > li span {
        font-size: 11px;
    }
}


