@charset "utf-8";

/*스타일 초기화*/
* {
	margin: 0;
	padding: 0;
}
body, html {
	width: 100%; 
	font-family: 'NotoSans-Regular';
	-ms-overflow-style: none;
}
ul, li {
	list-style: none;
}
a {
	text-decoration: none;
}
/*헤더 시작*/
.search_fr {
    width: 600px;
    height: 100px;
    position: absolute;
    top: 35px;
    right: 355px;
    z-index: 999;
    /*visibility: hidden;
    opacity: 0;*/
    /*transition: 0.5s;*/
    background-color: #fff;
    display: none;
}
#search_form {
    /*clear: both;*/
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0 auto;
}

.search_tit {
    text-align: center;
    padding-top: 28px;
    padding-bottom: 15px;
    color: #23408f;
    font-size: 18px;
}
.smart {
    display: block;
    width: 100px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #bbb;
    text-align: center;
    background: #f8f9fb;
    font-size: 14px;
    font-weight: 600;
    position: absolute;
    left: 20px;
    top: 14px;
}
.whole {
    display: block;
    width: 100px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #bbb;
    text-align: center;
    background: #f8f9fb;
    font-size: 14px;
    position: absolute;
    left: 135px;
    top: 14px;
    cursor: pointer;
}
.whole_sub {
    position: absolute;
    top: 55px;
    left: 135px;
    width: 100px;
    height: 114px;
    text-align: center;
    font-size: 14px;
    background: #fff;
    border: 1px solid #bbb;
    z-index: 888;
    display: none;
}
.whole_sub li {
    height: 28px;
    line-height: 28px;
    cursor: pointer;
    transition: all 0.5s;
    border-bottom: 1px solid #bbb;
}
.whole_sub li:last-child {
    border-bottom: none;
}
.whole_sub li:hover {
    background: #eee;
}
.search_box {
    position: relative;
}
#keyword {
    display: block;
    width: 316px;
    height: 40px;
    line-height: 58px;
    border: 2px solid #23408f;
    border-radius: 5px;
    float: right;
    margin-top: 14px;
    margin-right: 20px;
    padding-left: 10px;
    font-size: 14px;
    font-weight: 600;
    font-family: "NotoSans-Light";
}
#search_btn {
    position: absolute;
    top: 14px;
    right: 20px;
    width: 42px;
    height: 42px;
    text-align: center;
    float: right;
    background-color: transparent;
    cursor: pointer;
    color: #23408f;
}
#search_btn i {
    font-size: 18px;
}

.close_btn1 {
    display: block;
    width: 100%;
    height: 30px;
    line-height: 30px;
    background: #113184;
    position: absolute;
    left: 0;
    bottom: 0;
    cursor: pointer;
    font-size: 14px;
    color: #fff;
}
.close_btn1 span {
    display: block;
    text-align: center;
}
.close_btn1 span i {
    margin-left: 10px;
}
.hd {
    width: 100%;
    height: 115px;
    border-bottom: 1px solid rgba(255,255,255,.2);
    position: relative; 
    z-index: 998;
}
.hd_top {
    background: #046fd9;
    width: 100%;
    height: 35px;
    z-index: 999;
    position: relative;
}
.ht_wrap {
    width: 1210px;
    margin: 0 auto;
    line-height: 35px;
}
.ht_left {
    float: left;
}
.ht_right {
    float: right;
}
.lang {
    display: block;
    width: 100px;
    height: 35px;
    background: #113184;
    color: #fff;
    font-size: 12px;
    text-align: center;
    cursor: pointer;
}
.xi-angle-down-min {
    margin-left: 5px;
}
.lang_sub {
    position: absolute;
    top: 35px;
    left: 0;
    width: 100px;
    height: 72px;
    text-align: center;
    font-size: 12px;
    background: #fff;
    display: none;
}
/*.lang_sub.hide {
    display: block;
}*/
.lang_sub li {
    height: 24px;
    line-height: 24px;
    cursor: pointer;
    transition: all 0.5s;
}
.lang_sub li:hover {
    background: #eee;
}
.ht_left > ul > li {
    position: relative;
    float: left;
    vertical-align: middle;
    margin-right: 50px;
}
.ht_left ul li a {
    display: block;
    color: #fff;
    font-size: 14px;
}
.ht_right ul li {
    float: left;
}
.ht_right ul li a {
    display: block;
}
.ht_right ul li:first-child a, .ht_right ul li:nth-child(2) a {
    font-size: 14px;
    color: #fff;
    margin-right: 30px;
}
.ht_right ul li:first-child i, .ht_right ul li:nth-child(2) i {
    font-size: 18px;
    margin-right: 5px;
}
.search {
    cursor: pointer;
    position: relative;
}
.search:before {
    content: "";
    width: 25px;
    height: 20px;
    background: rgba(0,0,0,0.3);
    position: absolute;
    transform: rotate(45deg);
    left: -15px;
    bottom: 6px;
    z-index: -1;
}
.search .xi-search {
    display: block;
    color: #fff;
    font-size: 24px;
    line-height: 35px;
    text-align: center;
    width: 45px;
    height: 40px;
    background: #113184;
    border-left: 1px solid rgba(255,255,255,0.3);
}
.hd_box {
    position: relative;
    height: 80px;
    z-index: 888;
}
.hd_box:hover {
    background: #fff;
}
.hd_box:hover .gnb ul li a.dp1 {
    color: #333;
}
.hd_box:hover .gnb ul li:hover a.dp1, .hd .hd_box .hd_wrap .gnb ul li a.on {
    color: /*#bf6f32;*/ /*#1d7daf;*/ #005bac;
}
.hd_box:hover .hd_wrap .logo {
     background: url(../images/ft_logo.png);
}
.hd_wrap {
    width: 1210px;
    height: 80px;
    margin: 0 auto; 
    position: relative;
    z-index: 777;
}

.logo {
    display: block;
    float: left;
    margin: 20px 0px;
    background: url(../images/logo.png) no-repeat;
    width: 200px;
    height: 41px;
    background-size: contain;
}

/*.logo img {
    display: block;
    width: 70px;
    height: 50px;
    position: absolute; z-index: 99; 
}*/

.gnb {
    /*float: left;
    margin-top: 35px;*/
    width: 1000px;
    float: right;
    margin: 15px 0px;
}

/*.gnb ul {
    margin-left: 350px;
}*/

.gnb > ul > li {
    /*float: left;
    margin-right: 50px;
    font-size: 18px;*/
    float: left;
    width: 20%;
    text-align: center;
}

.gnb li a.dp1 {
    display: block;
    color: #fff;
    font-weight: 600;
}

.sub {
    position: absolute;
    left: 0;
    top: 80px;
    background: rgba(41,63,135,0.8);
    width: 100%;
    /*height: 0;*/
    /*height: 300px;*/
    /*overflow: hidden;
    opacity: 1;
    visibility: visible;
    transition: height 1s;*/
    z-index: 998;
    /*display: none;*/
    /*padding-left: 500px; */
}
/*.sub.item2 {
    height: 230px;
}*/
.sub_box {
    width: 1210px;
    margin: 0 auto;
}
.sub .sub_img img {
    display: block;
    float: left;
}
.sub_menu {
    float: left;
    margin-left: 30px;
    margin-bottom: 30px;
}
.sub_menu > ul {
    position: relative;
}
.sub_menu > ul:nth-child(2) {
    clear: both;
}
.sub_menu > ul > li {
    float: left;
    margin-right: 20px;
}
.sub_menu > ul > li:last-child {
    margin-right: 0;
}
.sub.item0 .sub_menu > ul:first-child > li:last-child {
    position: absolute;
    top: 70px;
    right: 20px;
    z-index: 999;
}
.sub_menu > ul > li > a.dp2 {
    display: block;
    color: #fff;
    width: 200px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #7998e5;
    font-size: 15px;
    padding-left: 5px;
    margin-top: 30px;
}
.sub_menu > ul > li > a.dp2:hover {
    background: rgba(0,0,0,0.2);
}
.sub_menu > ul > li > a > i {
    float: right;
    margin-top: 12px;
    margin-right: 5px;
}
.dp2_sub {
    margin-top: 20px;
    margin-bottom: 20px;
}
.dp2_sub li a {
    display: block;
    color: #fff;
    font-size: 13px;
    line-height: 24px;
    font-family: "NotoSans-Light";
}
.dp2_sub li a:hover {
    color: #ffeb74;
}
/*헤더 끝*/
/* 푸터 시작 */
.ft {
    width: 100%;
    clear: both;
    height: 240px;
    
}

.ft_wrap {
    width: 1210px;
    margin: 0 auto;
    position: relative;
}

.fnb {
    width: 100%;
    height: 74px;
    background-color: #2f313d;
}
.fnb ul {
    width: 1210px;
    margin: 0 auto;
}

.fnb li {
    float: left;
    margin-right: 50px;
}

.fnb li a {
    display: block;
    color: #fff;
    line-height: 70px;
}

.fnb li a:hover {
    color: #ffeb74;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
}

.ft_wrap1 {
    padding-top: 35px;
    padding-bottom: 20px;
}

a.ft_logo {
    display: block;
    float: left;
}

.ft_wrap1 img {
    display: block;
    width: 200px;
    height: 41px;
}

.ft_wrap1 .addr, .col {
    font-size: 14px;
    font-weight: 100;
    display: block;
    padding-left: 300px;
}

.copyright {
    display: block;
    font-size: 14px;
    font-weight: 100;
    padding-left: 300px;
    padding-top: 10px;
}

#sel {
    display: block;
    width: 170px;
    height: 50px;
    line-height: 44px;
    font-size: 16px;
    position: absolute;
    bottom: 55px;
    right: 0;
    border: 1px solid #333;
}
/*푸터 끝*/