@charset "utf-8";    

@font-face {
    font-family: 'NanumBarunGothic';
    src: url('../fonts/NanumBarunGothic.eot');
    src: url('../fonts/NanumBarunGothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;    
}
@font-face{
    font-family: 'NotoSans-Regular';
    src: url('../fonts/NotoSans-Regular.eot');
    src: url('../fonts/NotoSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;  
}
@font-face{
    font-family: 'NotoSans-Light';
    src: url('../fonts/NotoSans-Light.eot');
    src: url('../fonts/NotoSans-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;  
}
@font-face {
    font-family: 'NEXON Lv1 Gothic OTF';
    src: url('../fonts/NEXON Lv1 Gothic OTF.eot');
    src: url('../fonts/NEXON Lv1 Gothic OTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'EliceDigitalBaeum_Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/EliceDigitalBaeum_Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ONE-Mobile-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}