@charset "utf-8";

.wrapper {
    /* clear: both; */
    width: 100%;
    position: relative;
}

.content {
    /*clear: both; */
    width: 100%;
    position: absolute;
    top: 0;
}

.clr:after {
    content: "";
    display: block;
    clear: both;
}

.vs {
    width: 100%;
	height: 790px;
    overflow: hidden;
    position: relative;
}

.vs .vs_fr {
    width: 400%;
}

.vs .vs_fr li {
    width: 25%;
    float: left;
}

.vs .vs_fr li img {
    display: block;
	width: 1920px;
	height: 790px;
    margin: 0 auto;
}

.btn_box_w li button {
    position: absolute;
    z-index: 10;
    display: block;
    width: 80px;
    height: 80px;
    bottom: 0;
    background-color: transparent;
    border: 0;
    outline: 0;
    cursor: pointer;
    background-position: center center;
    background-repeat: no-repeat;
}

.btn_box_w li button.prev_btn_w {
    background-image: url("../images/prev_btn_w.png");
    left: 0px;
    width: 86px;
    height: 86px;
    background-color: rgba(0, 0, 0, 0.4);
}

.btn_box_w li button.prev_btn_w:hover {
    background-color: rgba(0, 0, 0, 0.6);
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
}

.btn_box_w li button.stop_btn_w {
    background-image: url("../images/stop_btn_w.png");
    right: 86px;
    width: 86px;
    height: 86px;
    background-color: rgba(0, 0, 0, 0.4);
}

.btn_box_w li button.stop_btn_w:hover {
    background-color: rgba(0, 0, 0, 0.6);
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
}

.btn_box_w li button.stop_btn_w.on {
    background-image: url(../images/start_btn_w.png);
}

.btn_box_w li button.next_btn_w {
    background-image: url("../images/next_btn_w.png");
    right: 0px;
    width: 86px;
    height: 86px;
    background-color: rgba(0, 0, 0, 0.4);
}

.btn_box_w li button.next_btn_w:hover {
    background-color: rgba(0, 0, 0, 0.6);
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
}

.icon_box {
    /*clear: both;*/
    width: 1000px;
    margin: 0 auto;
}

.icon_box .icon_fr {
    position: relative;
    bottom: 350px;
}

.icon_box .icon_fr li {
	position: relative;
    float: left;
	top: 0;
    margin: 0px 23px;
    cursor: pointer;
	transition: all 0.3s ease-in-out;
}

.icon_box .icon_fr li:hover {
    top: -5px;
}
.icon_box .icon_fr li a {
	display: block;
    width: 150px;
    height: 150px;
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    text-align: center;
    font-family: "NotoSans-Light";
    font-weight: 600;
    font-size: 16px;
    position: relative;
    border-radius: 80px;
	transition: all 0.3s ease-in-out;
}
.icon_box .icon_fr li:hover a {
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffeb74;
}
.icon_box .icon_fr li span {
    display: block;
    padding-top: 100px;
}
.icon_box .icon_fr li span:before {
    content: "";
    width: 72px;
    height: 72px;
    position: absolute;
    top: 25px;
    left: 40px;
    transition: all 0.3s ease-in-out;
}
.icon_box .icon_fr .icon1 span:before {
    background: url(../images/bus.png) no-repeat;
}
.icon_box .icon_fr .icon1:hover span:before {
    background: url(../images/bus_on.png) no-repeat;
}
.icon_box .icon_fr .icon2 span:before {
    background: url(../images/ticket.png) no-repeat;
}
.icon_box .icon_fr .icon2:hover span:before {
    background: url(../images/ticket_on.png) no-repeat;
}
.icon_box .icon_fr .icon3 span:before {
    background: url(../images/market.png) no-repeat;
}
.icon_box .icon_fr .icon3:hover span:before {
    background: url(../images/market_on.png) no-repeat;
}
.icon_box .icon_fr .icon4 span:before {
    background: url(../images/map.png) no-repeat;
}
.icon_box .icon_fr .icon4:hover span:before {
    background: url(../images/map_on.png) no-repeat;
}
.icon_box .icon_fr .icon5 span:before {
    background: url(../images/insta.png) no-repeat;
    left: 38px;
}
.icon_box .icon_fr .icon5:hover span:before {
    background: url(../images/insta_on.png) no-repeat;
}

.page {
    clear: both;
    /*width: 1210px;
    margin: 0 auto;*/
}

#page1 {
    /*position: relative;*/
    width: 100%;
    height: 530px;
    padding-top: 70px;
    background: url(../images/sec1Bg1.png) no-repeat center bottom;
}
#page1 .page_wrap {
    position: relative;
    width: 1210px;
    margin: 0 auto;
    height: 100%;
}
#page1 .page_tit {
    font-size: 28px;
    margin-bottom: 37px;
    font-family: 'NEXON Lv1 Gothic OTF';
}

.gif_box {
    position: absolute;
    top: -250px;
    left: 37%;
}

.btn_box li button {
    position: absolute;
    z-index: 10;
    display: block;
    width: 80px;
    height: 80px;
    top: 65px;
    background-color: transparent;
    border: 0;
    outline: 0;
    cursor: pointer;
    background-position: center center;
    background-repeat: no-repeat;
}

.btn_box li button.more_btn {
    background-image: url("../images/more_btn.png");
    left: 515px;
    border: 1px solid #ddd;
    border-radius: 50%;
    width: 52px;
    height: 52px;
}

.btn_box li button.more_btn:hover {
    background-color: #efefef;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
}

.btn_box li button.prev_btn {
    background-image: url("../images/prev_btn.png");
    right: 120px;
    border: 1px solid #ddd;
    border-radius: 50%;
    width: 52px;
    height: 52px;
}

.btn_box li button.prev_btn:hover {
    background-color: #efefef;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
}

.btn_box li button.stop_btn {
    background-image: url("../images/stop_btn.png");
    right: 60px;
    border: 1px solid #ddd;
    border-radius: 50%;
    width: 52px;
    height: 52px;
}

.btn_box li button.stop_btn:hover {
    background-color: #efefef;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
}

.btn_box li button.stop_btn.on {
    background-image: url(../images/start_btn.png);
}

.btn_box li button.next_btn {
    background-image: url("../images/next_btn.png");
    right: 0px;
    border: 1px solid #ddd;
    border-radius: 50%;
    width: 52px;
    height: 52px;
}

.btn_box li button.next_btn:hover {
    background-color: #efefef;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
}

.notice_box {
    width: 565px;
    float: left;
}

.notice_box .notice {
    border: 2px solid #ddd;
    background: #fff;
    padding: 30px;
}

.notice_box .notice li {
    line-height: 30px;
    font-size: 16px;
    letter-spacing: -0.05em;
}

.notice_box .notice li a {
    display: block;
    color: #333;
    cursor: pointer;
    padding-left: 5px;
    padding-right: 5px;
}

.notice_box .notice li a:hover {
    background-color: #ffef90;
    transition-timing-function: ease-in-out;
    transition-duration: 0.5s;
}

.notice_box .notice li a span.tit {
    background-image: url(../images/bul.jpg);
    background-position: left;
    background-repeat: no-repeat;
    padding-left: 10px;
}

.notice_box .notice li a span.date {
    float: right;
}

.notice_box .button {
    width: 565px;
    height: 60px;
    margin-top: 30px;
}

.notice_box .button li {
    float: left;
    width: 270px;
    height: 60px;
    margin-right: 25px;
}

.notice_box .button li:last-child {
    margin-right: 0;
}

.notice_box .button a {
    display: block;
    text-align: center;
    line-height: 55px;
    background-color: /*#bf6f32;*/ #005bac;
    color: #fff;
    border-radius: 10px;
}

.notice_box .button a:hover {
    background-color: /*#965624;*/ #113184;
    color: #fff;
    transition-timing-function: ease-in-out;
    transition-duration: 0.5s;
}

.button span.culture {
    display: block;
    background-image: url(../images/cul_ico.png);
    background-position: 55px;
    background-repeat: no-repeat;
}

.button span.date1 {
    display: block;
    background-image: url(../images/dat_ico.png);
    background-position: 55px;
    background-repeat: no-repeat;
}

.popup_box {
    width: 605px;
    float: right;
    overflow: hidden;
}

.popup_box .img_fr {
    width: 2420px;
}

.popup_box .img_fr li {
    float: left;
    margin-left: 10px;
}

.popup_box .img_fr li:hover {
    margin-top: -10px;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
}


#page2 {
    clear: both;
    width: 100%;
    height: 984px;
    overflow: hidden;
    position: relative;
}
#page2:before {
    content: "";
    background: /*#ddbba2;*/ #94cce0;
    width: 58%;
    height: 984px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}
#page2:after {
    content: "";
    background: #ffef90;
    width: 42%;
    height: 984px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}
#page2 .page_wrap {
    width: 1210px;
    margin: 0 auto;
    position: relative;
}
.map_fr {
    float: left;
    width: 54%;
    height: 984px;
}

.map_bg {
    background-image: url(../images/map_sp.png);
    background-position: -25px -35px;
    background-repeat: no-repeat;
    width: 769px;
    height: 859px;
    position: absolute;
    top: 50px;
    left: -200px;
}
.lb_box > li label .no {
    background-image: url(../images/map_sp.png);
    background-repeat: no-repeat;
    position: absolute;
    cursor: pointer;
    z-index: 2;
}
.lb_box > li label .tit {
    background-image: url(../images/map_sp.png);
    background-repeat: no-repeat;
    position: absolute;
    border-radius: 30px;
    z-index: 1;
    cursor: pointer;
}
.lb_box > li:hover label .tit,.lb_box > li label .tit.on {
    background-color: #b0463b;
    transition: 0.5s;
    transition-timing-function: ease-in-out; 
}

.lb_box .item1 label .no {
    background-position: -912px -56px;
    width: 51px;
    height: 59px;
    top: 505px;
    left: 180px;
}
.lb_box .item1:hover label .no, .lb_box .item1 label .no.effect {
    background-position: -1242px -56px;
}

.lb_box .item1 label .tit {
    background-position: -936px -76px;
    width: 260px;
    height: 40px;
    top: 522px;
    left: 200px;
    background-color: rgba(0, 0, 0, 0.3);
}

.lb_box .item2 label .no{
    background-position: -912px -129px;
    width: 51px;
    height: 59px;
    top: 335px;
    left: 230px;
}
.lb_box .item2:hover label .no, .lb_box .item2 label .no.effect {
    background-position: -1242px -129px;
}
.lb_box .item2 label .tit {
    background-color: rgba(0, 0, 0, 0.3);
    background-position: -932px -148px;
    width: 120px;
    height: 40px;
    top: 350px;
    left: 250px;
}


.lb_box .item3 label .no {
    background-position: -1020px -198px;
    width: 51px;
    height: 59px;
    top: 370px;
    left: 136px;
}

.lb_box .item3:hover label .no, .lb_box .item3 label .no.effect {
    background-position: -1350px -198px;
}

.lb_box .item3 label .tit {
    background-color: rgba(0, 0, 0, 0.3);
    background-position: -933px -219px;
    width: 120px;
    height: 40px;
    top: 390px;
    left: 50px;
}

.lb_box .item3:hover label .tit {
    background-color: #b0463b;
    transition: 0.5s;
    transition-timing-function: ease-in-out;
}

.lb_box .item4 label .no {
    background-position: -1088px -265px;
    width: 51px;
    height: 59px;
    top: 380px;
    left: 445px;
}

.lb_box .item4:hover label .no, .lb_box .item4 label .no.effect {
    background-position: -1418px -265px;
}

.lb_box .item4 label .tit {
    background-color: rgba(0, 0, 0, 0.3);
    background-position: -941px -283px;
    width: 170px;
    height: 40px;
    top: 400px;
    left: 300px;
}


.lb_box .item5 label .no {
    background-position: -915px -332px;
    width: 51px;
    height: 59px;
    top: 432px;
    left: 312px;
}

.lb_box .item5:hover label .no, .lb_box .item5 label .no.effect {
    background-position: -1245px -332px;
}

.lb_box .item5 label .tit {
    background-color: rgba(0, 0, 0, 0.3);
    background-position: -934px -350px;
    width: 140px;
    height: 40px;
    top: 450px;
    left: 330px;
}


.lb_box .item6 label .no {
    background-position: -915px -399px;
    width: 51px;
    height: 59px;
    top: 282px;
    left: 82px;
}

.lb_box .item6:hover label .no, .lb_box .item6 label .no.effect {
    background-position: -1245px -399px;
}

.lb_box .item6 label .tit {
    background-color: rgba(0, 0, 0, 0.3);
    background-position: -934px -416px;
    width: 200px;
    height: 40px;
    top: 300px;
    left: 100px;
}

.lb_box .item6:hover label .tit {
    background-color: #b0463b;
    transition: 0.5s;
    transition-timing-function: ease-in-out;
}

.lb_box .item7 label .no {
    background-position: -915px -467px;
    width: 51px;
    height: 59px;
    top: 232px;
    left: 32px;
}

.lb_box .item7:hover label .no, .lb_box .item7 label .no.effect {
    background-position: -1245px -467px;
}

.lb_box .item7 label .tit {
    background-color: rgba(0, 0, 0, 0.3);
    background-position: -934px -485px;
    width: 120px;
    height: 40px;
    top: 250px;
    left: 50px;
}

.lb_box .item7:hover label .tit {
    background-color: #b0463b;
    transition: 0.5s;
    transition-timing-function: ease-in-out;
}

.lb_box .item8 label .no {
    background-position: -917px -534px;
    width: 51px;
    height: 59px;
    top: 180px;
    left: 330px;
}

.lb_box .item8:hover label .no, .lb_box .item8 label .no.effect {
    background-position: -1247px -534px;
}

.lb_box .item8 label .tit {
    background-color: rgba(0, 0, 0, 0.3);
    background-position: -939px -552px;
    width: 120px;
    height: 40px;
    top: 200px;
    left: 350px;
}

.lb_box .item8:hover label .tit {
    background-color: #b0463b;
    transition: 0.5s;
    transition-timing-function: ease-in-out;
}

.lb_box .item9 label .no {
    background-position: -917px -600px;
    width: 51px;
    height: 59px;
    top: 430px;
    left: -70px;
}

.lb_box .item9:hover label .no, .lb_box .item9 label .no.effect {
    background-position: -1247px -600px;
}

.lb_box .item9 label .tit {
    background-color: rgba(0, 0, 0, 0.3);
    background-position: -939px -618px;
    width: 120px;
    height: 40px;
    top: 450px;
    left: -50px;
}

.lb_box .item9:hover label .tit {
    background-color: #b0463b;
    transition: 0.5s;
    transition-timing-function: ease-in-out;
}

.lb_box .item10 label .no {
    background-position: -913px -671px;
    width: 51px;
    height: 59px;
    top: 500px;
    left: -100px;
}

.lb_box .item10:hover label .no, .lb_box .item10 label .no.effect {
    background-position: -1243px -671px;
}

.lb_box .item10 label .tit {
    background-color: rgba(0, 0, 0, 0.3);
    background-position: -939px -689px;
    width: 120px;
    height: 40px;
    top: 520px;
    left: -80px;
}

.lb_box .item10:hover label .tit {
    background-color: #b0463b;
    transition: 0.5s;
    transition-timing-function: ease-in-out;
}
.img_cate_box {
    width: 46%;
    height: 984px;
    float: right;
}
.img_cate_box .cate_fr {
    position: absolute;
    top: 0;
    left: 755px;
}
.img_cate_box h2 {
    margin-left: 100px;
    font-size: 42px;
}
.img_cate_box .cate_fr h2 > span {
   display: block;
}
.img_cate_box .cate_fr h2 > span:nth-child(2) {
    margin-top: 5px;
}
.img_cate_box .cate_fr h2 > span:nth-child(2),.img_cate_box .cate_fr h2 > span:nth-child(3) {
    float: left;
}
.img_cate_box .cate_fr p {
    clear: left;
}
/*.img_cate_box .andong { color: #bf6f32; }*/

.img_cate_box .cate_fr .andong {
    display: block;
    background-image: url(../images/map_sp.png);
    background-repeat: no-repeat;
    background-position: -94px -1002px;
    width: 167px;
    height: 40px;
}
.img_cate_box .cate_fr > li {
    display: none;
}
.img_cate_box .cate_fr .cate10 {
    display: block;
}
.img_cate_box .cate_fr .cate1 .no {
    display: block;
    background-image: url(../images/map_sp.png);
    background-repeat: no-repeat;
    background-position: -315px -1000px;
    width: 61px;
    height: 43px;
    position: absolute;
    top: 78px;
    left: 280px;
}

.img_cate_box .cate_fr .cate1 .img_cate_tit1 {
    display: block;
    background-image: url(../images/map_sp.png);
    background-repeat: no-repeat;
    background-position: -93px -1093px;
    width: 514px;
    height: 53px;
    margin-bottom: 50px;
    margin-top: 20px;
}

/*.img_cate_box .img_cate_tit1 { font-family: 'NEXON Lv1 Gothic OTF'; margin-top: -130px; font-size: 46px; margin-left: 100px; }*/
.img_cate_box .cate_fr .cate2 .no {
    display: block;
    background-image: url(../images/map_sp.png);
    background-repeat: no-repeat;
    background-position: -408px -1000px;
    width: 61px;
    height: 43px;
    position: absolute;
    top: 78px;
    left: 280px;
}

.img_cate_box .cate_fr .cate2 .img_cate_tit1 {
    display: block;
    background-image: url(../images/map_sp.png);
    background-repeat: no-repeat;
    background-position: -665px -1093px;
    width: 144px;
    height: 53px;
    margin-bottom: 50px;
    margin-top: 20px;
}

.img_cate_box .cate_fr .cate3 .no {
    display: block;
    background-image: url(../images/map_sp.png);
    background-repeat: no-repeat;
    background-position: -495px -1000px;
    width: 61px;
    height: 43px;
    position: absolute;
    top: 78px;
    left: 280px;
}

.img_cate_box .cate_fr .cate3 .img_cate_tit1 {
    display: block;
    background-image: url(../images/map_sp.png);
    background-repeat: no-repeat;
    background-position: -857px -1093px;
    width: 144px;
    height: 53px;
    margin-bottom: 50px;
    margin-top: 20px;
}

.img_cate_box .cate_fr .cate4 .no {
    display: block;
    background-image: url(../images/map_sp.png);
    background-repeat: no-repeat;
    background-position: -595px -1000px;
    width: 61px;
    height: 43px;
    position: absolute;
    top: 78px;
    left: 280px;
}

.img_cate_box .cate_fr .cate4 .img_cate_tit1 {
    display: block;
    background-image: url(../images/map_sp.png);
    background-repeat: no-repeat;
    background-position: -1057px -1093px;
    width: 307px;
    height: 53px;
    margin-bottom: 50px;
    margin-top: 20px;
}

.img_cate_box .cate_fr .cate5 .no {
    display: block;
    background-image: url(../images/map_sp.png);
    background-repeat: no-repeat;
    background-position: -692px -1000px;
    width: 61px;
    height: 43px;
    position: absolute;
    top: 78px;
    left: 280px;
}

.img_cate_box .cate_fr .cate5 .img_cate_tit1 {
    display: block;
    background-image: url(../images/map_sp.png);
    background-repeat: no-repeat;
    background-position: -100px -1201px;
    width: 169px;
    height: 53px;
    margin-bottom: 50px;
    margin-top: 20px;
}

.img_cate_box .cate_fr .cate6 .no {
    display: block;
    background-image: url(../images/map_sp.png);
    background-repeat: no-repeat;
    background-position: -788px -1000px;
    width: 61px;
    height: 43px;
    position: absolute;
    top: 78px;
    left: 280px;
}

.img_cate_box .cate_fr .cate6 .img_cate_tit1 {
    display: block;
    background-image: url(../images/map_sp.png);
    background-repeat: no-repeat;
    background-position: -328px -1201px;
    width: 345px;
    height: 53px;
    margin-bottom: 50px;
    margin-top: 20px;
}

.img_cate_box .cate_fr .cate7 .no {
    display: block;
    background-image: url(../images/map_sp.png);
    background-repeat: no-repeat;
    background-position: -886px -1000px;
    width: 61px;
    height: 43px;
    position: absolute;
    top: 78px;
    left: 280px;
}

.img_cate_box .cate_fr .cate7 .img_cate_tit1 {
    display: block;
    background-image: url(../images/map_sp.png);
    background-repeat: no-repeat;
    background-position: -724px -1201px;
    width: 144px;
    height: 53px;
    margin-bottom: 50px;
    margin-top: 20px;
}

.img_cate_box .cate_fr .cate8 .no {
    display: block;
    background-image: url(../images/map_sp.png);
    background-repeat: no-repeat;
    background-position: -984px -1000px;
    width: 61px;
    height: 43px;
    position: absolute;
    top: 78px;
    left: 280px;
}

.img_cate_box .cate_fr .cate8 .img_cate_tit1 {
    display: block;
    background-image: url(../images/map_sp.png);
    background-repeat: no-repeat;
    background-position: -917px -1201px;
    width: 169px;
    height: 53px;
    margin-bottom: 50px;
    margin-top: 20px;
}

.img_cate_box .cate_fr .cate9 .no {
    display: block;
    background-image: url(../images/map_sp.png);
    background-repeat: no-repeat;
    background-position: -1097px -1000px;
    width: 61px;
    height: 43px;
    position: absolute;
    top: 78px;
    left: 280px;
}

.img_cate_box .cate_fr .cate9 .img_cate_tit1 {
    display: block;
    background-image: url(../images/map_sp.png);
    background-repeat: no-repeat;
    background-position: -1143px -1201px;
    width: 169px;
    height: 53px;
    margin-bottom: 50px;
    margin-top: 20px;
}

.img_cate_box .cate_fr .cate10 .no {
    display: block;
    background-image: url(../images/map_sp.png);
    background-repeat: no-repeat;
    background-position: -1214px -1000px;
    width: 70px;
    height: 43px;
    position: absolute;
    top: 78px;
    left: 280px;
}

.img_cate_box .cate_fr .cate10 .img_cate_tit1 {
    display: block;
    background-image: url(../images/map_sp.png);
    background-repeat: no-repeat;
    background-position: -1366px -1201px;
    width: 169px;
    height: 53px;
    margin-bottom: 50px;
    margin-top: 20px;
}

.img_cate_box .img_cate_com {
    display: block;
    margin-left: 100px;
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #333;
}

.img_cate_box img {
    display: block;
    width: 352px;
    height: 226px;
    margin-left: 100px;
}

.img_cate_box .adr {
    margin-top: 20px;
}

.img_cate_box .adr,
.coll {
    margin-left: 140px;
    line-height: 40px;
    font-size: 18px;
    font-weight: 600;
    color: #333;
    position: relative;
}

.img_cate_box .adr span {
    display: block;
    background-image: url(../images/map_sp.png);
    background-repeat: no-repeat;
    background-position: -1491px -996px;
    width: 32px;
    height: 32px;
    position: absolute;
    top: 3px;
    left: -40px;
    background-color: #333;
    border-radius: 50%;
}

.img_cate_box .coll span {
    display: block;
    background-image: url(../images/map_sp.png);
    background-repeat: no-repeat;
    background-position: -1491px -1057px;
    width: 32px;
    height: 32px;
    position: absolute;
    top: 3px;
    left: -40px;
    background-color: #333;
    border-radius: 50%;
}

.img_cate_box .more {
    display: block;
    width: 150px;
    height: 50px;
    background-color: /*#bf6f32;*/ #005bac;
    color: #fff;
    text-align: center;
    line-height: 50px;
    margin-left: 100px;
    margin-top: 20px;
    font-weight: 600;
}

.img_cate_box .more:hover {
    background-color: /*#965624;*/ #113184;
    color: #fff;
    transition-timing-function: ease-in-out;
    transition-duration: 0.5s;
}

.gif_box2 img {
    display: block;
    width: 236px;
    height: 278px;
    margin-left: 350px;
    position: absolute;
    top: 650px;
    right: -100px;
}

#page3 {
    clear: both;
    width: 100%;
    height: 500px;
    /*background: url(../images/sec1Bg1.png) no-repeat center -50px;*/
    /*background: url(../images/bottom_bg.png) no-repeat center bottom;
	background-size: contain;*/
    background: url(../images/bg_enjoy_andong.jpg) no-repeat center bottom;
}

#page3 .page_wrap {
    width: 1210px;
    margin: 0 auto;
    position: relative;
}

.btn_box2 li button {
    position: absolute;
    z-index: 50;
    display: block;
    width: 80px;
    height: 80px;
    top: 84px;
    background-color: #fff;
    border: 0;
    outline: 0;
    cursor: pointer;
    background-position: center center;
    background-repeat: no-repeat;
}

.btn_box2 li button.more_btn {
    background-image: url("../images/more_btn.png");
    right: 0px;
    border: 1px solid #ddd;
    border-radius: 50%;
    width: 52px;
    height: 52px;
}

.btn_box2 li button.more_btn:hover {
    background-color: #efefef;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
}

.btn_box2 li button.prev_btn {
    background-image: url("../images/prev_btn.png");
    left: 0;
    border: 1px solid #ddd;
    border-radius: 50%;
    width: 52px;
    height: 52px;
}

.btn_box2 li button.prev_btn:hover {
    background-color: #efefef;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
}

.btn_box2 li button.stop_btn {
    background-image: url("../images/stop_btn.png");
    left: 60px;
    border: 1px solid #ddd;
    border-radius: 50%;
    width: 52px;
    height: 52px;
}

.btn_box2 li button.stop_btn:hover {
    background-color: #efefef;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
}

.btn_box2 li button.stop_btn.on {
    background-image: url(../images/start_btn.png);
}

.btn_box2 li button.next_btn {
    background-image: url("../images/next_btn.png");
    left: 120px;
    border: 1px solid #ddd;
    border-radius: 50%;
    width: 52px;
    height: 52px;
}

.btn_box2 li button.next_btn:hover {
    background-color: #efefef;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
}

#page3 .page_tit {
    text-align: center;
    padding-top: 80px;
    padding-bottom: 40px;
    color: #333;
    font-size: 28px;
    font-family: 'NEXON Lv1 Gothic OTF';
}

.trip_box {
    width: 1210px;
    overflow: hidden;
}

.trip_box .trip_fr {
    width: 4695px;
    margin-top: 10px;
}

.trip_box .trip_fr li {
    float: left;
    width: 302.5px;
    position: relative;
}

.trip_box .trip_fr li:hover {
    margin-top: -10px;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
}

.trip_box .trip_fr li:hover span {
    background-color: /*#965624;*/ #113184;
}

.trip_box .trip_fr img {
    display: block;
    width: 289px;
    height: 226px;
}

.trip_box .trip_fr span {
    display: block;
    width: 289px;
    height: 50px;
    background-color: /*#bf6f32;*/ #005bac;
    color: #fff;
    text-align: center;
    line-height: 45px;
    position: absolute;
    top: 179px;
    left: 0;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
}

#page4 {
    clear: both;
    width: 100%;
    height: 550px;
    background-color: /*#e8d7cb;*/ #f0f4fa;
}

#page4 .page_tit {
    float: left;
    padding-top: 80px;
    padding-bottom: 20px;
    color: #333;
    font-size: 28px;
    font-family: 'NEXON Lv1 Gothic OTF';
}

#page4 #utb {
    position: absolute;
    top: 100px;
    right: 260px;
}

.btn_box3 li button {
    position: absolute;
    z-index: 10;
    display: block;
    width: 80px;
    height: 80px;
    top: 84px;
    background-color: #fff;
    border: 0;
    outline: 0;
    cursor: pointer;
    background-position: center center;
    background-repeat: no-repeat;
}

.btn_box3 li button.more_btn {
    background-image: url("../images/more_btn.png");
    right: 0px;
    border: 1px solid #ddd;
    border-radius: 50%;
    width: 52px;
    height: 52px;
}

.btn_box3 li button.more_btn:hover {
    background-color: #efefef;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
}

.btn_box3 li button.prev_btn {
    background-image: url("../images/prev_btn.png");
    right: 180px;
    border: 1px solid #ddd;
    border-radius: 50%;
    width: 52px;
    height: 52px;
}

.btn_box3 li button.prev_btn:hover {
    background-color: #efefef;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
}

.btn_box3 li button.stop_btn {
    background-image: url("../images/stop_btn.png");
    right: 120px;
    border: 1px solid #ddd;
    border-radius: 50%;
    width: 52px;
    height: 52px;
}

.btn_box3 li button.stop_btn:hover {
    background-color: #efefef;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
}

.btn_box3 li button.stop_btn.on {
    background-image: url(../images/start_btn.png);
}

.btn_box3 li button.next_btn {
    background-image: url("../images/next_btn.png");
    right: 60px;
    border: 1px solid #ddd;
    border-radius: 50%;
    width: 52px;
    height: 52px;
}

.btn_box3 li button.next_btn:hover {
    background-color: #efefef;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
}

#page4 .page_wrap {
    width: 1210px;
    margin: 0 auto;
    position: relative;
}

.utb_box {
    width: 1210px;
    height: 284px;
    overflow: hidden;
}

.utb_box .utb_fr {
    width: 4695px;
    margin-top: 10px;
}

.utb_box .utb_fr li {
    float: left;
    width: 391.33px;
    position: relative;
    margin-right: 18px;
}

.utb_box .utb_fr li:hover {
    margin-top: -10px;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
}

.utb_box .utb_fr li:hover span {
    background-color: /*#965624;*/ #113184;
}

.utb_box .utb_fr img {
    display: block;
    width: 391.33px;
    height: 274px;
}

.utb_box .utb_fr span {
    display: block;
    width: 391.33px;
    height: 50px;
    line-height: 50px;
    background-color: /*#bf6f32;*/ #005bac;
    color: #fff;
    text-align: center;
    letter-spacing: -0.05em;
    position: absolute;
    top: 224px;
    left: 0;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
}

#page5 {
    clear: both;
    width: 100%;
    height: 532px;
    /*height: 582px;*/
    background: url(../images/m_bg_main.png) no-repeat center 230px;
    /*background: url(../images/bottom_bg.png) no-repeat center bottom #f0f4fa;
    background-size: contain;*/
}

#page5 .page_wrap {
    width: 1210px;
    margin: 0 auto;
}

#page5 .page_tit {
    text-align: center;
    font-size: 28px;
    font-family: 'NEXON Lv1 Gothic OTF';
}

#page5 .page_com {
    text-align: center;
    margin-bottom: 50px;
    margin-top: -15px;
}

.guide_box {
    width: 1210px;
}

.guide_box li {
    float: left;
    margin-right: 35px;
    height: 250px;
    margin-bottom: 100px;
    cursor: pointer;
}

.guide_box li:hover {
    margin-top: -10px;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
}

.guide_box li:last-child {
    margin-right: 0;
}

.guide_fr .box_tit {
    font-family: 'NEXON Lv1 Gothic OTF';
}

.guide_fr .box_tit,
.box_com {
    text-align: center;
    position: relative;
    top: -290px;
}

/*.box_com {
    font-family: 'NotoSans-Light';
    font-weight: 600;
}*/