@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

body, html {
    width: 100%;
    font-size: 18px;
    font-family: "Pretendard-Regular";
    -ms-overflow-style: none;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

::-webkit-scrollbar {
    display: none;
}

.wrapper {
    clear: both;
    width: 100%;
}

.hd {
    clear: both;
    width: 100%;
    height: 100px;
    position: fixed;
    z-index: 90;
    
}

.hd:hover .hd_box {
    background-color: #fff;
    border-bottom: 1px solid #000;
    transition: 0.5s;
    transition-timing-function: ease-in-out;
}

.hd:hover .gnb ul li a, .hd:hover .tnb a, header.activated .gnb ul li a {
    color: #000;
}

.hd .gnb ul li a:hover, .hd .gnb ul li a.on {
    color: #33a2ab;
}

.hd:hover .logo, header.activated .logo {
    background-image: url(../images/logo_drop.png);
}

.hd:hover .menu_ico, header.activated .tnb .menu_ico {
    background-image: url(../images/main_allmenu_drop.png);
}

.hd_box {
    height: 99px;
}

.hd_wrap {
    width: 1760px;
    margin: 0 auto;
    height: 100%;
    position: relative;
}

.logo {
    display: block;
    float: left;
    width: 77px;
    height: 40px;
    margin-top: 30px;
    background-image: url(../images/logo.png);
}

.gnb {
    /*float: left;
    margin-top: 35px;*/
    width: 1760px;
    margin: 0 auto;
}

.gnb ul {
    float: left;
    margin-left: 350px;
}

.gnb > ul > li {
    /*float: left;
    margin-right: 50px;
    font-size: 18px;*/
    float: left;
    margin-right: 50px;
    text-align: center;
    margin-top: 40px; 
}

.gnb li a.dp1 {
    display: block;
    color: #fff;
    font-weight: 600;
}

.sub {
    position: absolute;
    left: 0;
    top: 100px;
    background: #fff;
    width: 100%;
    /*height: 0;*/
    height: 300px;
    /*overflow: hidden;
    opacity: 1;
    visibility: visible;
    transition: height 1s;*/
    z-index: 999;
    /*display: none;*/
    padding-left: 500px; 
    border-bottom: 2px solid #33a2ab;
}
.sub .sub_tit ul {
    width: 300px;
}
.sub .sub_tit ul li:first-child {
    font-size: 24px;
    line-height: 34px;
    font-weight: 600;
    letter-spacing: -1px;
}
.sub .sub_tit ul li:last-child {
    color: #909090;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 25px;
}

.sub .sub_menu ul li a:hover {
    color: #33a2ab;
}

.sub ul {
    float: left;
    width: 160px;
    margin-right: 25px;
    text-align: left;
}

.sub ul li {
    line-height: 14px;
    padding-top: 20px;
}

.sub ul li a {
    color: #333;
}

.sub .sub_img img {
    display: block;
    width: 260px;
    height: 260px;
    margin-top: 20px;
}

.tnb {
    float: right;
}

.tnb a {
    float: left;
    display: block;
    color: #fff;
    margin-right: 20px;
    margin-top: 38px;
}

.tnb a:last-child {
    margin-right: 0;
}

.tnb a.menu_ico {
    display: block;
    width: 51px;
    height: 30px;
    margin-top: 34px;
    background-image: url(../images/main_allmenu.png);
}
/*.down {
  background-color:rgba(0,0,0,.8);
  -webkit-transition-duration:0.4s;
  -webkit-transition-timing-function:ease;
  transition-duration:0.4s;
  transition-timing-function:ease;
}*/
header.activated {
    background-color:#fff;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transition: all 0.8s; 
}
header.activated a {
  color: #333;
}

.content {
    clear: both;
}

.vs {
    clear: both;
    position: relative;
}

.vs .vs_fr {
    width: 100%;
}

.vs .vs_fr li {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}

.vs .vs_fr li img {
    display: block;
    width: 100%;
    height: 100vh;
}

.page {
    position: relative;
    width: 100vw;
    height: 100vh;
}

#page1 {
    display: block;
    position: relative;
    /*top: 100vh;*/
    width: 100%;
    height: 100%;
    background-image: url(../images/main_service_bg_1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 110%;
}

.page1_left {
    width: 704px;
    height: 100%;
    background: url(../images/main_service_l.png) no-repeat left bottom;
    position: absolute;
    left: 0px;
    bottom: 0px;
}
.page1_right {
    width: 422px;
    height: 100%;
    background: url(../images/main_service_r.png) no-repeat right top;
    position: absolute;
    right: 0px;
    top: 0px;
}

.page_wrap {
    width: 1260px;
    margin: 0 auto;
}

.main_tit {
    text-align: center;
    color: #fff;
    padding-top: 100px;
}

.main_tit h3 {
    display: block;
    font-size: 65px;
    letter-spacing: -3px;
}

.main_tit span {
    display: block;
    font-size: 22px;
    letter-spacing: -2px;
}

.service_box {
    text-align: center;
}

.service_box li {
    float: left;
    width: 16%;
    margin-top: 100px;
}

.service_box .service1 {
    margin-top: 111px; 
}

.service_box li span {
    display: block;
    color: #fff;
    margin-top: 30px;
    font-size: 18px;
    letter-spacing: -1px;
    text-align: center;
}

.service_box li .num {
    font-size: 36px;
    color: #457276;
    font-weight: 600;
}


#page2 {
    position: relative;
   /* top: 100vh;*/
}

#page3 {
    position: relative;
    /*top: 100vh;*/
    width: 100%;
    height: 100%;
    background-image: url(../images/main_notice_bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 110%;
}

#page3 .main_tit {
    padding-top: 0px;
}

#page3 h3 {
    font-weight: 300;
    letter-spacing: 0px;
}

.icon_box {
    text-align: center;
}

.icon_box li {
    float: left;
    width: 33.3333%;
    margin-top: 100px;
}

.icon_box li img {
    top: 0;
    position: relative;
    cursor: pointer;
    transition: all 0.5s;
}

.icon_box li img:hover {
    top: -10px;
}

.icon_box li .txt {
    margin-top: 30px;
    font-size: 22px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}

#page4 {
    position: relative;
    /*top: 100vh;*/
    width: 100%;
    height: 100%;
    background-image: url(../images/main_review_bg.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: auto 100%;
}

#page4 .main_tit {
    padding-top: 50px;
    color: #333;
}

#page4 h3 {
    font-size: 36px;
    font-weight: 500;
    letter-spacing: 0px;
}

#page4 span {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -1px;
}

#page4 .utb_box {
    height: 499px;
    margin-top: 50px;
    text-align: center;
    background-color: #fff;
}

#page4 .page_wrap img {
    margin-top: 30px;
}

#page5 {
    position: relative;
    /*top: 100vh;*/
    height: auto !important;
}

.notice_box {
    position: relative;
    width: 655px;
    float: left;
    margin-top: 120px;
    margin-bottom: 80px;
}

.notice_box h4 {
    padding-top: 0px;
    font-size: 28px;
    letter-spacing: -1px;
}

.notice_box a.more {
    display: block;
    background-image: url(../images/main_bbs_more.jpg);
    width: 24px;
    height: 24px;
    position: absolute;
    right: 0;
    top: 30px;
}

.notice li {
    line-height: 40px;
    border-bottom: 1px solid #eee;
}

.notice span {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -1px;
}

.notice span.tit {
    color: #666;
}

.notice span.tit:hover {
    text-decoration: underline;
}

.notice span.date {
    float: right;
    color: #aaa;
}

.go_bnr {
    width: 542px;
    float: right;
    margin-top: 140px;
}

.go_bnr li {
    top: 0;
    position: relative;
    width: 48%;
    height: 260px;
    float: left;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.go_bnr li:hover {
    top: -5px;
    box-shadow: 0px 0px 30px #bbb;
}

.go_bnr li:hover a:after {
    font-size: 20px;
}

.go_bnr .go1 {
    background-color: #33a2ab;
    margin-right: 20px;
}

.go_bnr .go2 {
    background-color: #c8c3b0;
}

.go_bnr li a {
    display: block;
    padding: 37px 31px;
    box-sizing: border-box;
    font-size: 14px;
    color: #fff;
}

.go_bnr li a:after {
    content: "GO";
    font-size: 18px;
    font-weight: 600;
    line-height: 18px;
    position: absolute;
    right: 18px;
    bottom: 14px;
    transition: all 0.5s ease-in-out;
}

.go_bnr li b {
    font-size: 24px;
    font-weight: 500;
}

.ft_cs {
    clear: both;
    height: 80px;
    border-top: 2px solid #f5f5f5;
}

.ft_cs .ft_cs_fr {
    width: 1260px;
    margin: 0 auto;
}

.ft_cs .ft_cs_fr li {
    float: left;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: -1px;
    color: #666;
    margin-right: 70px;
    margin-top: 6px;
}

.ft_cs .ft_cs_fr li img {
    margin-right: 10px;
    position: relative;
    top: 12px;
}

.ft {
    clear: both;
}

.fnb {
    height: 50px;
    background-color: #3b3b3b;
    border-bottom: 1px solid #4c4c4c;
    width: 100%;
    margin: 0 auto;
}

.fnb_box {
    width: 1260px;
    margin: 0 auto;
}

.fnb ul li {
    float: left;
    margin-right: 30px;
}

.fnb ul li a {
    color: #cacaca;
    font-size: 13px;
    font-weight: 600;
    line-height: 51px;
}

.sns_menu {
    float: right;
}
.sns_menu li a img {
    vertical-align: middle;
}

.ft_box {
    height: 147px;
    background-color: #333333;
}

.ft_box p {
    width: 1260px;
    margin: 0 auto;
    color: #cacaca;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: -1px;
}

.ft_box .addr {
    padding-top: 15px;
}

.ft_box .addr,
.ft_box .col {
    line-height: 30px;
}

.ft_box .copyright {
    padding-top: 25px;
}
