@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

body, html {
    width: 100%;
    font-size: 18px;
    font-family: 'NotoSans-Regular';
    -ms-overflow-style: none;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

::-webkit-scrollbar {
    display: none;
}

.wrapper {
    clear: both;
    width: 100%;
}

.hd {
    clear: both;
    width: 100%;
    height: 100px;
    position: fixed;
    z-index: 90;
    
}

.hd:hover .hd_box {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    transition: 0.5s;
    transition-timing-function: ease-in-out;
}

.hd:hover .gnb ul li a, .hd:hover .tnb a, header.activated .gnb ul li a {
    color: #000;
}

.hd .gnb ul li a:hover, .hd .gnb ul li a.on {
    color: #33a2ab;
}

.hd:hover .logo, header.activated .logo {
    background-image: url(../images/logo_drop.png);
}

.hd:hover .menu_ico, header.activated .tnb .menu_ico {
    background-image: url(../images/main_allmenu_drop.png);
}

.hd_box {
    height: 99px;
}

.hd_wrap {
    width: 1760px;
    margin: 0 auto;
    height: 100%;
    position: relative;
}

.logo {
    display: block;
    float: left;
    width: 77px;
    height: 40px;
    margin-top: 30px;
    background-image: url(../images/logo.png);
}

.gnb {
    /*float: left;
    margin-top: 35px;*/
    width: 1760px;
    margin: 0 auto;
}

.gnb ul {
    float: left;
    margin-left: 350px;
}

.gnb > ul > li {
    /*float: left;
    margin-right: 50px;
    font-size: 18px;*/
    float: left;
    margin-right: 50px;
    text-align: center;
    margin-top: 40px; 
}

.gnb li a.dp1 {
    display: block;
    color: #fff;
    /*font-family: 'NotoSans-Regular';*/
    /*font-weight: 600;*/
    /*letter-spacing: 1px;*/
}

.sub {
    position: absolute;
    left: 0;
    top: 100px;
    background: #fff;
    width: 100%;
    /*height: 0;*/
    height: 300px;
    /*overflow: hidden;
    opacity: 1;
    visibility: visible;
    transition: height 1s;*/
    z-index: 999;
    /*display: none;*/
    padding-left: 500px; 
    border-bottom: 2px solid #33a2ab;
}
.sub .sub_tit ul {
    width: 300px;
}
.sub .sub_tit ul li:first-child {
    font-size: 24px;
    line-height: 34px;
    font-weight: 600;
    /*letter-spacing: -1px;*/
}
.sub .sub_tit ul li:last-child {
    color: #909090;
    font-size: 16px;
    line-height: 25px;
}

.sub .sub_menu ul li a:hover {
    color: #33a2ab;
}

.sub ul {
    float: left;
    width: 160px;
    margin-right: 25px;
    text-align: left;
}

.sub ul li {
    line-height: 14px;
    padding-top: 20px;
}
.sub .sub_menu ul li a {
    color: #333;
    /*font-family: 'NotoSans-Regular';*/
    /*font-weight: 600;*/
}
.item4 .sub_menu ul li:first-child {
    line-height: 23px;
}

.sub .sub_img img {
    display: block;
    width: 260px;
    height: 260px;
    margin-top: 20px;
}

.tnb {
    float: right;
}

.tnb a {
    float: left;
    display: block;
    color: #fff;
    margin-right: 20px;
    margin-top: 38px;
}

.tnb a:last-child {
    margin-right: 0;
}

.tnb a.menu_ico {
    display: block;
    width: 51px;
    height: 30px;
    margin-top: 34px;
    background-image: url(../images/main_allmenu.png);
}
/*.down {
  background-color:rgba(0,0,0,.8);
  -webkit-transition-duration:0.4s;
  -webkit-transition-timing-function:ease;
  transition-duration:0.4s;
  transition-timing-function:ease;
}*/
header.activated {
    background-color:#fff;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transition: all 0.8s; 
}
header.activated a {
  color: #333;
}

.content {
    clear: both;
}

.vs {
    /*clear: both;*/
    position: relative;
    width: 100%;
    height: 100%;
}

.vs .vs_fr {
    width: 100%;
}

.vs .vs_fr li {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}

.vs .vs_fr li img {
    display: block;
    width: 100%;
    height: 100%;
}

.page {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#page1 {
    /*display: block;*/
    position: relative;
    /*top: 100vh;*/
    width: 100%;
    height: 100%;
    background-image: url(../images/main_service_bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 110%;
}
#page1:before, #page1:after {
    content: "";
    display: block;
    transition: 0.7s;
    opacity: 0.1;
    z-index: 0;
}
#page1:before {
    width: 704px;
    height: 100%;
    background: url(../images/main_service_l.png) no-repeat left bottom;
    position: absolute;
    left: -10%;
    bottom: 0px;
}
#page1:after {
    width: 422px;
    height: 100%;
    background: url(../images/main_service_r.png) no-repeat right top;
    position: absolute;
    right: -10%;
    top: 0px;
}

#page1.fp-completely:before {
    left: 0%;
    opacity: 1;
}
#page1.fp-completely:after {
    right: 0%;
    opacity: 1;
}
/*.page1_left {
    width: 704px;
    height: 100%;
    background: url(../images/main_service_l.png) no-repeat left bottom;
    position: absolute;
    left: 0px;
    bottom: 0px;
}
.page1_right {
    width: 422px;
    height: 100%;
    background: url(../images/main_service_r.png) no-repeat right top;
    position: absolute;
    right: 0px;
    top: 0px;
}*/

.page_wrap {
    width: 1260px;
    height: 100%;
    margin: 0 auto;
}
#page1 .page_wrap {
    position: relative;
    z-index: 0;
    bottom: -20%;
    transition: 0.7s;
    opacity: 0.1;
}
#page1.fp-completely .page_wrap {
    bottom: 0%;
    opacity: 1;
}

#page1 .main_tit {
    text-align: center;
    color: #fff;
    padding-top: 100px;
}

.main_tit h3 {
    display: block;
    font-size: 65px;
}

.main_tit span {
    display: block;
    /*font-family: 'Pretendard-Light';*/
    font-family: 'NotoSans-Light';
    font-size: 22px;
    line-height: 28px;
}

.service_box {
    text-align: center;
}

.service_box li {
    float: left;
    width: 16%;
    font-family: 'NotoSans-Light';
    margin-top: 100px;
}

.service_box .service1 {
    margin-top: 111px; 
}

.service_box li span {
    display: block;
    color: #fff;
    margin-top: 30px;
    /*font-family: 'Pretendard-Light';*/
    font-size: 18px;
    letter-spacing: -1px;
    text-align: center;
}

.service_box li .num {
    font-family: 'NotoSans-Regular';
    font-size: /*36px;*/ 46px;
    color: /*#457276;*/ #d1ebed;
    font-weight: 600;
    letter-spacing: 0.5px;
    margin-right: 7px;
}


#page2 {
    position: relative;
   /* top: 100vh;*/
}
/*#page2 .top_cont {
    width: 100%;
    height: 80px;
    margin-top: 150px;
}
#page2 .main_tit {
    color: #333;
}
.main_tit .tabs {
    text-align: left;
    position: relative;
    z-index: 1;
    width: 100%;
}
.main_tit .tabs:after {
    content: "";
    width: 100%;
    height: 1px;
    background: #888;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    display: inline-block;
}
.main_tit .tabs li {
    width: 300px;
    font-size: 30px;
    line-height: 78px;
    border-width: 1px;
    height: 80px;
    border: 1px solid #888;
    background: #f5f5f5;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    position: relative;
    color: #666;
    cursor: pointer;
    box-sizing: border-box;
    font-weight: 300;
}
.main_tit .tabs li:first-child {
    border-right: none;
}
.main_tit .tabs li:last-child {
    left: -5px;
}
.main_tit .tabs li.active {
    color: #33a2ab;
    border-bottom-color: #fff;
    background: #fff;
    font-weight: 400;
}
.tab_content {
    position: relative;
}
.center_tab {
    margin: 0;
    top: 130px;
    width: 1300px;
    overflow: hidden;
    border: 0;
    box-sizing: border-box;
    font-size: 0px;
    position: absolute;
    left: 50%;
    transform: translateX(-48.5%);
    z-index: 50;
}
.center_tab li {
    width: auto !important;
    height: 22px;
    line-height: 22px;
    font-size: 18px;
    margin: 0 !important;
    padding: 0 !important;
    float: left;
    color: #333;
    text-align: center;
    border: 0px;
    box-sizing: border-box;
    cursor: pointer;
    outline: none;
    background: none;
}
.center_tab li.slick-current {
    color: #33a2ab;
    background: none;
}
.center_tab li + li:before {
    width: 1px;
    height: 12px;
    margin: 5px 14px;
    padding: 0;
    background: #ddd;
    vertical-align: top;
    content: "";
    display: inline-block;
}
.center_slide {
    height: auto;
}
.center_slide .slick-arrow {
    width: 40px;
    height: 40px;
    font-size: 0px;
    border: none;
    position: absolute;
    top: auto;
    bottom: 0;
    z-index: 10;
    margin: 0;
    margin-top: 0 !important;
    cursor: pointer;
}
.center_slide .slick-prev {
    left: 50%;
    margin-left: 650px;
    transform: translate(-79px, 0);
    background-color: rgba(255, 255, 255, 0.5);
    background-image: url(../images/main_prev.png);
    background-repeat: no-repeat;
    background-position: 0 0;
}
.center_slide .slick-next {
    left: 50%;
    margin-left: 650px;
    transform: translate(-40px, 0);
    background-color: rgba(255, 255, 255, 0.5);
    background-image: url(../images/main_next.png);
    background-repeat: no-repeat;
    background-position: 0 0;
}
.center_slide .slick-slide {
    margin-top: 100px;
    outline: none;
}
.center_slide .w_set {
    width: 1300px;
    margin: 100px auto 0;
    padding: 0;
    position: relative;
    z-index: 1;
}
.center_slide .txt h4, .center_slide .txt b, .center_slide .txt span {
    display: block;
}
.center_slide .txt, .center_slide .img {
    padding: 0;
    margin: 0;
    text-align: left;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
}
.center_slide .txt {
    width: 44.3%;
    padding-left: 4.6%;
    transform: translateY(-20%);
    position: absolute;
    right: 0;
    top: 50%;
}
.center_slide .txt h4 {
    font-size: 60px;
    color: #333333;
    line-height: 60px;
    font-weight: 500;
    margin-bottom: 50px;
}
.center_slide .txt h4 + span {
    margin-top: 50px;
}
.main_center .center_slide .txt span {
    font-size: 18px;
    color: #888888;
    line-height: 28px;
}
.center_slide .txt a {
    width: 200px;
    height: 54px;
    line-height: 54px;
    margin: 52px auto 0 0;
    padding: 0;
    font-size: 20px;
    font-weight: 400;
    background: #33a2ab;
    color: #fff;
    box-sizing: border-box;
    text-align: center;
    display: inline-block;
    vertical-align: top;
}
.center_slide .img {
    width: 55.7%;
    float: left;
    vertical-align: top;
    margin-top: 80px;
}
.main_center .center_slide .img img {
    width: auto;
    max-width: 100%;
    height: auto !important;
    max-height: 100%;
    vertical-align: top;
}*/
/* center */
	.main_center{padding:70px 0 20px;position:relative;bottom:-100px;transition:0.7s;opacity:0.1;}
    #page2.fp-completely .main_center {
        bottom: 0px;
        opacity: 1;
    }
	.main_center .main_tit .tabs{font-size:0;text-align:left;position:relative;z-index:1;width:100%;}
	.main_center .main_tit .tabs:after {width:100%;height:1px;background:#888;position:absolute;left:0;bottom:0;z-index:-1;content:"";display:inline-block;}
	.main_center .main_tit .tabs li{width:300px;font-size:30px;line-height:78px;border-width:1px;height:80px;border-color:#888;border-style:solid;background:#f5f5f5;text-align:center;display:inline-block;vertical-align:top;position:relative;color:#666;cursor:pointer;box-sizing:border-box;font-weight:300;}
	.main_center .main_tit .tabs li + li{margin-left:-1px;}
	.main_center .main_tit .tabs li.active{color:#33a2ab;border-bottom-color:#fff;background:#fff;font-weight:400;}

	.main_center {text-align:center;}

	.main_center .center_top{width: 1260px;margin:40px auto 120px;position:relative;text-align:left;height:1px;}
	.main_center .center_top .top_cont{/* position:absolute; *//* left:0; *//* top: 0; *//* z-index:50; */}
	.main_center .center_tab{margin:0;top:0px;width:1260px;overflow:hidden;border:0;box-sizing:border-box;font-size:0px;position: absolute;left:50%;transform:translateX(-50%);z-index:50;}
	.main_center .center_tab .slick-track{width:100% !important;}
	.main_center .center_tab .slick-list,
	.main_center .center_tab .slick-track{transform:none !important;-webkit-transform:none !important;-moz-transform:none !important;-ms-transform:none !important;-o-transform:none !important;}
	.main_center .center_tab li{width:auto !important;height:22px;line-height:22px;font-size:18px;margin:0 !important;padding:0 !important;float:left;color:#333;text-align:center;border:0px;box-sizing:border-box;cursor:pointer;outline:none;background:none;}
	.main_center .center_tab li + li {}
	.main_center .center_tab li + li:before {width:1px;height:12px;margin:5px 14px;padding:0;background:#ddd;vertical-align:top;content:"";display:inline-block;}
	.main_center .center_tab li.slick-current{color:#33a2ab;background:none;}
	
	.main_center .tab_content{position:relative;}
	.main_center .center_slide{height:auto;}
	.main_center .center_slide .w_set{width:1260px;margin:100px auto 0;padding:0;position:relative;z-index:1;}
	.main_center .center_slide:after, .main_center .center_slide .w_set:after {content:"";display:block;clear:both;}
	.main_center .center_slide .txt,
	.main_center .center_slide .img{padding:0;margin:0;text-align:left;box-sizing:border-box;display:inline-block;vertical-align:top;}
	.main_center .center_slide .txt{width:44.3%;padding-left:4.6%;transform:translateY(-60%);position:absolute;right:0;top:50%;}/*float:right;*/
	.main_center .center_slide .txt h4,
	.main_center .center_slide .txt b,
	.main_center .center_slide .txt span{display:block;}
	.main_center .center_slide .txt a {width:200px;height:54px;line-height:54px;margin:52px auto 0 0;padding:0;font-size:20px;font-weight:400;background:#33a2ab;color:#fff;box-sizing:border-box;text-align:center;display:inline-block;vertical-align:top;}
	.main_center .center_slide .txt h4{font-size:60px;color:#333333;line-height:60px;font-weight:500;margin-bottom:50px;}
	.main_center .center_slide .txt b{font-size:20px;color:#666666;line-height:20px;margin:0 0 33px;}
	.main_center .center_slide .txt h4 + span {margin-top:50px;}
	.main_center .center_slide .txt span{font-size:18px;color:#888888;line-height:28px;}
	.main_center .center_slide .img{width:55.7%;float:left;vertical-align:top;}
	.main_center .center_slide .img img {width:auto;max-width:100%;height:450px !important;max-height:100%;vertical-align:top;}

	.main_center .center_slide .slick-slide{outline:none;}
	.main_center .center_slide .slick-arrow{width:40px;height:40px;font-size:0px;border:none;position:absolute;top:auto;bottom:0;z-index:10;margin:0;margin-top:0 !important; cursor: pointer;}
	.main_center .center_slide .slick-prev{left:50%;margin-left:630px;transform:translate(-79px, 0);background-color: rgba(255, 255, 255, 0.5);background-image:url('../images/main_prev.png');background-repeat:no-repeat;background-position:0 0;}
	.main_center .center_slide .slick-next{left:50%;margin-left:630px;transform:translate(-40px, 0);background-color: rgba(255, 255, 255, 0.5);background-image:url('../images/main_next.png');background-repeat:no-repeat;background-position:0 0;}

#page3 {
    position: relative;
    /*top: 100vh;*/
    width: 100%;
    height: 100%;
    background-image: url(../images/main_notice_bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 110%;
}

#page3 .main_tit {
    color: #fff;
    text-align: center;
    padding-top: 0px;
    position: relative;
    top: -50px;
    transition: 0.7s;
    opacity: 0;
}
#page3.active .main_tit {
    top: 0px;
    opacity: 1;
}

#page3 h3 {
    font-weight: 300;
    letter-spacing: 0px;
}

.icon_box {
    text-align: center;
}

.icon_box li {
    float: left;
    width: 33.3333%;
    margin-top: 100px;
    font-family: 'NotoSans-Light';
    display: inline-block;
    vertical-align: middle;
    position: relative;
    opacity: 0.1;
}

.icon_box li:nth-of-type(1) {
    bottom: -150px;
    transition: 0.7s;
}
.icon_box li:nth-of-type(2) {
    bottom: -200px;
    transition: 0.8s;
}
.icon_box li:nth-of-type(3) {
    bottom: -250px;
    transition: 0.9s;
}
#page3.active .icon_box li {
    bottom: 0;
    opacity: 1;
}
.icon_box li:hover img {
    top: -5px;
}
.icon_box li:hover .txt {
    top: -5px;
}
.icon_box li:hover span {
    text-decoration: underline;
}

.icon_box li img {
    top: 0;
    position: relative;
    cursor: pointer;
    transition: all 0.5s;
}

.icon_box li .txt {
    position: relative;
    top: 0;
    margin-top: 30px;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    transition: all 0.5s;
}
.icon_box li span {
    display: block;
    color: #fff;
    margin-top: 40px;
    /*font-family: 'Pretendard-Light';*/
    font-size: 16px;
    line-height: 30px;
    cursor: pointer;
}

#page4 {
    position: relative;
    /*top: 100vh;*/
    width: 100%;
    height: 100%;
    background-image: url(../images/main_review_bg.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: auto 100%;
}
#page4 .page_wrap {
    position: relative;
    bottom: -100px;
    transition: 0.7s;
    opacity: 0;
}
#page4.active .page_wrap {
    bottom: 0px;
    opacity: 1;
}

#page4 .main_tit {
    text-align: center;
    padding-top: 80px;
    color: #333;
}

#page4 h3 {
    font-size: 40px;
    line-height: 40px;
    font-weight: 500;
}

#page4 span {
    /*font-family: 'Pretendard-Regular';*/
    font-family: 'NotoSans-Regular';
    font-size: 20px;
    line-height: 20px;
    margin: 20px 0 40px 0;
}

#page4 .utb_box {
    height: 499px;
    margin-top: 50px;
    text-align: center;
    background-color: #fff;
}

#page4 .page_wrap img {
    margin-top: 30px;
}

#page5 {
    position: relative;
    /*top: 100vh;*/
    height: auto !important;
}
#page5 .page_wrap {
    /*position: relative;
    bottom: -100px;*/
    transition: 0.7s;
    opacity: 0;
}
#page5.active .page_wrap {
    opacity: 1;
}

.notice_box {
    position: relative;
    width: 655px;
    float: left;
    margin-top: 120px;
    margin-bottom: 80px;
}

.notice_box h4 {
    padding-top: 0px;
    font-family: 'NotoSans-Light';
    font-size: 28px;
}

.notice_box a.more {
    display: block;
    background-image: url(../images/main_bbs_more.jpg);
    width: 24px;
    height: 24px;
    position: absolute;
    right: 0;
    top: 30px;
}

.notice li {
    line-height: 40px;
    border-bottom: 1px solid #eee;
}

.notice span {
    /*font-family: 'NotoSans-Light';*/
    font-size: 16px;
    font-weight: 200;
}

.notice span.tit {
    color: #666;
}

.notice span.tit:hover {
    text-decoration: underline;
}

.notice span.date {
    float: right;
    color: #aaa;
}

.go_bnr {
    width: 542px;
    float: right;
    margin-top: 140px;
}

.go_bnr li {
    top: 0;
    position: relative;
    width: 48%;
    height: 260px;
    float: left;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.go_bnr li:hover {
    top: -5px;
    box-shadow: 0px 0px 30px #bbb;
}

.go_bnr li:hover a:after {
    font-size: 20px;
}

.go_bnr .go1 {
    background-color: #33a2ab;
    margin-right: 20px;
}

.go_bnr .go2 {
    background-color: #c8c3b0;
}

.go_bnr li a {
    display: block;
    padding: 37px 31px;
    box-sizing: border-box;
    font-size: 14px;
    color: #fff;
}
.go_bnr li a span {
    font-family: 'NotoSans-Light';
}

.go_bnr li a:after {
    content: "GO";
    font-size: 18px;
    font-weight: 600;
    line-height: 18px;
    position: absolute;
    right: 18px;
    bottom: 14px;
    transition: all 0.5s ease-in-out;
}

.go_bnr li b {
    font-size: 24px;
    font-weight: 500;
}

.ft_cs {
    clear: both;
    height: 80px;
    border-top: 2px solid #f5f5f5;
}

.ft_cs .ft_cs_fr {
    width: 1260px;
    margin: 0 auto;
}

.ft_cs .ft_cs_fr li {
    float: left;
    font-size: 15px;
    font-weight: 100;
    color: #666;
    margin-right: 70px;
    margin-top: 6px;
}

.ft_cs .ft_cs_fr li img {
    margin-right: 10px;
    position: relative;
    top: 12px;
}

.ft {
    clear: both;
    /*font-family: 'Pretendard-Light';*/
}

.fnb {
    height: 50px;
    background-color: #3b3b3b;
    border-bottom: 1px solid #4c4c4c;
    width: 100%;
    margin: 0 auto;
}

.fnb_box {
    width: 1260px;
    margin: 0 auto;
}

.fnb ul li {
    float: left;
    margin-right: 30px;
}

.fnb ul li a {
    color: #cacaca;
    font-family: 'NotoSans-Light';
    font-size: 13px;
    font-weight: 600;
    line-height: 51px;
}

.sns_menu {
    float: right;
}
.sns_menu li a img {
    vertical-align: middle;
}

.ft_box {
    height: 147px;
    background-color: #333333;
}

.ft_box p {
    width: 1260px;
    margin: 0 auto;
    color: #cacaca;
    font-family: 'NotoSans-Light';
    font-size: 13px;
}

.ft_box .addr {
    padding-top: 15px;
}

.ft_box .addr,
.ft_box .col {
    line-height: 30px;
}

.ft_box .copyright {
    padding-top: 25px;
}
@keyframes ani1 {
    0% {
        position: relative;
        bottom: -100px;
        opacity: 0;
        visibility: hidden;
    }
    100% {
        position: relative;
        bottom: 0;
        opacity: 1;
        visibility: visible;
    }
}