@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

body, html {
    width: 100%;
    font-family: 'NotoSans-Regular';
    -ms-overflow-style: none;
    scroll-behavior:smooth;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

::-webkit-scrollbar {
    display: none;
}

/*로딩 애니*/
.load {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: #1D1F20;
    z-index: 1000;
}

.container {
    width: 400px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    place-items: center;
}

.container .loader {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.container .loader .l {
    position: relative;
    width: 30px;
    height: 30px;
    background: transparent;
    margin: 0 15px;
}

.container .loader .l:after, .container .loader .l:before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    left: 0;
    top: 0;
    border-radius: 50%;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}

.container .loader .l:after {
    transform: translateY(-500%);
    animation: fall_after 2s cubic-bezier(0.75, -0.4, 0, 1.6) infinite;
    animation-delay: calc( 1s - ( 0.15s * ( var(--index)) ) );
}

.container .loader .l:before {
    transform: translateY(0%);
    animation: fall_before 2s cubic-bezier(0.75, -0.4, 0, 1.6) infinite;
    animation-delay: calc( 1s - ( 0.15s * ( var(--index)) ) );
}

.container .loader .l._1:after, .container .loader .l._1:before {
    background: linear-gradient(to bottom, #faa000 0, #dc6302 100%);
}

.container .loader .l._2:after, .container .loader .l._2:before {
    background: linear-gradient(to bottom, #fd0020 0, #c10018 100%);
}

.container .loader .l._3:after, .container .loader .l._3:before {
    background: linear-gradient(to bottom, #00aefc 0, #007bb2 100%);
}

.container .loader .l._4:after, .container .loader .l._4:before {
    background: linear-gradient(to bottom, #a800fd 0, #4f1dd4 100%);
}

@keyframes fall_before {
  100% {
    transform: translateY(500%);
  }
}

@keyframes fall_after {
  100% {
    transform: translateY(0%);
  }
}

canvas {
    width: 100%;
    height: 100%;
    position: fixed;
}

/*스크롤 네비게이션*/
#menu {
    position: fixed;
    top: 35%;
    right: 1%;
    z-index: 10;
}

#menu li a {
    display: block;
    float: left;
    transition: all 0.5s;
    font-family: 'NotoSans-Light';
    font-size: 14px;
    width: 124px;
    height: 30px;
    line-height: 34px;
    color: #fff;
}

#menu li a span:first-child {
    float: left;
    display: block;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    margin: 14px;
    background: #949494;
    transition: all 0.3s;
}

#menu li a span:last-child {
    opacity: 0;
    visibility: hidden;
    font-size: 12px;
}

#menu li.on a span:last-child {
    opacity: 1;
    visibility: visible;
}

#menu li:hover a span:first-child, #menu li.on a span:first-child {
    width: 14px;
    height: 14px;
    margin: 11px;
    background: #fff;
}

#wrapper {
    width: 100%;
}

.page {
    width: 100%;
    height: 70vh;
    padding: 100px 0px;
}

/*메인페이지*/
#page0 {
    width: 100vw;
    height: 100vh;
    padding: 0px 0px;
}

.page_wrap {
    width: 1000px;
    height: 100%;
    margin: 0 auto;
}

#page0 .com {
    display: block;
    position: absolute;
    left: 3%;
    top: 30px;
    font-size: 16px;
    color: #fff;
}

.gnb {
    position: absolute;
    width: 500px;
    height: 60px;
    right: 2%;
    top: 10px;
    z-index: 10;
    display: table;
    margin: 0 auto;
    transition: all 0.3s ease;
}

.gnb ul li {
    float: left;
    width: 25%;
}

.gnb ul li a {
    position: relative;
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    line-height: 60px;
    display: table-cell;
    color: #949494;
    transition: 0.2s ease color;
}

.gnb ul li a:before, .gnb ul li a:after {
    content: "";
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    transition: 0.2s ease transform;
}

.gnb ul li a:before {
    top: 10px;
    left: -10px;
    width: 6px;
    height: 6px;
}

.gnb ul li a:after {
    top: 15px;
    left: -3px;
    width: 4px;
    height: 4px
}

.gnb ul li:nth-child(1) a:before {
    background-color: #f79d00;
}

.gnb ul li:nth-child(1) a:after {
    background-color: #64f38c;
}

.gnb ul li:nth-child(2) a:before {
    background-color: #00e2ff;
}

.gnb ul li:nth-child(2) a:after {
    background-color: #89ff00;
}

.gnb ul li:nth-child(3) a:before {
    background-color: #c471ed;
}

.gnb ul li:nth-child(3) a:after {
    background-color: #12c2e9;
}

.gnb ul li:nth-child(4) a:before {
    background-color: #ff4b1f;
}

.gnb ul li:nth-child(4) a:after {
    background-color: #1fddff;
}

#indicator {
    position: absolute;
    left: 0%;
    bottom: 10px;
    width: 30px;
    height: 3px;
    background-color: #fff;
    border-radius: 5px;
    transition: 0.2s ease left;
}

.gnb ul li:hover a {
    color: #fff;
}

.gnb ul li:hover a:before, .gnb ul li:hover a:after {
    transform: scale(1);
}

.gnb ul li:nth-child(1):hover ~ #indicator {
    background: linear-gradient(130deg, #f79d00, #64f38c);
}

.gnb ul li:nth-child(2):hover ~ #indicator {
    left: 25%;
    background: linear-gradient(130deg, #00e2ff, #89ff00);
}

.gnb ul li:nth-child(3):hover ~ #indicator {
    left: 50%;
    background: linear-gradient(130deg, #c471ed, #12c2e9);
}

.gnb ul li:nth-child(4):hover ~ #indicator {
    left: 75%;
    background: linear-gradient(130deg, #ff4b1f, #1fddff);
}

.main_bg {
    background: url(../images/mainBg.png) no-repeat;
    background-size: cover;
    width: 450px;
    height: 450px;
    position: absolute;
    left: 18vw;
    top: 20vh;
    animation: mainBg_ani 100s infinite;
}

@keyframes mainBg_ani {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.title {
    position: relative;
    top: 40vh;
}

.title .maintitle {
    text-align: right;
    text-shadow: 0 0 10px #fff;
    font-size: 57px;
    color: #fff;
    position: relative;
    z-index: 2;
    visibility: hidden;
}

.haunted-text .blast {
    will-change: opacity, filter;
}

.title .date {
    float: right;
    margin-top: 20px;
    margin-right: 10px;
    color: #fff;
    text-shadow: 0 0 10px #fff;
    position: relative;
}

.title .date:before {
    content: "2021";
    position: absolute;
    right: 0;
    top: -13px;
    animation: date_ani 1s;
    animation-delay: 4s;
    animation-fill-mode: both;
}

@keyframes date_ani {
    0% {
        opacity: 0;
        visibility: hidden;
    }

    100% {
        opacity: 1;
        visibility: visible;
    }
}

.title .date span {
    display: block;
    width: 190px;
    height: 2px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 10px #fff;
    position: absolute;
    left: -250px;
    top: 0;
    animation-name: date_span_ani;
    animation-duration: 1s;
    animation-delay: 3s;
    animation-fill-mode: both;
}

@keyframes date_span_ani {
    0% {
        width: 0px;
    }

    100% {
        width: 190px;
    }
}

.contact {
    position: absolute;
    bottom: 30px;
    left: 3%;
    color: #fff;
    font-size: 14px;
}

.contact span:after {
    content: "|";
    margin: 0px 10px 0px 10px;
}

/*스크롤 유도 애니*/
.scroll {
    padding-top: 60px;
}

.scroll span {
    position: absolute;
    bottom: 3%;
    left: 50%;
    width: 27px;
    height: 45px;
    margin-left: -15px;
    border: 2px solid #fff;
    border-radius: 50px;
    box-sizing: border-box;
}

.scroll span::before {
    position: absolute;
    top: 10px;
    left: 50%;
    content: '';
    width: 6px;
    height: 6px;
    margin-left: -3px;
    background-color: #fff;
    border-radius: 100%;
    -webkit-animation: sdb 2s infinite;
    animation: sdb 2s infinite;
    box-sizing: border-box;
}

@-webkit-keyframes sdb {
    0% {
        -webkit-transform: translate(0, 0);
        opacity: 0;
    }

    40% {
        opacity: 1;
    }

    80% {
        -webkit-transform: translate(0, 20px);
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

/*프로필 페이지*/
#page1 {
    height: auto;
}

#page1 .Hello {
    font-size: 48px;
    letter-spacing: 1px;
    margin-bottom: 30px;
    color: #fff;
    text-shadow: 0 0 4px #fff;
}

.profile_box {
    width: 100%;
    height: 620px;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 30px #fff;
}

.profile {
    float: left;
    width: 30%;
    height: 100%;
}

.profile img {
    display: block;
    width: 235px;
    height: 235px;
    margin: 80px 30px;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 50%;
}

.profile .name {
    display: block;
    font-family: 'couture-bld';
    font-size: 30px;
    text-align: center;
    text-shadow: 0 0 4px #fff;
    color: #fff;
}

.profile .my {
    margin-top: 20px;
    margin-left: 60px;
    font-size: 16px;
    color: #fff;
}

.profile .my p {
    line-height: 26px;
    color: #f0f0f0;
}

.profile1 {
    width: 70%;
    float: left;
}

.profile1 ul li {
    float: left;
    margin-top: 30px;
}

.profile1 ul .history {
    margin-left: 100px;
}

.profile1 ul li h2 {
    font-family: 'couture-bld';
    font-size: 28px;
    letter-spacing: 1px;
    color: #fff;
    text-shadow: 0 0 4px #fff;
}

.profile1 ul li p {
    margin-top: 20px;
    font-size: 16px;
    color: #f0f0f0;
}

.profile2 {
    float: left;
    width: 70%;
    margin-top: 50px;
}

.profile2 h2 {
    font-family: 'couture-bld';
    font-size: 28px;
    letter-spacing: 1px;
    color: #fff;
    text-shadow: 0 0 4px #fff;
}

/*스킬바*/
.zt-span6 {
    margin-top: 30px;
}

.zt-skill-bar {
    color: #333;
    font-size: 11px;
    line-height: 25px;
    width: 670px;
    height: 35px;
    margin-bottom: 20px;

    background-color: rgba(0, 0, 0, 0.1);

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px;

}

.zt-skill-bar * {
    webkit-transition: all 1.5s ease;
    -moz-transition: all 1.5s ease;
    -ms-transition: all 1.5s ease;
    -o-transition: all 1.5s ease;
    transition: all 1.5s ease;
}

.zt-skill-bar div {
    background: rgba(235, 235, 235, 0.9);
    box-shadow: 0px 0px 15px #6146fa;
    position: relative;
    padding-left: 25px;
    width: 0;
    height: 35px;
    line-height: 35px;
    font-size: 16px;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms- border-radius: 10px;
    border-radius: 10px;
}

.zt-skill-bar span {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    padding: 0 5px 0 10px;
    background-color: #1a1a1a;
    color: #fff;

    -webkit-border-radius: 0 2px 2px 0;
    -moz-border-radius: 0 2px 2px 0;
    -ms-border-radius: 0 2px 2px 0;
    border-radius: 0 2px 2px 0;
}

.zt-skill-bar span:before {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    top: 50%;
    left: -3px;
    margin-top: -3px;
    background-color: #1a1a1a;

    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/*포트폴리오1*/
#page2 {
    padding-top: 100px;
}

.text {
    width: 350px;
    margin-top: 150px;
}

#page2 .text, #page4 .text, #page6 .text {
    float: left;
}

#page3 .text, #page5 .text, #page7 .text {
    float: right;
}

.text .name {
    font-size: 48px;
    color: #fff;
}

.text .com {
    margin-top: 10px;
    color: #fff;
    font-size: 16px;
}

.color {
    margin-top: 50px;
}

.color span {
    display: block;
    float: left;
    width: 20px;
    height: 20px;
    border: 1px solid rgba(255,255,255,0.5);
    border-radius: 50%;
    background: #fff;
    margin-right: 20px;
}

#page2 .color span:first-child {
    background: #113184;
}

#page2 .color span:nth-child(2) {
    background: #005bac;
}

#page2 .color span:last-child {
    background: #ffef90;
}

.text .vpw {
    margin-top: 80px;
    color: #fff;
}

.text .vpw p {
    font-family: 'NotoSans-Light';
    font-size: 14px;
    font-weight: 600;
    line-height: 34px;
    color: #fff;
}

.text .vpw span {
    font-family: 'NotoSans-Regular';
    font-size: 16px;
    font-weight: normal;
    color: #fff;
    margin-right: 20px;
}

/*자세히보기 버튼 호버 효과*/
.btn-wrapper {
    width: 150px;
    height: 50px;
    position: relative;
    float: left;
    margin: 30px 20px 0px 0px;
}

.btn-wrapper:hover .btn-inner {
    top: -4px;
    transform: scale(1, 1);
    cursor: pointer;
}

.btn-wrapper__container {
    border-bottom: 2px solid rgba(255, 255, 255, 0.8);
    position: absolute;
    width: 100%;
    height: 100%;
}

.btn-wrapper__container:before, .btn-wrapper__container:after {
    border-bottom: 2px solid rgba(255, 255, 255, 0.8);
    width: 96%;
    left: 2%;
    bottom: -8px;
    content: "";
    position: absolute;
}

.btn-wrapper__container:after {
    width: 92%;
    left: 4%;
    bottom: -14px;
}

.btn-wrapper__container .btn-inner {
    width: 104.2%;
    height: 100%;
    line-height: 50px;
    position: absolute;
    top: 20px;
    left: -2.1%;
    border: 2px solid rgba(255, 255, 255, 0.8);
    box-sizing: border-box;
    box-shadow: 0px 0px 15px #6146fa;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 14px;
    background: #10131C;
    transform: scale(0.96, 0.96);
    transition: all 0.3s;
    z-index: 4;
}

.btn-wrapper__container .btn-inner__text {
    text-decoration: none;
    color: #fff;
}

#page2 .mokup, #page4 .mokup, #page6 .mokup {
    float: right;
}

#page3 .mokup, #page5 .mokup, #page7 .mokup {
    float: left;
}

.mokup {
    background: url(../images/mokup.png) no-repeat;
    width: 549px;
    height: 478px;
    margin-top: 100px;
    position: relative;
}

.mokup span {
    display: block;
    width: 519px;
    height: 293px;
    position: absolute;
    top: 20px;
    left: 15px;
    z-index: 2;
}

.mokup span:before {
    content: "마우스를";
    position: absolute;
    left: 10px;
    top: 7px;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    width: 60px;
    height: 60px;
    line-height: 45px;
    border-radius: 50%;
    font-size: 9px;
    text-align: center;
}

.mokup span:after {
    content: "올려보세요";
    position: absolute;
    left: 10px;
    top: 7px;
    color: #fff;
    width: 60px;
    height: 60px;
    line-height: 70px;
    font-size: 9px;
    text-align: center;
}

#page2 .mokup span {
    background: url(../images/andong.jpg) no-repeat;
}

#page2 .mokup span:hover {
    animation: andongScroll 10s ease infinite;
}

/*포트폴리오2*/
#page3, #page4, #page5, #page6, #page7 {
    padding-top: 200px;
}

#page3 .color span:first-child {
    background: #23408f;
}

#page3 .color span:nth-child(2) {
    background: #304c99;
}

#page3 .color span:last-child {
    background: #eff4fe;
}

#page3 .mokup span {
    background: url(../images/bodyguard.jpg) no-repeat;
}

#page3 .mokup span:hover {
    animation: bodyguardScroll 13s ease infinite;
}

/*포트폴리오3*/
#page4 .color span:first-child {
    background: #33a2ab;
}

#page4 .color span:nth-child(2) {
    background: #c8c3b0;
}

#page4 .color span:last-child {
    background: #b4b4b6;
}

#page4 .mokup span {
    background: url(../images/sa.jpg) no-repeat;
}

#page4 .mokup span:hover {
    animation: saScroll 13s ease infinite;
}

/*포트폴리오4*/
#page5 .color span:first-child {
    background: #ffcad4;
}

#page5 .color span:nth-child(2) {
    background: #f4ebe4;
}

#page5 .color span:last-child {
    background: #f0f0f0;
}

#page5 .mokup span {
    background: url(../images/pandora.jpg) no-repeat;
}

#page5 .mokup span:hover {
    animation: pandoraScroll 10s ease infinite;
}

/*포트폴리오5*/
#page6 .color span:first-child {
    background: #cc5a91;
}

#page6 .color span:nth-child(2) {
    background: #78b4d1;
}

#page6 .color span:last-child {
    background: #e98d2d;
}

#page6 .mokup span {
    background: url(../images/lush.jpg) no-repeat;
}

#page6 .mokup span:hover {
    animation: lushScroll 10s ease infinite;
}

/*포트폴리오6*/
#page7 .color span:first-child {
    background: #2b2a2c;
}

#page7 .color span:nth-child(2) {
    background: #858181;
}

#page7 .color span:last-child {
    background: #fff;
}

#page7 .mokup span {
    background: url(../images/pygmalion.jpg) no-repeat;
}

#page7 .mokup span:hover {
    animation: pygmalionScroll 13s ease infinite;
}

/*Contact 페이지*/
#page8 {
    position: relative;
    padding: 0px 0px;
}

#page8 .tit {
    font-family: 'couture-bld';
    font-size: 28px;
    letter-spacing: 1px;
    text-align: center;
    padding-top: 50px;
    color: #fff;
    text-shadow: 0 0 4px #fff;
}

.contact_box {
    width: 580px;
    margin: 0 auto;
    position: relative;
}

.contact_box .mimo {
    display: block;
    width: 231px;
    height: 231px;
    margin: 70px auto;
}

.balloon_box {
    width: 200px;
    height: 100px;
    position: absolute;
    top: -70px;
}

.balloon_box:last-child {
    right: -30px;
}

.balloon {
    position: relative;
    margin: 50px 0px 0px 0px;
    width: 180px;
    height: 100px;
    background: #333333;
    border-radius: 10px;
    cursor: pointer;
}

.balloon:hover {
    animation: motion 0.5s linear 0s infinite alternate;
}

@keyframes motion {
    0% {
        margin-top: 50px;
    }

    100% {
        margin-top: 60px;
    }
}

#call:after {
    border-top: 15px solid #333333;
    border-left: 15px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 0px solid transparent;
    content: "";
    position: absolute;
    bottom: -15px;
    right: 15px;
}

#mail:after {
    border-top: 15px solid #333333;
    border-left: 0px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 0px solid transparent;
    content: "";
    position: absolute;
    bottom: -15px;
    left: 15px;
}

.balloon i {
    display: block;
    color: #fff;
    font-size: 48px;
    line-height: 70px;
    text-align: center;
}

.balloon span {
    display: block;
    color: #949494;
    font-size: 14px;
    text-align: center;
}

.footer {
    width: 100%;
    color: #fff;
    font-family: 'NotoSans-Light';
    font-size: 12px;
    text-align: center;
    padding: 48px 0px;
}

/*목업 스크롤 애니*/
@keyframes andongScroll {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 0 -890px;
    }

    100% {
        background-position: 0 0;
    }
}

@keyframes bodyguardScroll {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 0 -1129px;
    }

    100% {
        background-position: 0 0;
    }
}

@keyframes saScroll {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 0 -1450px;
    }

    100% {
        background-position: 0 0;
    }
}

@keyframes pandoraScroll {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 0 -971px;
    }

    100% {
        background-position: 0 0;
    }
}

@keyframes lushScroll {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: -1038px 0;
    }

    100% {
        background-position: 0 0;
    }
}

@keyframes pygmalionScroll {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 0 -1385px;
    }

    100% {
        background-position: 0 0;
    }
}
