@charset "utf-8";    /* web1/font.css */
@font-face {
    font-family: 'aac'
    src: local("aliens and cows"),
    url ('./fonts/aliens and cows_trial.eot?#iefix')
    format('embedded-opentype'),
    url('./fonts/aliens and cows_trial.woff') format('woff')
    font-weight: normal;
    font-style: normal;    
}
@font-face {
    font-family: 'nms';
    src: local("나눔스퀘어OTF"),
    url()
        
}
@font-face{
    font-family: 'nsk'
    src: local(Noto Sans KR), 
    url('../fonts/Noto Sans KR.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Noto Sans KR.woff') format('woff');
    font-weight: normal;
    font-style: normal;  
}
@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}