@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

body, html {
    width: 100%;
    font-family: "NotoSans-Regular";
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

body,
html {
    -ms-overflow-style: none;
}

::-webkit-scrollbar {
    display: none;
}

.wrapper {
    clear: both;
    width: 100%;
}

.hd {
    clear: both;
    width: 100%;
    height: 100px;
    background-color: #fff;
    top: 0;
    left: 0;
}

.hd_wrap {
    clear: both;
    width: 1400px;
    height: 100px;
    margin: 0 auto;
    position: relative;
}

.logo {
    display: block;
    float: left;
    padding-top: 20px;
}

.gnb {
    float: left;
    margin-top: 14px;
    margin-left: 150px;
}

.gnb:before {
    content: "";
    display: block;
    width: 100vw;
    height: 300px;
    position: absolute;
    top: 100px;
    left: 50%;
    margin-left: -969px;
    background-color: #eff4fe;
    z-index: 50;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

.gnb:hover::before {
    visibility: visible;
    opacity: 1;
}

.gnb li {
    float: left;
    position: relative;
}

.gnb li a.dp1 {
    display: block;
    color: #23408f;
    font-size: 20px;
    padding: 22px 50px;
    font-weight: 600;
    font-family: "GmarketSansBold";
}

.gnb li:hover a.dp1 {
    display: block;
    color: #333;
}

.gnb li .sub {
    padding-top: 32px;
    position: absolute;
    top: 65px;
    left: 0;
    z-index: 60;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    min-width: 190px;
}

.gnb:hover li .sub {
    visibility: visible;
    opacity: 1;
}

.gnb li .sub li {
    clear: both;
    line-height: 35px;
}

.gnb li .sub li a {
    display: block;
    padding-left: 50px;
    font-size: 15px;
    color: #333;
}

.gnb li .sub li a:after {
    content: "●";
    padding-left: 6px;
    display: none;
    font-size: 10px;
}

.gnb li .sub li a:hover {
    color: #23408f;
    font-weight: 600;
}

.gnb li .sub li a:hover::after {
    display: inline;
}

.tnb {
    float: right;
    margin-top: 10px;
    font-size: 14px;
}

.tnb a,
.tnb label {
    display: block;
    float: left;
    padding: 26px 16px;
    cursor: pointer;
    color: #23408f;
}

.search_fr {
    width: 100vw;
    height: 360px;
    position: fixed;
    top: 80px;
    left: 0;
    z-index: 70;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    background-color: #fff;
}

#ck1 {
    display: none;
}

#ck1:checked ~ .search_fr {
    visibility: visible;
    opacity: 1;
}

#search_form {
    clear: both;
    width: 1280px;
    height: 360px;
    position: relative;
    margin: 10px auto;
}

.search_tit {
    text-align: center;
    padding-top: 28px;
    padding-bottom: 15px;
    color: #23408f;
    font-style: 28px;
}

#keyword {
    display: block;
    width: 1000px;
    height: 58px;
    line-height: 58px;
    border: 2px solid #23408f;
    border-radius: 5px;
    float: left;
    margin-left: 109px;
    font-size: 24px;
}

#search_btn {
    display: block;
    width: 58px;
    height: 58px;
    text-align: center;
    line-height: 58px;
    font-size: 34px;
    float: right;
    margin-right: 109px;
    background-color: transparent;
    cursor: pointer;
    color: #23408f;
}

.close_btn1 {
    display: block;
    width: 42px;
    height: 42px;
    position: absolute;
    right: 115px;
    top: 0;
    cursor: pointer;
    font-size: 34px;
    color: #23408f;
}

.calendar {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 70;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    background-color: rgba(0, 0, 0, 0.7);
}

#ck2 {
    display: none;
}

#ck2:checked ~ .calendar {
    visibility: visible;
    opacity: 1;
}

.calendar .calender_fr {
    clear: both;
    width: 1000px;
    height: 570px;
    position: relative;
    margin: 80px auto;
    padding-top: 10px;
    background-color: #fff;
}

.calender_tit {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 15px;
    font-weight: 600;
    font-size: 28px;
    color: #134aa9;
}

.calender_tit span {
    display: block;
}

.calender_arr td,
.calender_arr th {
    width: 1000px;
    font-size: 20px;
}

.cal2,
.cal3,
.cal4,
.cal5,
.cal6 {
    color: #333;
}

.t_dp {
    color: red;
}

.t_dsp {
    color: blue;
}

.calender_arr th {
    height: 50px;
    background-color: #ccc;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    text-align: center;
}

.calender_arr td {
    height: 80px;
    background-color: #fff;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    vertical-align: top;
    padding-top: 14px;
}

.calender_arr td span {
    padding-left: 14px;
}

.day_coment {
    text-align: right;
    padding-right: 14px;
    font-size: 16px;
    font-weight: 300;
    color: red;
}

#close_btn2 {
    font-size: 24px;
    top: 10px;
    right: -5px;
}

.content {
    clear: both;
    width: 100%;
}

.visual {
    clear: both;
    width: 1400px;
    margin: 0 auto;
    position: relative;
    padding-top: 200px;
}

.visual_box {
    overflow: hidden;
}

.visual_fr {
    width: 200%;
}

.visual_fr li {
    width: 50%;
    float: left;
}

.visual_fr li img {
    display: block;
    margin: 0 auto;
}

#visual .btn_fr {
    position: absolute;
    left: 0;
    top: 480px;
    z-index: 10;
}

#visual .btn_fr button {
    background-color: transparent;
    font-size: 20px;
    margin-left: 300px;
    margin-right: 40px;
    display: block;
    float: left;
    line-height: 40px;
    height: 150px;
    position: relative;
    text-align: right;
    cursor: pointer;
}

#visual .btn_fr button:nth-child(2) {
    margin-left: 0;
}

#visual .btn_fr button:before {
    content: "";
    display: block;
    float: left;
    width: 0px;
    height: 3px;
    background-color: #134aa9;
    position: absolute;
    left: 5px;
    top: -18px;
    transition: 0.5s;
}

#visual .btn_fr button.on:before {
    width: 60px;
    top: 72px;
}

#visual .btn_fr button.on {
    color: #134aa9;
    width: 90px;
}

.pg {
    width: 100%;
    min-height: 80vh;
}

.pg:after {
    content: "";
    clear: both;
    display: block;
}

#pg1 {
    clear: both;
    height: 1000px;
    background-color: #134aa9;
    position: relative;
}

.btn_fr {
    position: absolute;
    z-index: 10;
    top: 500px;
    padding-left: 20px;
}

.linkbar {
    clear: both;
    width: 1400px;
    height: 100px;
    margin: 0 auto;
    background-color: #eff4fe;
    margin-top: -10px;
    position: absolute;
    top: -40px;
    left: 50%;
    margin-left: -700px;
}

.linkbar li {
    float: left;
    width: 25%;
}

.linkbar li a {
    display: block;
    font-size: 20px;
    color: #333;
    text-align: center;
    padding-top: 37px;
    font-weight: 600;
    font-family: "GmarketSansBold";
}

.linkbar li a i {
    padding-left: 10px;
    transition: 0.5s;
    font-size: 20px;
}

.linkbar li a:hover {
    color: #23408f;
}

.linkbar li a:hover i {
    padding-left: 20px;
}

.pg_fr {
    clear: both;
    width: 1400px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 60px;
}

.pg_tit {
    color: #333;
    font-family: "GmarketSansBold";
    font-size: 32px;
    padding-bottom: 50px;
}

.pg_com {
    display: block;
    font-size: 16px;
    top: -60px;
    position: relative;
}

#pg1 .pg_tit {
    padding-top: 100px;
    color: #fff;
    text-align: center;
}

#pg1 .pg_com {
    text-align: center;
    color: #fff;
}

.widget {
    width: 1440px;
    margin: 0 auto;
    margin-top: 60px;
    clear: both;
}

.cur_month_fr {
    width: 120px;
    height: 92px;
    float: left;
}

.cur_month_fr span {
    display: block;
    color: #eee;
    text-align: center;
    font-weight: 600;
}

.cur_month_fr .month {
    font-size: 46px;
    line-height: 1;
}

.cur_month_fr .year {
    font-size: 22px;
    line-height: 1.1;
}

.cur_month_lst {
    float: left;
    padding-top: 20px;
}

.cur_month_lst li {
    float: left;
    padding: 10px;
    font-size: 20px;
    color: #eee;
    cursor: pointer;
    position: relative;
}

.cur_month_lst li.on:before {
    content: "";
    display: block;
    width: 44px;
    height: 44px;
    border-radius: 30px;
    border: 2px solid #fff;
    position: absolute;
    top: 0;
    left: -8px;
}

.cur_month_cate_fr {
    clear: both;
    width: 100vw;
    margin-left: calc(720px - 50vw);
    height: 490px;
    overflow: hidden;
}

.month_card_lst {
    clear: both;
    width: 300vw;
    height: 550px;
}

.month_card_lst li {
    float: left;
    margin-right: 40px;
    width: 300px;
    cursor: pointer;
    position: relative;
    transition: 0.5s;
    border-radius: 15px;
    overflow: hidden;
}

.month_card_lst li.on {
    width: 380px;
    transition: 0.5s;
}

.month_card_lst li .thumb_img {
    display: block;
    width: 300px;
    height: 410px;
    border-radius: 15px;
    overflow: hidden;
}

.month_card_lst li.on .thumb_img {
    width: 380px;
    height: 500px;
}

.month_card_lst li .hid_box {
    width: 300px;
    height: 410px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.month_card_lst li.on .hid_box {
    width: 380px;
    height: 500px;
    visibility: visible;
    opacity: 1;
}

.round_box {
    display: block;
    width: 110px;
    line-height: 38px;
    border: 2px solid #fff;
    margin: 14px auto;
    border-radius: 22px;
    color: #fff;
    text-align: center;
    font-size: 18px;
    margin-top: 48px;
}

.cate_tit,
.cate_location,
.cate_date {
    padding-left: 20px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 2.4;
}

.cate_tit {
    padding-left: 0;
    padding-bottom: 2px;
    border-bottom: 2px solid #ccc;
    margin-left: 20px;
    font-size: 18px;
    margin-bottom: 14px;
    margin-right: 20px;
}

.thum_more {
    display: block;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    border-radius: 50px;
    background-color: #fff;
    margin: 40px auto;
    font-size: 18px;
}

.thum_date {
    color: #fff;
    font-size: 16px;
    line-height: 2.8;
}

.thum_date:before {
    content: "#교육 ";
    color: deepskyblue;
}

.thum_tit {
    color: #fff;
    font-size: 18px;
    line-height: 1.8;
}

#pg1 .detail {
    display: block;
    position: absolute;
    right: 5vw;
    top: 120px;
    color: #fff;
    font-size: 18px;
}


#pg2 {
    clear: both;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#pg2 .pg_fr {
    position: relative;
}

.more {
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 52px;
    border: 1px solid #134aa9;
    line-height: 100px;
    color: #134aa9;
    text-align: center;
    position: absolute;
    right: 0px;
    top: 80px;
    font-weight: 600;
    font-size: 16px;
    transition: 0.5s;
}

.more:hover {
    background-color: #134aa9;
    color: #fff;
}

.lb_box {
    float: left;
    width: 700px;
}

.lb_box li {
    float: left;
}

.lb_box li label {
    display: block;
    color: #23408f;
    font-weight: 600;
    line-height: 72px;
    font-size: 18px;
    cursor: pointer;
    width: 150px;
    height: 72px;
    border: 2px solid #23408f;
    border-radius: 40px;
    text-align: center;
    margin-right: 30px;
    margin-bottom: 20px;
    transition: all 0.5s;
}

.lb_box li label:hover {
    background-color: #23408f;
    color: #fff;
}

.round_thum_box {
    width: 640px;
    float: right;
}

.round_thum_box li {
    width: 640px;
    height: auto;
    display: none;
}

.round_thum_box li iframe {
    display: block;
    width: 100%;
    border-radius: 30px;
}

.intro_ra {
    display: none;
}

#intro_ra1:checked ~ .pic_fr .lb_box li.item1 label {
    background-color: #23408f;
    color: #fff;
    transition: 0.5s;
}

#intro_ra1:checked ~ .pic_fr .round_thum_box li.item1 {
    display: block;
}

#intro_ra2:checked ~ .pic_fr .lb_box li.item2 label {
    background-color: #23408f;
    color: #fff;
    transition: 0.5s;
}

#intro_ra2:checked ~ .pic_fr .round_thum_box li.item2 {
    display: block;
}

#intro_ra3:checked ~ .pic_fr .lb_box li.item3 label {
    background-color: #23408f;
    color: #fff;
    transition: 0.5s;
}

#intro_ra3:checked ~ .pic_fr .round_thum_box li.item3 {
    display: block;
}

#intro_ra4:checked ~ .pic_fr .lb_box li.item4 label {
    background-color: #23408f;
    color: #fff;
    transition: 0.5s;
}

#intro_ra4:checked ~ .pic_fr .round_thum_box li.item4 {
    display: block;
}

#intro_ra5:checked ~ .pic_fr .lb_box li.item5 label {
    background-color: #23408f;
    color: #fff;
    transition: 0.5s;
}

#intro_ra5:checked ~ .pic_fr .round_thum_box li.item5 {
    display: block;
}

/* 끝 */


#pg3 {
    clear: both;
    width: 100%;
    overflow: hidden;
}

#pg3 .pg_fr {
    position: relative;
}

#pg3 .pg_tit {
    text-align: center;
}

#pg3 .pg_com {
    text-align: center;
}

.culture_lst_fr {
    float: left;
}

.culture_lst_fr li {
    float: left;
    margin-right: 130px;
}

.culture_lst_fr li:last-child {
    margin-right: 0;
}

.cul_img_fr img {
    display: block;
    width: 252px;
    height: 312px;
}

.culture_tit {
    color: #333;
}

.culture_date {
    display: block;
    padding-bottom: 150px;
    color: #333;
}

.add_item {
    display: block;
    width: 150px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border: 2px solid #333;
    color: #333;
    clear: both;
    margin: 80px auto;
    background-color: #fff;
    cursor: pointer;
    font-size: 16px;
}

.add_item:hover {
    background-color: #333;
    color: #fff;
    transition: 0.5s;
}


#pg4 {
    clear: both;
    width: 100%;
    background-color: #eff4fe;
}

#pg4 .pg_fr {
    position: relative;
}

#pg4 .more {
    right: auto;
    left: 20px;
    top: 270px;
}

.jumpbox_fr {
    clear: both;
    width: 1000px;
    height: 200px;
    float: right;
    margin-bottom: 50px;
    overflow: hidden;
}

.jumpbox_fr .jumpbox_lst {
    clear: both;
    width: 2000px;
    height: 167px;
}

.jumpbox_fr .jumpbox_lst li {
    float: left;
    margin: 20px;
    width: 300px;
    height: 167px;
    cursor: pointer;
    position: relative;
    transition: 0.5s;
    border-radius: 15px;
    overflow: hidden;
}

.jumpbox_fr li:hover {
    transition: 0.6s;
    position: relative;
    top: -20px;
}

.jumpbox_fr ul li:hover a {
    box-shadow: 20px 20px 30px #000;
}

.jumpbox_fr li:hover a img {
    display: block;
    filter: brightness(110%);
}

.jumpbox_fr li a img {
    display: block;
    width: 250px;
    height: 167px;
    border-radius: 10px;
}

/* 끝 */
/* 공지박스 */
.noti_box_lst {
    clear: both;
}

.noti_box_lst .item {
    display: block;
    background-color: #fff;
    width: 400px;
    height: 400px;
    float: left;
    margin-right: 95px;
    margin-bottom: 200px;
}

.noti_box_lst .item:hover {
    box-shadow: 0px 0px 30px #bbb;
    transition: 0.6s;
    position: relative;
    top: -20px;
}

.noti_box_lst .item:hover .nt_tit2 {
    color: #23408f;
}

.noti_box_lst .item:last-child {
    margin-right: 0;
}

.noti_box_lst .item a {
    display: block;
    color: #333;
}

.nt_tit1,
.nt_date {
    color: #bbb;
}

.nt_tit1 {
    padding-left: 20px;
}

.nt_tit2 {
    clear: both;
    font-size: 24px;
    line-height: 34px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.nt_com {
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-weight: 500;
    color: #525252;
}

.nt_date {
    display: block;
    padding-left: 300px;
    padding-top: 100px;
}


/* 푸터부분 */
.ft {
    clear: both;
    height: 195px;
    background-color: #333333;
}

.ft_fr {
    width: 1400px;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
}

.fnb li {
    float: left;
    padding-right: 30px;
}

.fnb li a {
    display: block;
    color: #fff;
    font-weight: 600;
}

.fnb li a:hover {
    display: block;
    color: #bbb;
}

.snslink {
    font-size: 24px;
    float: right;
}

.snslink li {
    float: left;
    padding-right: 30px;
}

.snslink li:last-child {
    padding-right: 0;
}

.snslink li a {
    display: block;
    color: #bbb;
}

.snslink li a:hover {
    display: block;
    color: #fff;
}

.ft_fr:last-child {
    padding-top: 50px;
}

.copy_box {
    float: left;
    color: #fff;
    font-weight: 100;
    font-size: 14px;
}

.copyright {
    padding-top: 10px;
}

.to_top {
    position: fixed;
    bottom: -150px;
    right: 60px;
    z-index: 99;
    display: block;
    width: 90px;
    height: 90px;
    line-height: 90px;
    text-align: center;
    color: #fff;
    transition: 0.5s;
}

.to_top.on {
    bottom: 50px;
}

.to_top:before {
    content: "";
    clear: both;
    display: block;
    position: absolute;
    width: 2px;
    height: 2px;
    top: 44px;
    left: 44px;
    background-color: #bbb;
    animation-name: circle_ani;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    border-radius: 92px;
}

.to_top i {
    display: block;
    background-color: #23408f;
    color: #fff;
    width: 90px;
    height: 90px;
    line-height: 90px;
    border-radius: 50px;
    position: absolute;
}

@keyframes circle_ani {
    0% {
        transform: scale(0.5);
        opacity: 1;
    }

    100% {
        transform: scale(90);
        opacity: 0;
    }
}

.svg1 {
    position: absolute;
    left: -300px;
    top: 60px;
    z-index: 0;
    display: block;
    width: 400px;
    height: 400px;
    opacity: 0.1;
    animation-name: char_ani1;
    animation-duration: 40s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-out;
}

.svg2 {
    position: absolute;
    right: -300px;
    top: 60px;
    z-index: 0;
    display: block;
    width: 400px;
    height: 400px;
    opacity: 0.1;
    animation-name: char_ani2;
    animation-duration: 40s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-out;
}

.svg3 {
    position: absolute;
    right: 400px;
    bottom: -300px;
    z-index: 0;
    display: block;
    width: 400px;
    height: 400px;
    opacity: 0.1;
    animation-name: char_ani3;
    animation-duration: 40s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-out;
}

.svg4 {
    position: absolute;
    left: 0;
    bottom: -200px;
    z-index: 0;
    display: block;
    width: 400px;
    height: 400px;
    opacity: 0.1;
    animation-name: char_ani4;
    animation-duration: 40s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-out;
}

@keyframes char_ani1 {
    0% {
        left: -300px;
    }

    100% {
        left: 110vw;
    }
}

@keyframes char_ani2 {
    0% {
        right: -300px;
    }

    100% {
        right: 110vw;
    }
}

@keyframes char_ani3 {
    0% {
        right: 400px;
    }

    100% {
        right: 10px;
    }
}

@keyframes char_ani4 {
    0% {
        bottom: -260px;
    }

    100% {
        bottom: -360px;
    }
}
