@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

body, html {
    width: 100%;
    font-family: "NotoSans-Regular";
    -ms-overflow-style: none;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

::-webkit-scrollbar {
    display: none;
}

.wrapper {
    clear: both;
    width: 100%;
}
/*헤더*/
.hd {
    clear: both;
    width: 100%;
    height: 100px;
    background-color: #fff;
    top: 0;
    left: 0;
}

.hd_wrap {
    clear: both;
    width: 1400px;
    height: 100px;
    margin: 0 auto;
    position: relative;
}

.logo {
    display: block;
    float: left;
    padding: 17px 0px;
}

.gnb {
    float: left;
    margin-top: 14px;
    margin-left: 150px;
}

.gnb:before {
    content: "";
    display: block;
    width: 100vw;
    height: 380px;
    position: absolute;
    top: 100px;
    left: 50%;
    margin-left: -960px;
    background-color: #eff4fe;
    z-index: 50;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

.gnb:hover::before {
    visibility: visible;
    opacity: 1;
}

.gnb li {
    float: left;
    position: relative;
}

.gnb li a.dp1 {
    display: block;
    color: #23408f;
    font-size: 22px;
    padding: 22px 50px;
    font-weight: 600;
    font-family: "GmarketSansBold";
}

.gnb li:hover a.dp1 {
    display: block;
    color: #333;
}

.gnb li .sub {
    padding-top: 32px;
    position: absolute;
    top: 90px;
    left: 0;
    z-index: 60;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    width: 100vw;
    min-width: 190px;
}

.gnb:hover li .sub {
    visibility: visible;
    opacity: 1;
}

.gnb li .sub li {
    clear: both;
}

.gnb li .sub li a {
    display: block;
    padding-left: 50px;
    font-size: 18px;
    line-height: 38px;
    color: #333;
    position: relative;
    transition: all 0.3s ease;
}

.gnb li .sub li a:after {
    content: "●";
    position: absolute;
    top: 0;
    right: -20px;
    visibility: hidden;
    opacity: 0;
    color: #23408f;
    font-size: 10px;
    transition: all 0.3s ease;
}

.gnb li .sub li:hover a {
    color: #23408f;
}

.gnb li .sub li:hover a:after {
    display: inline;
    visibility: visible;
    opacity: 1;
}

.tnb {
    float: right;
    margin-top: 10px;
    font-size: 16px;
}

.tnb a, .tnb label {
    display: block;
    float: left;
    padding: 26px 16px;
    cursor: pointer;
    color: #23408f;
}

.search_fr {
    width: 100vw;
    height: 360px;
    position: fixed;
    top: 80px;
    left: 0;
    z-index: 70;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    background-color: #fff;
}

#ck1 {
    display: none;
}

#ck1:checked ~ .search_fr {
    visibility: visible;
    opacity: 1;
}

#search_form {
    clear: both;
    width: 1280px;
    height: 360px;
    position: relative;
    margin: 10px auto;
}

.search_tit {
    text-align: center;
    padding-top: 28px;
    padding-bottom: 15px;
    color: #23408f;
    font-style: 28px;
}

#keyword {
    display: block;
    width: 1000px;
    height: 58px;
    line-height: 58px;
    border: 2px solid #23408f;
    border-radius: 5px;
    float: left;
    margin-left: 109px;
    font-size: 24px;
}

#search_btn {
    display: block;
    width: 58px;
    height: 58px;
    text-align: center;
    line-height: 58px;
    font-size: 34px;
    float: right;
    margin-right: 109px;
    background-color: transparent;
    cursor: pointer;
    color: #23408f;
}

.close_btn1 {
    display: block;
    width: 42px;
    height: 42px;
    position: absolute;
    right: 115px;
    top: 0;
    cursor: pointer;
    font-size: 34px;
    color: #23408f;
}

.calendar {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 70;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    background-color: rgba(0, 0, 0, 0.7);
}

#ck2 {
    display: none;
}

#ck2:checked ~ .calendar {
    visibility: visible;
    opacity: 1;
}

.calendar .calender_fr {
    clear: both;
    width: 1000px;
    height: 570px;
    position: relative;
    margin: 80px auto;
    padding-top: 10px;
    background-color: #fff;
}

.calender_tit {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 15px;
    font-weight: 600;
    font-size: 28px;
    color: #134aa9;
}

.calender_tit span {
    display: block;
}

.calender_arr td, .calender_arr th {
    width: 1000px;
    font-size: 20px;
}

.cal2, .cal3, .cal4, .cal5, .cal6 {
    color: #333;
}

.t_dp {
    color: red;
}

.t_dsp {
    color: blue;
}

.calender_arr th {
    height: 50px;
    background-color: #ccc;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    text-align: center;
}

.calender_arr td {
    height: 80px;
    background-color: #fff;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    vertical-align: top;
    padding-top: 14px;
}

.calender_arr td span {
    padding-left: 14px;
}

.day_coment {
    text-align: right;
    padding-right: 14px;
    font-size: 16px;
    font-weight: 300;
    color: red;
}

#close_btn2 {
    font-size: 24px;
    top: 10px;
    right: -5px;
}

.content {
    clear: both;
    width: 100%;
}
/*비주얼배너*/
#main-visual {
    /*width: 1400px;
    margin: 0 auto;*/
    position: relative;
    /*padding-top: 200px;*/
}

.visual_box {
    overflow: hidden;
}

.visual_fr li {
    float: left;
}

.visual_fr li img {
    display: block;
    width: 100%;
    margin: 0 auto;
}

#visual .btn_fr {
    position: absolute;
    left: 0;
    top: 480px;
    z-index: 10;
}

#visual .btn_fr button {
    background-color: transparent;
    font-size: 20px;
    margin-left: 300px;
    margin-right: 40px;
    display: block;
    float: left;
    line-height: 40px;
    height: 150px;
    position: relative;
    text-align: right;
    cursor: pointer;
}

#visual .btn_fr button:nth-child(2) {
    margin-left: 0;
}

#visual .btn_fr button:before {
    content: "";
    display: block;
    float: left;
    width: 0px;
    height: 3px;
    background-color: #134aa9;
    position: absolute;
    left: 5px;
    top: -18px;
    transition: 0.5s;
}

#visual .btn_fr button.on:before {
    width: 60px;
    top: 72px;
}

#visual .btn_fr button.on {
    color: #134aa9;
    width: 90px;
}
#main-visual .swiper-page-area {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 255px;
}

#main-visual .swiper-pagination {
    text-align: left;
    display: flex;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    align-items: center;
    -webkit-align-items: center;
    left: 0;
    bottom: 130px;
}

#main-visual .swiper-pagination span:not(:first-of-type).swiper-pagination-bullet {
    margin-left: 18px;
}

#main-visual .swiper-pagination-bullet {
    display: flex;

    align-items: center;
    -webkit-align-items: center;
    opacity: 1;
    background: none;
    font-family: 'GmarketSansLight';
    font-size: 16px;
    color: #fff;
}

@keyframes page-progress-ani {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

#main-visual .swiper-pagination-bullet-active .page-progress::after {
    position: absolute;
    content: '';
    height: 2px;
    background: #fff;
    animation: page-progress-ani 3.5s ease 0s 1 normal forwards;
}

#main-visual .swiper-pagination-bullet-active .page-progress {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 2px;
    background-color: #fff;
    top: 0px;
    margin-right: 15px;
}

#main-visual .swiper-pagination-bullet-active {
    width: 96px;
    font-family: 'GmarketSansMedium';
    font-weight: 600;
}

.pg {
    width: 100%;
    min-height: 80vh;
}

.pg:after {
    content: "";
    clear: both;
    display: block;
}

/*이달의교육*/
#pg1 {
    clear: both;
    background-color: #304c99;
    position: relative;
}

.btn_fr {
    position: absolute;
    z-index: 10;
    top: 500px;
    padding-left: 20px;
}

.linkbar {
    clear: both;
    width: 1400px;
    height: 130px;
    margin: 0 auto;
    background-color: #eff4fe;
    margin-top: -10px;
    position: absolute;
    top: -55px;
    left: 50%;
    margin-left: -700px;
    z-index: 2;
}

.linkbar li {
    float: left;
    width: 25%;
}

.linkbar li a {
    display: block;
    font-size: 24px;
    color: #333;
    text-align: center;
    line-height: 130px;
    font-weight: 600;
    font-family: "GmarketSansBold";
}

.linkbar li a i {
    padding-left: 10px;
    transition: 0.5s;
    font-size: 20px;
}

.linkbar li a:hover {
    color: #23408f;
}

.linkbar li a:hover i {
    padding-left: 20px;
}

.pg_fr {
    clear: both;
    width: 1400px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 60px;
}
#pg1 .pg_fr {
    width: 100%;
    padding-top: 180px;
    padding-bottom: 0;
}

.pg_tit {
    color: #333;
    font-family: "GmarketSansBold";
    font-size: 40px;
    line-height: 0.5;
    padding-bottom: 20px;
}

.pg_com {
    display: block;
    font-size: 16px;
}
#pg1 .pg_tit, #pg1 .pg_com {
    width: 1400px;
    margin: 0 auto;
}
#pg1 .pg_tit {
    /*padding-top: 250px;*/
    color: #fff;
    text-align: center;
}

#pg1 .pg_com {
    text-align: center;
    color: #fff;
}

.widget {
    width: 1400px;
    margin: 0 auto;
    margin-top: 40px;
}

.cur_month_fr {
    float: left;
    margin-right: 30px;
    margin-top: 15px;
}

.cur_month_fr span {
    display: block;
    color: #8ebff0;
    text-align: center;
    font-weight: 600;
}

.cur_month_fr .month {
    font-family: 'GmarketSansBold';
    font-size: 38px;
    line-height: 1;
}

.cur_month_fr .year {
    font-family: 'GmarketSansMedium';
    font-size: 14px;
    font-weight: 100;
    line-height: 1.1;
}

.cur_month_lst {
    float: left;
    padding-top: 20px;
}

.cur_month_lst li {
    float: left;
    padding: 13px;
    font-family: 'GmarketSansMedium';
    font-size: 16px;
    color: #8ebff0;
    cursor: pointer;
    position: relative;
}
.cur_month_lst li.on {
    font-family: 'GmarketSansBold';
    color: #fff;
}

.cur_month_lst li.on:before {
    content: "";
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #fff;
    position: absolute;
    top: 2px;
    left: 2px;
}
.cur_month_lst li.on:after {
    content: "";
    display: block;
    width: 18px;
    border-bottom: 1px solid #fff;
    position: absolute;
    bottom: 13px;
    left: 14px;
    
}
#show-sked-sl {
    clear: both;
    width: 100%;
}
.cur_month_cate_fr {
    padding: 70px 0;
    height: 650px;
}

.month_card_lst {
    clear: both;
    /*width: 300vw;*/
    height: 550px;
}

.month_card_lst li {
    float: left;
    margin-right: 130px;
    width: 308px;
    cursor: pointer;
    position: relative;
    transition: 0.5s;
    /* border-radius:15px; */
    overflow: hidden;
}

.month_card_lst li.on {
    width: 369px;
}

.month_card_lst li .thumb_img {
    display: block;
    width: 308px;
    height: 440px;
    border-radius: 15px;
    overflow: hidden;
}

.month_card_lst li.on .thumb_img {
    width: 369px;
    height: 528px;
}

.month_card_lst li .hid_box {
    width: 308px;
    height: 440px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 15px;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.5s;
}

.month_card_lst li.on .hid_box {
    width: 369px;
    height: 528px;
    visibility: visible;
    opacity: 1;
}

.round_box {
    display: block;
    width: 90px;
    line-height: 38px;
    border: 1px solid #fff;
    margin: 14px auto;
    border-radius: 22px;
    color: #fff;
    text-align: center;
    font-size: 18px;
    margin-top: 128px;
}

.cate_tit, .cate_location, .cate_date {
    margin: 0px 40px;
    /*padding-left: 20px;*/
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8;
}

.cate_tit {
    /*padding-left: 0;*/
    padding-bottom: 24px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    /*margin-left: 20px;*/
    font-size: 24px;
    line-height: 1.4;
    text-align: center;
    margin-bottom: 14px;
    /*margin-right: 20px;*/
    padding-top: 0;
}

.thum_more {
    display: block;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    border-radius: 50px;
    color: #333;
    background-color: #fff;
    margin: 40px auto;
    font-family: "GmarketSansBold";
    font-size: 14px;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
}
.month_card_lst .hid_box:hover .thum_more {
    visibility: visible;
    opacity: 1;
}
.thum_com.on {
    display: none;
}

.thum_date {
    color: #fff;
    font-size: 16px;
    line-height: 2.8;
}
.thum_date span {
    color: #00b1e7;
    margin-right: 10px;
}
.thum_tit {
    color: #fff;
    font-size: 18px;
    line-height: 0.8;
    padding-top: 0;
}

#pg1 .detail {
    display: block;
    position: absolute;
    right: 13.5vw;
    top: 320px;
    color: #fff;
    font-size: 18px;
}

/*홍보영상*/
#pg2 {
    clear: both;
    width: 100%;
    position: relative;
}

#pg2 .pg_fr {
    position: relative;
}
#pg2 .pg_tit {
    padding-top: 250px;
}
#pg2 .pg_com {
    padding-bottom: 70px;
}
.more {
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 52px;
    border: 1px solid #134aa9;
    line-height: 100px;
    color: #134aa9;
    text-align: center;
    position: absolute;
    right: 0px;
    bottom: 0;
    font-family: 'GmarketSansBold';
    font-size: 14px;
    transition: 0.5s;
}
#pg2 .more {
    top: 260px;
}
.more:hover {
    background-color: #134aa9;
    color: #fff;
}

.lb_box {
    float: left;
    width: 500px;
}

.lb_box li {
    float: left;
}

.lb_box li label {
    display: block;
    color: #23408f;
    font-weight: 600;
    line-height: 72px;
    font-size: 18px;
    cursor: pointer;
    width: 150px;
    height: 72px;
    border: 2px solid #23408f;
    border-radius: 40px;
    text-align: center;
    margin-right: 10px;
    margin-bottom: 20px;
    transition: all 0.5s;
}

.lb_box li label:hover {
    background-color: #23408f;
    color: #fff;
}

.round_thum_box {
    width: 640px;
    float: right;
}

.round_thum_box li {
    width: 640px;
    height: auto;
    display: none;
}

.round_thum_box li iframe {
    display: block;
    width: 100%;
    border-radius: 30px;
}

.intro_ra {
    display: none;
}

#intro_ra1:checked ~ .pic_fr .lb_box li.item1 label {
    background-color: #23408f;
    color: #fff;
    transition: 0.5s;
}

#intro_ra1:checked ~ .pic_fr .round_thum_box li.item1 {
    display: block;
}

#intro_ra2:checked ~ .pic_fr .lb_box li.item2 label {
    background-color: #23408f;
    color: #fff;
    transition: 0.5s;
}

#intro_ra2:checked ~ .pic_fr .round_thum_box li.item2 {
    display: block;
}

#intro_ra3:checked ~ .pic_fr .lb_box li.item3 label {
    background-color: #23408f;
    color: #fff;
    transition: 0.5s;
}

#intro_ra3:checked ~ .pic_fr .round_thum_box li.item3 {
    display: block;
}

#intro_ra4:checked ~ .pic_fr .lb_box li.item4 label {
    background-color: #23408f;
    color: #fff;
    transition: 0.5s;
}

#intro_ra4:checked ~ .pic_fr .round_thum_box li.item4 {
    display: block;
}

#intro_ra5:checked ~ .pic_fr .lb_box li.item5 label {
    background-color: #23408f;
    color: #fff;
    transition: 0.5s;
}

#intro_ra5:checked ~ .pic_fr .round_thum_box li.item5 {
    display: block;
}

/* 끝 */

/*채용안내*/
#pg3 {
    clear: both;
    width: 100%;
    min-height: 65vh;
    overflow: hidden;
}
#pg3 .pg_fr {
    position: relative;
}
#pg3 .pg_tit {
    margin-top: 200px;
}
#pg3 .img {
    position: absolute;
    right: 100px;
    top: 180px;
    background: url(../images/p3_bg_img.png) no-repeat;
    width: 458px;
    height: 334px;
    z-index: -1;
}
#pg3 .more {
    top: 300px;
}

/*경호탐방, 공지사항*/
#pg4 {
    clear: both;
    position: relative;
    width: 100%;
    background-color: #eff4fe;
}

#pg4 .pg_fr {
    position: relative;
}
#pg4 .pg_fr:last-child {
    margin-top: 250px;
}
#pg4 .pg_tit {
    margin-top: 30px;
}
#pg4 .pg_fr:last-child .pg_tit {
    margin-bottom: 70px;
}
#pg4 .more {
    right: auto;
    left: 20px;
    top: 250px;
}
#sns-sl {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
}
#sns-sl .sns-sl-wrap {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}
#sns-sl .swiper-container {
    position: absolute;
    display: inline-block;
    right: 0;
    top: 150px;
    width: 59.7%;
    height: auto;
    padding: 70px 30px 30px 30px;
    overflow: hidden;
}
#sns-sl .swiper-container .swiper-wrapper .swiper-slide {
    position: relative;
    top: 0;
    transition: all 0.3s ease;
}
#sns-sl .swiper-container .swiper-wrapper .swiper-slide:hover {
    top: -20px;
}
#sns-sl .swiper-container .swiper-wrapper .swiper-slide a:after {
    display: block;
    position: absolute;
    top: 0;
    content: '';
    width: 232px;
    height: 232px;
    border-radius: 15px;
    background-color: #134aa9;
    opacity: 0;
}
#sns-sl .swiper-container .swiper-wrapper .swiper-slide a:hover:after {
    opacity: 0.5;
    transition: opacity 0.2s;
}
#sns-sl .swiper-container .swiper-wrapper .swiper-slide img {
    display: block;
    width: 232px;
    height: 232px;
    border-radius: 15px;
    position: relative;
}
#sns-sl .swiper-container .swiper-wrapper .swiper-slide:hover img {
    box-shadow: 20px 20px 30px #ccc;
}
/* 공지박스 */
.noti_box_lst {
    clear: both;
}

.noti_box_lst .item {
    /*display: block;*/
    background-color: #fff;
    /*width: 400px;*/
    width: calc(33% - 46px);
    /*height: 420px;*/
    float: left;
    /*margin-right: 95px;*/
    margin-right: 70px;
    margin-bottom: 200px;
    box-sizing: border-box;
    transition: 0.6s;
    position: relative;
    top: 0;
}

.noti_box_lst .item:hover {
    box-shadow: 0px 0px 30px #bbb;
    top: -20px;
}

.noti_box_lst .item:hover .nt_tit2 {
    color: #23408f;
}

.noti_box_lst .item:last-child {
    margin-right: 0;
}

.noti_box_lst .item a {
    display: block;
    color: #333;
    padding: 50px 40px 80px;
    /*width: 100%;*/
}

.nt_tit1,
.nt_date {
    color: #ababab;
}
.nt_tit1, .nt_tit2 {
    padding-top: 0;
}
.nt_tit1 {
    /*padding-left: 20px;*/
    font-size: 18px;
    font-weight: 500;
}

.nt_tit2 {
    /*clear: both;*/
    font-size: 28px;
    line-height: 40px;
    font-weight: bold;
    /*padding-left: 20px;
    padding-right: 20px;*/
    /*padding-bottom: 20px;*/
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.nt_com {
    display: block;
    /*padding-left: 20px;
    padding-right: 20px;*/
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
    color: #787d86;
    margin-top: 40px;
}

.nt_date {
    display: block;
    margin-top: 80px;
    font-family: 'GmarketSansMedium';
    font-size: 13px;
    position: relative;
    /*padding-left: 300px;*/
    /*padding-top: 100px;*/
}
.nt_date i {
    color: #777;
    font-size: 40px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    transition: transform 0.5s;
    transform-origin: center center;
}
.noti_box_lst .item:hover .nt_date i {
    color: #23408f;
    transform: rotate(180deg);
}

/* 푸터 */
.ft {
    clear: both;
    height: 276px;
    background-color: #333333;
}

.ft_fr {
    width: 1400px;
    margin: 0 auto;
    padding: 30px 0px;
}
.ft_top {
    position: relative;
    display: block;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #484848;
}
.fnb li {
    float: left;
    padding-right: 30px;
}

.fnb li a {
    display: block;
    color: #f7f7f7;
    font-size: 14px;
}

.fnb li a:hover {
    display: block;
    color: #bbb;
}

.snslink {
    font-size: 24px;
    float: right;
}

.snslink li {
    float: left;
    padding-right: 30px;
}

.snslink li:last-child {
    padding-right: 0;
}

.snslink li a {
    display: block;
    color: #777777;
    transition: all 0.3s ease;
}

.snslink li a:hover {
    color: #fff;
}

.ft_info {
    padding-top: 50px;
    color: #767676;
}
.ft_logo {
    float: left;
}
.copy_box {
    float: left;
    margin-top: 3px;    
    margin-left: 50px;
    font-weight: 100;
    font-size: 14px;
}

.copyright {
    padding-top: 10px;
}

.to_top {
    position: fixed;
    bottom: -150px;
    right: 60px;
    z-index: 99;
    display: block;
    width: 90px;
    height: 90px;
    line-height: 90px;
    text-align: center;
    transition: 0.5s;
}

.to_top.on {
    bottom: 50px;
}

.to_top:before {
    content: "";
    clear: both;
    display: block;
    position: absolute;
    width: 2px;
    height: 2px;
    top: 44px;
    left: 44px;
    background-color: #bbb;
    animation-name: circle_ani;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    border-radius: 92px;
}

.to_top i {
    display: block;
    background-color: #23408f;
    color: #fff;
    width: 90px;
    height: 90px;
    line-height: 90px;
    border-radius: 50px;
    position: absolute;
}

/*svg 오브젝트*/
.svg_fr {
    opacity: 0.1;
}
.pg_bg1 {
    display: inline-block;
    width: 450px;
    height: 450px;
    background: url(../images/p1_bg1.svg) no-repeat 0 0;
    background-size: contain;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-1200px, -500px);
    animation: pg_bg1_move 3s linear 0s infinite alternate;
}
.pg_bg2 {
    display: inline-block;
    width: 360px;
    height: 598px;
    background: url(../images/p1_bg2.svg) no-repeat 0 0;
    background-size: contain;
    position: absolute;
    top: 0;
    left: 50%;
    animation: pg_bg2_move 10s linear 0s infinite alternate;
    transform: translate(200px, 0px);
}
.pg_bg3 {
    display: inline-block;
    width: 700px;
    height: 350px;
    background: url(../images/p1_bg3.svg) no-repeat 0 0;
    background-size: contain;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(100px, 560px);
    animation: pg_bg3_move 10s linear 0s infinite alternate;
}
.pg_bg4 {
    display: inline-block;
    width: 450px;
    height: 450px;
    background: url(../images/p2_bg1.svg) no-repeat 0 0;
    background-size: contain;
    position: absolute;
    top: 50%;
    left: 50%;
    /*transform: translate(100px, 100px);*/
    transform: translate(-600px, 100px);
    animation: pg_bg4_move 3s linear 0s infinite alternate;
}
.pg_bg5 {
    display: inline-block;
    width: 500px;
    height: 500px;
    background: url(../images/p4_bg1.svg) no-repeat 0 0;
    background-size: contain;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-1200px, -680px);
    animation: pg_bg5_move 10s linear 0s infinite alternate;
}
.pg_bg6 {
    display: inline-block;
    width: 450px;
    height: 450px;
    background: url(../images/p2_bg1.svg) no-repeat 0 0;
    background-size: contain;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(500px, -900px);
    animation: pg_bg6_move 10s linear 0s infinite alternate;
}
.pg_bg7 {
    display: inline-block;
    width: 700px;
    height: 350px;
    background: url(../images/p1_bg3.svg) no-repeat 0 0;
    background-size: contain;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(100px, 200px);
    animation: pg_bg7_move 10s linear 0s infinite alternate;
}
@keyframes pg_bg1_move {
    from {
        top: 50%;
    }

    to {
        top: 60%;
    }
}
@keyframes pg_bg2_move {
    from {
        left: 50%;
    }

    to {
        left: 70%;
    }
}
@keyframes pg_bg3_move {
    from {
        left: 50%;
    }

    to {
        left: 70%;
    }
}
@keyframes pg_bg4_move {
    from {
        top: 50%;
    }

    to {
        top: 70%;
    }
}
@keyframes pg_bg5_move {
    from {
        left: 50%;
    }

    to {
        left: 70%;
    }
}
@keyframes pg_bg6_move {
    from {
        top: 50%;
    }

    to {
        top: 70%;
    }
}
@keyframes pg_bg7_move {
    from {
        left: 50%;
    }

    to {
        left: 70%;
    }
}
@keyframes circle_ani {
    0% {
        transform: scale(0.5);
        opacity: 1;
    }

    100% {
        transform: scale(90);
        opacity: 0;
    }
}